//
//  Variables
//

// Colors
//

// Grays
$black: #1a1919;
$gray25: lighten($black, 25%);
$gray50: lighten($black, 50%);
$gray75: lighten($black, 75%);
$gray85: lighten($black, 85%);
$gray90: lighten($black, 90%);
$white: #fff;
$gray-bg: #f0f0f0;

// Branding
$brand-primary: #1eb2a6;
$brand-primary-dark: #064f49;
$brand-secondary: #f6a500;

// Global colors
$primary-text-color: $black;
$secondary-text-color: #555;
$heading-text-color: $white;
$body-color: $black;
$page-color: $gray90;
$link-color: #8693ab;
$link-hover-color: $brand-primary;
$link-visited-color: $link-color;
$selection-background: $brand-primary;
$selection-foreground: $primary-text-color;
$border-color: $gray75;
// Tested AAA colors on http://accessible-colors.com/
$status-color-light: #ddf2c9;
$status-color: #9fbd84;
$status-color-dark: #234600;
$warning-color-light: #f6f3d0;
$warning-color: #f3a530;
$warning-color-dark: #7f4100;
$error-color-light: #fce6e6;
$error-color: #f09090;
$error-color-dark: #8c2e0b;

// Nav
$tabs-bg-color: #f9f9f9;
$tabs-bg-hover-color: #ececec;
$tabs-text-color: #333;
$tabs-border-color: #cacaca;

// Fonts
//

// @import url("https://cloud.typography.com/6457712/6273812/css/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@300;400;900&display=swap");

$base-font-family: "Work Sans", sans-serif;
$subtitle-font-family: "Anton", sans-serif;

// Define the global base font size
// Since $px-base-font-size is defined on the <html> tag,
// it will affect the way browsers and theme helpers calculate rem values
// @see _html-elements.scss
//
$px-base-font-size: 18px !default;
$px-base-font-size-mobile: 16px !default;
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Modular scale font-sizes
// Use Bourbon helper or set custom values
// @see https://bourbon.io/docs/#modular-scale
// @see https://www.modularscale.com/
//
$modular-scale-ratio: perfect-fifth;
$modular-scale-base: 1em;
$font-size-xxl: modular-scale(3);
$font-size-xl: modular-scale(2);
$font-size-lg: modular-scale(1);
$font-size-normal: modular-scale(0);
$font-size-md: modular-scale(-1);
$font-size-sm: modular-scale(-2);
$font-size-xs: modular-scale(-3);

// Buttons global vars
//
$button-bg-color: $gray75;
$button-bg-hover-color: $gray50;
$button-font-family: $base-font-family;
$button-prim-bg-color: $link-color;
$button-prim-text-color: $white;
$button-text-color: $gray25;

// Forms global vars
//
$form-background-color: $white;
$form-border-color: $gray75;
$form-item-font: $base-font-family;
$form-label-color: $secondary-text-color;
// $form-label-font: $header-font-family;
$form-text-color: $primary-text-color;
$form-text-size: $font-size-md;
