<template>
  <layout>
    <SectionOverlayCenter
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h2>Éviter les dents creuses</h2>
          <p>Lancé en 2009 en Belgique, quelques temps après la France, Chronostock s'est rapidement développé malgré une idée originale un peu dingue : installer des magasins temporaires dans des emplacements inoccupés durant un court laps de temps.</p>
          <p>Pour le propriétaire des lieux, c'est un loyer qui rentre en attendant un locataire sur le long terme. Mais la présence de Chronostock évite aussi les magasins vides, les dents creuses, dans une rue ou surface commerciale.</p>
          <div class="recommanded">
            <h3>À lire aussi</h3>
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <g-link to="/pop-up/comme-des-garcons/">
                  <div class="article__img">
                    <img src="@/assets/images/comme-des-garcons.jpg" alt="Comme Des Garçons" />
                  </div>
                  <p>Par cette initiative, COMME DES GARÇONS entendait augmenter sa notoriété en déclinant son imaginaire et sa culture de marque.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/moms-pop-up-store/">
                  <div class="article__img">
                    <img src="@/assets/images/mom-s-pop-up-store.jpg" alt="Mom's Pop-up store" />
                  </div>
                  <p>« MOM’S Pop-up store » Une marque de mode californienne. C’est néanmoins au Japon…</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/petits-independants/">
                  <div class="article__img">
                    <img src="@/assets/images/type-independant.jpg" alt="Local éphémère" />
                  </div>
                  <p>On constate également que la tendance pop-up store séduit de nombreux artistes et artisans.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/lieux-exploitation/">
                  <div class="article__img">
                    <img src="@/assets/images/type-lieux.jpg" alt="image foire" />
                  </div>
                  <p>Le pop-up store investit des locaux très différents selon l’univers de la marque.</p>
                </g-link>
              </div>
            </div>
          </div>
          <h2>Pas que du déstockage</h2>
          <p>Pour attirer le chaland, l'enseigne mise sur les nombreuses marques qu'elle commercialise. Elle se fournit non pas en direct mais bien chez des spécialistes du déstockage, principalement des Français ou des Allemands car les marchés y sont gigantesques.</p>
          <p>Mais pour les petits objets à quelques euros, comme les moules en silicone, les couverts ou les décorations diverses, pas question de parler de déstockage : tout est neuf et provient de Chine. Et bien entendu, au prix où c'est vendu, difficile de résister d'autant que la prochaine fois que vous passerez dans le coin, le magasin aura peut-être déjà disparu... Quant à la garantie de deux ans, elle est appliquée, que ce soit dans les magasins physiques ou via le site internet.</p>
          <p>En fonction des saisons, on peut retrouver de cinq à quinze magasins dans le pays. Ce qui signifie aussi que la plupart des contrats d'employés sont à durée déterminée, calquée sur l'espérance de vie des commerces.</p>
          <p>Car c'est là tout le paradoxe : peu d'enseignes ont ouvert autant de magasins en si peu de temps, mais elles sont aussi peu nombreuses à en avoir fermé le même nombre !</p>
          <cite>Jean-Christophe Willems — 20 Février 2017</cite>
        </div>
        <div class="articles">
          <g-link class="articles__el l-f-grid__column" to="/pop-up/structure-commerciale/">
            <div class="article__item">
              <img src="@/assets/images/type-structure.jpg" alt="Structure éphémère" />
              <h4>Type de surfaces commerciales</h4>
              <p>
                Il existe différentes apparences pour accompagner le style du
                produit exposé.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/pop-up/petits-independants">
            <div class="article__item">
              <img src="@/assets/images/type-independant.jpg" alt />
              <h4>Petits indépendants artisans, artistes,…</h4>
              <p>
                On constate également que la tendance pop-up store séduit de
                nombreux artistes et artisans.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/pop-up/lieux-exploitation">
            <div class="article__item">
              <img src="@/assets/images/type-lieux.jpg" alt />
              <h4>Type de lieux d’exploitation</h4>
              <p>
                Le pop-up store investit des locaux très différents selon
                l’univers de la marque.
              </p>
            </div>
          </g-link>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionOverlayCenter from "~/components/SectionOverlayCenter.vue";
export default {
  name: "Chronostock",
  components: {
    SectionOverlayCenter
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "../../images/chronostock.jpg",
          title: "Chronostock"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";
.legal {
  margin-top: -60px;
  margin-bottom: 70px;
}
.container__legal {
  padding: 20px 5% 20px;
  background: $white;
  @include mappy-query(b-medium) {
    padding: 20px 10% 20px;
  }
}
h2 {
  font-size: modular-scale(5);
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}
p {
  margin-bottom: 30px;
}

.recommanded {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid $gray75;
  border-bottom: 1px solid $gray75;
  .l-f-grid {
    .l-f-grid__column {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $brand-primary-dark;
        margin-bottom: rhythm(1);
      }
      &:hover {
        a {
          color: $brand-primary;
        }
      }
      .article__img {
        width: 30%;
        height: 80px;
        display: block;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      p {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: modular-scale(-1);
      }
    }
  }
}

.section__subject {
  z-index: 1;
  margin-bottom: 70px;
}
.articles {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 5% 30px;
  @include mappy-query(b-medium) {
    padding: 60px 10% 30px;
  }
  &__el {
    width: 100%;
    color: $black;
    @include mappy-query(b-medium) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mappy-query(b-big) {
      width: calc(100% / 3);
    }
  }
}
.article__item {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    background: $white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.1);
    img {
      transition: all 5s ease-in-out;
      transform: scale(1.1);
    }
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: all 2s ease-in-out;
  }
  h4 {
    font-size: modular-scale(1);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rhythm(1);
    padding: 0 10px;
  }
  p {
    font-size: modular-scale(-1);
    margin-top: rhythm(1/4);
    padding: 0 10px;
  }
}
</style>