<template>
  <layout>
    <SectionOverlayCenter
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h2>Une tendance éphémère</h2>
          <p>L'éphémère a le vent en poupe. Clubbing et shopping s'improvisent de plus en plus dans des lieux insolites avec une durée de vie bien limitée dans le temps. Le bon vieux magasin, vitrine de la marque est une chose, le " pop-up store " en est une autre. Une technique marketing qui permet de créer l'évènement autour de collections capsules ou de pièces en édition limitée. Comme des Garçons a entamé le mouvement avec ses "guerillas store", Cacharel, Thierry Mugler, le concept store Colette et Zero + Maria Cornejo, s'y mettent.</p>
          <cite>Mélody Kandyoti — Le 01 Juillet 2009</cite>
          <div class="recommanded">
            <h3>À lire aussi</h3>
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/chronostock.jpg" alt="Chronostock" />
                  </div>
                  <p>« Chronostock » Stratégie d’implatation basé sur l’exploitation d’espace éphémère.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/mom-s-pop-up-store.jpg" alt="Mom's Pop-up store" />
                  </div>
                  <p>« MOM’S Pop-up store » Une marque de mode californienne. C’est néanmoins au Japon…</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/type-independant.jpg" alt="Local éphémère" />
                  </div>
                  <p>On constate également que la tendance pop-up store séduit de nombreux artistes et artisans.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img
                      src="@/assets/images/type-lieux.jpg"
                      alt="image de foire type de lieux d'exploitation"
                    />
                  </div>
                  <p>Le pop-up store investit des locaux très différents selon l’univers de la marque.</p>
                </g-link>
              </div>
            </div>
          </div>
          <h2>Wanted : 10 ans d’archives Comme des Garçons au 10 rue de la Paix</h2>
          <p>La boutique australienne Dot Comme a ouvert un pop-up store qui propose le meilleur des archives Comme des Garçons pendant la Fashion Week de Paris.</p>
          <p>C’est à quelques pas des bureaux de Comme des Garçons à Paris, sur la place Vendôme, que Octavius La Rosa, un australien qui collectionne la mode de Rei Kawakubo a ouvert une boutique éphémère dans le premier arrondissement. A Melbourne, il possède la boutique Dot Comme et un e-shop bien connu des initiés, dans lesquels on retrouve une sélection de pièces Comme des Garçons Homme Plus, Junya Watanabe et toute l’avant-garde japonaise allant d’Issey Miyake à Yohji Yamamoto en passant par la mode électrique du belge Walter Van Beirendonck. Sa collection personnelle est constituée de 3500 pièces, datant du milieu des années soixante-dix à nos jours, collectées depuis ses quatorze ans. La Rosa, qui a toujours voulu offrir ses pièces au marché parisien, a installé sa boutique dans un garage au 10 rue de la Paix, avec une sélection de pièces allant de 1991 à 2001 : une décennie d’archives à shopper jusqu’au 6 octobre de 11h à 23h tous les jours.</p>
          <cite>Hugo Compain — Le 05 Octobre 2016</cite>
        </div>
        <div class="articles">
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-structure.jpg" alt />
              <h4>Type de surfaces commerciales</h4>
              <p>
                Il existe différentes apparences pour accompagner le style du
                produit exposé.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-independant.jpg" alt />
              <h4>Petits indépendants artisans, artistes,…</h4>
              <p>
                On constate également que la tendance pop-up store séduit de
                nombreux artistes et artisans.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-lieux.jpg" alt />
              <h4>Type de lieux d’exploitation</h4>
              <p>
                Le pop-up store investit des locaux très différents selon
                l’univers de la marque.
              </p>
            </div>
          </g-link>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionOverlayCenter from "~/components/SectionOverlayCenter.vue";
export default {
  name: "Comme-Des-Garçons",
  components: {
    SectionOverlayCenter
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "../../images/cdg-overlay-testimony.jpg",
          title: "Comme-Des-Garçons",
          text: "Rei Kawakubo"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";
.legal {
  margin-top: -60px;
  margin-bottom: 70px;
}
.container__legal {
  padding: 20px 5% 20px;
  background: $white;
  @include mappy-query(b-medium) {
    padding: 20px 10% 20px;
  }
}
h2 {
  font-size: modular-scale(5);
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}
p {
  margin-bottom: 30px;
}

.recommanded {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid $gray75;
  border-bottom: 1px solid $gray75;
  .l-f-grid {
    .l-f-grid__column {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $brand-primary-dark;
        margin-bottom: rhythm(1);
      }
      &:hover {
        a {
          color: $brand-primary;
        }
      }
      .article__img {
        width: 30%;
        height: 80px;
        display: block;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      p {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: modular-scale(-1);
      }
    }
  }
}

.section__subject {
  z-index: 1;
  margin-bottom: 70px;
}
.articles {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 5% 30px;
  @include mappy-query(b-medium) {
    padding: 60px 10% 30px;
  }
  &__el {
    width: 100%;
    color: $black;
    @include mappy-query(b-medium) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mappy-query(b-big) {
      width: calc(100% / 3);
    }
  }
}
.article__item {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    background: $white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.1);
    img {
      transition: all 5s ease-in-out;
      transform: scale(1.1);
    }
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: all 2s ease-in-out;
  }
  h4 {
    font-size: modular-scale(1);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rhythm(1);
    padding: 0 10px;
  }
  p {
    font-size: modular-scale(-1);
    margin-top: rhythm(1/4);
    padding: 0 10px;
  }
}
</style>