<template>
  <layout>
    <section class="experience">
      <div
        class="overlay-bg option--2 l-f-grid"
        style="height:100vh"
        :style="{
          'background-image': hover
            ? 'url(' + hover + ')'
            : 'url(/images/image-overlay-experience.jpg)',
        }"
      >
        <label
          class="l-f-grid__column"
          v-for="(item, index) in tags"
          :key="index"
          style="height:50vh"
          @mouseover="hover = item.image"
          @mouseleave="hover = false"
        >
          <input
            type="checkbox"
            :name="item.tag"
            :value="item.tag"
            v-model="selectedTags"
            :id="item.tag"
          />
          <div class="bloc__text">
            <h2>{{ item.tag }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </label>
      </div>

      <div
        class="overlay-bg option--2 l-f-grid"
        style="height:100vh"
        :style="{
          'background-image': hover2
            ? 'url(' + hover2 + ')'
            : 'url(https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687)',
        }"
      >
        <label
          class="l-f-grid__column"
          v-for="(item, index) in tags2"
          :key="index"
          style="height:50vh"
          @mouseover="hover2 = item.image"
          @mouseleave="hover2 = false"
        >
          <input
            type="checkbox"
            :name="item.tag"
            :value="item.tag"
            v-model="selectedTags"
            :id="item.tag"
          />
          <div class="bloc__text">
            <h2>{{ item.tag }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </label>
      </div>

      <div
        class="overlay-bg option--4 l-f-grid"
        style="height:100vh"
        :style="{
          'background-image': hover3
            ? 'url(' + hover3 + ')'
            : 'url(/images/experience/image-bg-3.jpg)',
        }"
      >
        <label
          class="l-f-grid__column"
          v-for="(item, index) in tags3"
          :key="index"
          style="height:50vh"
          @mouseover="hover3 = item.image"
          @mouseleave="hover3 = false"
        >
          <input
            type="checkbox"
            :name="item.tag"
            :value="item.tag"
            v-model="selectedTags"
            :id="item.tag"
          />
          <div class="bloc__text">
            <h2>{{ item.tag }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </label>
      </div>

      <div
        class="overlay-bg option--4 l-f-grid"
        style="height:100vh"
        :style="{
          'background-image': hover4
            ? 'url(' + hover4 + ')'
            : 'url(/images/experience/image-bg-3.jpg)',
        }"
      >
        <label
          class="l-f-grid__column"
          v-for="(item, index) in tags4"
          :key="index"
          style="height:50vh"
          @mouseover="hover4 = item.image"
          @mouseleave="hover4 = false"
        >
          <input
            type="checkbox"
            :name="item.tag"
            :value="item.tag"
            v-model="selectedTags"
            :id="item.tag"
          />
          <div class="bloc__text">
            <h2>{{ item.tag }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </label>
      </div>
    </section>
    <section class="projects__results l-constrain">
      <div v-show="selectedTags.length != 0">
        <h3>Filters:</h3>
        <span v-for="tag in selectedTags" class="label" :key="tag">
          {{ tag }}
        </span>
      </div>
    </section>
    <div class="projects l-constrain">
      <section class="projects__list">
        <div class="l-f-grid l-f-grid--cols-2">
          <div
            class="l-f-grid__column"
            v-for="(card, index) in activeCards"
            :key="index"
          >
            <g-link :to="card.node.path">
              <article class="project">
                <figure>
                  <img :src="card.node.image_teaser" :alt="card.node.title" />
                </figure>
                <div class="content">
                  <h2>
                    <g-link :to="card.node.path">
                      {{ card.node.title }}
                    </g-link>
                  </h2>
                  <!-- <p><span v-for="(tag, index) in project.node.tags" :key="index">{{ tag }}</span></p> -->
                  <p class="description">{{ card.node.summary }}</p>
                </div>
              </article>
            </g-link>
          </div>
        </div>
      </section>
    </div>
  </layout>
</template>

<page-query>
  query Project {
    allProject {
      edges {
        node {
          path
          title
          image_teaser
          featured
          summary
          tags
          filters
        }
      }
    }
  }
</page-query>

<script>
import Footer from "~/components/Footer.vue";
export default {
  name: "Expérience",
  metaInfo: {
    title: "Se rendre éphémère",
    meta: [
      {
        name: "description",
        content: "Faites de votre marque un pop-up store",
      },
    ],
  },
  components: {
    Footer,
  },
  data() {
    return {
      hover: false,
      hover2: false,
      hover3: false,
      hover4: false,
      tags: [
        {
          tag: "Événementialisé",
          image: "/images/experience/image-bg-1-1.jpg",
          text:
            "Vous vous penchez plus sur une structure permettant de vous faire un nom, de faire connaître vos produit auprès d’une clientèle prête à entrer dans votre boutique éphémère.",
        },
        {
          tag: "Accessibilisé",
          image: "/images/experience/image-bg-1-2.jpg",
          text:
            "Vous êtes « pure players », vous avez déjà une certaine clientèle mais vous voulez les surprendre en leur proposant un événement propre à votre marque. ",
        },
      ],
      tags2: [
        {
          tag: "Petit indépendant",
          image:
            "https://blog-fr.orson.io/wp-content/uploads/2017/06/jpeg-ou-png.jpg",
          text:
            "Vous vous penchez plus sur une structure permettant de vous faire un nom, de faire connaître vos produit auprès d’une clientèle prête à entrer dans votre boutique éphémère.",
        },
        {
          tag: "Grande distribution",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text:
            "Vous êtes « pure players », vous avez déjà une certaine clientèle mais vous voulez les surprendre en leur proposant un événement propre à votre marque. ",
        },
      ],
      tags3: [
        {
          tag: "1 jour à 3 semaines",
          image:
            "https://blog-fr.orson.io/wp-content/uploads/2017/06/jpeg-ou-png.jpg",
          text:
            "événementiel, marketing, effet de surprise, sentiment d’urgence",
        },
        {
          tag: "1 mois à 3 mois",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text: "marketing, test, occupation d’un espace",
        },
        {
          tag: "3 mois à 6 mois",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text:
            "marketing, test, occupation d’un espace (la phase test est différentes et peut occasionner une pérennisation du concept)",
        },
        {
          tag: "6 mois à 1 an",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text: "test, fidélisation, occupation d’un espace, pérennisation",
        },
      ],
      tags4: [
        {
          tag: "Centre commercial",
          image:
            "https://blog-fr.orson.io/wp-content/uploads/2017/06/jpeg-ou-png.jpg",
          text:
            "événementiel, marketing, effet de surprise, sentiment d’urgence",
        },
        {
          tag: "Grand espace",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text: "marketing, test, occupation d’un espace",
        },
        {
          tag: "Cellule vide",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text:
            "marketing, test, occupation d’un espace (la phase test est différentes et peut occasionner une pérennisation du concept)",
        },
        {
          tag: "Destockage",
          image: "https://pic.clubic.com/v1/images/1754952/raw",
          text: "test, fidélisation, occupation d’un espace, pérennisation",
        },
      ],
      selectedTags: [],
    };
  },
  computed: {
    activeCards: function() {
      if (this.selectedTags.length == 0) return this.$page.allProject.edges;

      var activeCards = [];
      var filters = this.selectedTags;

      this.$page.allProject.edges.forEach(function(card) {
        function cardContainsFilter(filter) {
          return card.node.tags.indexOf(filter) != -1;
        }

        if (filters.every(cardContainsFilter)) {
          activeCards.push(card);
        }
      });

      return activeCards;
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/_abstract.scss";

::v-deep header {
  display: none;
}
.projects {
  position: relative;
}
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.experience {
  overflow-y: hidden;
}
.bloc__text {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  color: $white;
  @include mappy-query(b-medium) {
    width: 60%;
  }
  h2 {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include mappy-query(b-medium) {
      font-size: 52px;
    }
  }
}
.project__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.input {
  width: calc(100% / 3);
  margin-bottom: 20px;
}

.project__filter {
  .input {
    width: 100%;
    height: 50vh;
    .label__item {
      height: 50vh;
      width: 100%;
      display: block;
      label {
        background: red;
        width: 100%;
        height: 100%;
        display: block;
        cursor: default;
      }
    }
  }
}

.projects__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 60px auto;
  background-color: lighten($brand-primary-dark, 80%);
  padding: 40px 100px;
  p {
    text-align: center;
    color: red;
  }
  span {
    margin: 20px 40px;
    padding: 10px 20px;
    display: inline-block;
    background: $brand-primary;
    color: $white;
    border-radius: 6px;
  }
}
input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  height: 50vh;
  width: 100%;
  color: $white;
  background-position: center;
  background-size: cover;
  text-align: center;
  border: 1px solid $black;
}

.overlay-bg {
  background-image: url(https://www.canalvie.com/polopoly_fs/1.10821299.1584376634!/image/covid-19-symptome.jpg_gen/derivatives/cvlandscape_670_377/covid-19-symptome.jpg);
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}

.l-f-grid__column {
  a {
    text-decoration: none;
  }
}
.option--4 {
  .l-f-grid__column {
    width: 50%;
    flex-direction: row;
    .bloc__text {
      width: 100%;
    }
  }
}
.project {
  position: relative;
  background: $white;
  overflow: hidden;
  margin-bottom: 80px;
  padding: 40px 40px;
  &:after {
    font-size: 0px;
    content: ".";
    position: absolute;
    border-bottom: 20px solid $gray-bg;
    border-left: 20px solid transparent;
    right: 0;
    bottom: 0;
  }
  .content {
    display: flex;
    flex-flow: column;
    height: 300px;
    text-decoration: none;
    margin-top: 40px;
    h2 {
      margin-bottom: 30px;
      font-family: "Anton", sans-serif;
      text-transform: uppercase;
      font-size: 48px;
      text-decoration: none;
      a {
        color: $black;
        text-decoration: none;
      }
    }
    p {
      color: $black;
      margin: rhythm(1/3) 0 0;
      span {
        &:not(:last-child) {
          &:after {
            content: ",";
            display: inline;
            margin-right: 0.125em;
          }
        }
      }
    }
  }
  figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 400px;
    img {
      transform: scale(1.3);
      transition: 0.5s transform ease-in-out;
    }
  }
  &:hover {
    img {
      transform: scale(1);
      transition: 0.5s transform ease-in-out;
    }
  }
}
</style>
