<template>
  <layout>
    <SubNavigation v-for="(subnav, index) in subnavConcept" :key="index" :subnav="subnav" />
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <SectionBigTitle
      BigTitle="Du plus petit </br>au plus grand"
      BigTitleText="Trucks, bus, container, boutiques, bars, stands... Les pop-up stores revêtent des formes très variées. De même, les lieux d'implantations sont très divers : rue, aire d'autoroute, local vacant... Revue de détail."
    />
    <div class="projects l-constrain">
      <section class="projects__filter" id="liste-des-espaces">
        <div v-for="(category, index) in categories" :key="index">
          <input
            type="radio"
            v-model="selectedCategory"
            :item="category"
            :value="category"
            :id="category"
          />
          <label :for="category">{{ category }}</label>
        </div>
      </section>
      <section class="projects__list">
        <div class="l-f-grid l-f-grid--cols-3">
          <div class="l-f-grid__column" v-for="(project, index) in filteredProject" :key="index">
            <g-link :to="project.node.path">
              <article class="project">
                <div class="content__img">
                  <div
                    class="img"
                    v-bind:style="{
                      'background-image':
                        'url(' + project.node.image_teaser + ')',
                    }"
                  />
                </div>
                <div class="content">
                  <h2>
                    <g-link :to="project.node.path">{{ project.node.title }}</g-link>
                  </h2>
                  <!-- <p><span v-for="(tag, index) in project.node.tags" :key="index">{{ tag }}</span></p> -->
                  <p class="description">{{ project.node.summary }}</p>
                </div>
              </article>
            </g-link>
          </div>
        </div>
      </section>
    </div>
    <SectionOverlayCenter
      v-for="(overlay, index) in overlayExperience"
      :key="index + 2"
      :overlay="overlay"
    />
    <Testimony />
  </layout>
</template>

<page-query>
  query Project {
    allProject {
      edges {
        node {
          path
          title
          image_teaser
          featured
          summary
          tags
          filters
        }
      }
    }
  }
</page-query>

<script>
import SubNavigation from "~/components/SubNavigation.vue";
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SectionBigTitle from "~/components/SectionBigTitle.vue";
import SectionOverlayCenter from "~/components/SectionOverlayCenter.vue";
import Testimony from "~/components/Testimony.vue";

export default {
  name: "Pop-up",
  metaInfo: {
    title: "Liste de pop-up store",
    meta: [{ name: "description", content: "Liste de pop-up store" }]
  },
  components: {
    SubNavigation,
    SectionOverlayBanner,
    SectionBigTitle,
    SectionOverlayCenter,
    Testimony
  },
  data() {
    return {
      subnavConcept: [
        {
          title: "L'univers",
          titleSpan: "des pop-up stores",
          list: [
            {
              linkAnchor: "#liste-des-espaces",
              linkAnchorText: "Liste des espaces"
            }
          ],
          listExperience: "Se rendre éphémère",
          listExperienceLink: "/pop-up/experience"
        }
      ],
      overlayHeader: [
        {
          backgroundImage: "./../images/image-overlay-popup.jpg",
          title: "Pop-up store : formes diverses, lieux divers",
          text:
            "Les pop-up stores revêtent des formes très variées. De même, les lieux d'implantation sont très divers : rue, aire d'autoroute, local vacant..."
        }
      ],
      overlayExperience: [
        {
          backgroundImage: "./../images/image-overlay-experience.jpg",
          title: "En vue d’ouvrir une boutique éphémère ? Tentez l’expérience",
          text:
            "Nous vous guidons vers les différents critères qui pourraient être le plus compatible avec ce que vous aimeriez entreprendre. Découvrez quel type de structure vous conviendrait le mieux.",
          buttonLink: "/pop-up/experience",
          button: "Se rendre éphémère"
        }
      ],
      categories: [
        "Tout afficher",
        "Structure commerciale",
        "Lieu d'exploitation"
      ],
      selectedCategory: "Tout afficher"
    };
  },
  computed: {
    filteredProject: function() {
      var category = this.selectedCategory;

      if (category === "Tout afficher") {
        return this.$page.allProject.edges;
      } else {
        return this.$page.allProject.edges.filter(function(project) {
          return project.node.filters.includes(category);
        });
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/_abstract.scss";

.projects {
  position: relative;
}

.projects__filter {
  display: flex;
  padding: rhythm(5) 0 rhythm(3);
  text-align: left;
  @include mappy-query(b-medium) {
    text-align: center;
  }
  input {
    display: none;
  }
  label {
    font-family: $base-font-family;
    color: lighten($black, 60%);
    cursor: pointer;
    display: inline-block;
    font-size: modular-scale(1);
    margin-right: 40px;
    font-weight: 400;
    &:hover {
      color: $gray25;
    }
    &:after {
      content: "";
      display: block;
      height: 2px;
    }
  }
  input[type="radio"]:checked + label {
    color: $black;
    &:after {
      background: $black;
    }
  }
}

.l-f-grid__column {
  padding-left: 20px;
  padding-right: 20px;
  a {
    text-decoration: none;
  }
  @include mappy-query(b-medium) {
    max-width: 50%;
    flex-basis: 50%;
  }
  @include mappy-query(b-big) {
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }
}
.project {
  position: relative;
  background: $white;
  overflow: hidden;
  padding: 20px 20px;
  margin-bottom: 80px;
  &:hover {
    .img {
      transform: scale(1.1);
    }
    .content {
      h2 a {
        color: $brand-secondary;
      }
      p {
        color: $brand-primary-dark;
      }
    }
  }
  &:after {
    font-size: 0px;
    content: ".";
    position: absolute;
    border-bottom: 20px solid $gray-bg;
    border-left: 20px solid transparent;
    right: 0;
    bottom: 0;
  }
  .content__img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: all 1s ease-in-out;
    }
  }
  .content {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    margin-top: 40px;
    h2 {
      margin-bottom: 30px;
      font-family: "Anton", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: modular-scale(3);
      text-decoration: none;
      a {
        color: $brand-primary-dark;
        text-decoration: none;
      }
    }
    p {
      color: $black;
      margin: rhythm(1/3) 0 0;
      font-size: modular-scale(0);
      span {
        &:not(:last-child) {
          &:after {
            content: ",";
            display: inline;
            margin-right: 0.125em;
          }
        }
      }
    }
  }
}
</style>
