<template>
  <layout>
    <SectionOverlayCenter
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h2>Mom’s Pop Up Store, par des mamans à temps plein</h2>
          <p>C’est une des réalisations indirectes de l’ASBL Mompreneurs.be, ce réseau professionnel dédié au soutien des "Mamans entrepreneures" : un magasin éphémère qui a ouvert ses portes début juin, rue du Page à Ixelles, et les fermera fin août. Parmi les mamans membres du réseau, quelques-unes sont en effet actives dans le vêtement pour bébés et jeunes mamans, le jouet, l’objet de décoration qu’elles créent voire produisent elles-mêmes. Jusqu’à présent, leurs canaux de distribution était pour l’essentiel des ventes privées, des marchés ou des sites d’e-commerce. Grâce à Mompreneurs.be, huit d’entre elles se sont rencontrées et ont décidé d’ouvrir, ensemble, une boutique éphémère, qu’elles ne pouvaient baptiser autrement que "Mom’s Pop Up Store". "Ou plutôt de la ‘partager’ ensemble, explique Laurence Verset, responsable de la communication de Mompreneurs.be, c’est-à-dire aussi bien l’espace que le loyer, la déco, les frais, les annonces publicitaires et les permanences." Un succès qui va se prolonger en octobre, novembre et décembre avec l’ouverture d’une 2e boutique éphémère, rue Edith Cavell. "Plus grande et avec plus de créatrices ", ajoute-t-elle. "Et on espère en avoir encore d’autres." L.P. (st.)</p>
          <cite>LibreEco — Le 30 Août 2012</cite>
          <div class="recommanded">
            <h3>À lire aussi</h3>
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/chronostock.jpg" alt="Chronostock" />
                  </div>
                  <p>« Chronostock » Stratégie d’implatation basé sur l’exploitation d’espace éphémère.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/mom-s-pop-up-store.jpg" alt="Mom's Pop-up store" />
                  </div>
                  <p>« MOM’S Pop-up store » Une marque de mode californienne. C’est néanmoins au Japon…</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img src="@/assets/images/type-independant.jpg" alt="Local éphémère" />
                  </div>
                  <p>On constate également que la tendance pop-up store séduit de nombreux artistes et artisans.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/">
                  <div class="article__img">
                    <img
                      src="@/assets/images/type-lieux.jpg"
                      alt="image de foire type de lieux d'exploitation"
                    />
                  </div>
                  <p>Le pop-up store investit des locaux très différents selon l’univers de la marque.</p>
                </g-link>
              </div>
            </div>
          </div>
        </div>
        <div class="articles">
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-structure.jpg" alt />
              <h4>Type de surfaces commerciales</h4>
              <p>
                Il existe différentes apparences pour accompagner le style du
                produit exposé.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-independant.jpg" alt />
              <h4>Petits indépendants artisans, artistes,…</h4>
              <p>
                On constate également que la tendance pop-up store séduit de
                nombreux artistes et artisans.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/concept/type-de-structure">
            <div class="article__item">
              <img src="@/assets/images/type-lieux.jpg" alt />
              <h4>Type de lieux d’exploitation</h4>
              <p>
                Le pop-up store investit des locaux très différents selon
                l’univers de la marque.
              </p>
            </div>
          </g-link>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionOverlayCenter from "~/components/SectionOverlayCenter.vue";
export default {
  name: "Mom's Pop-up Store",
  components: {
    SectionOverlayCenter
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "../../images/cdg-overlay-testimony.jpg",
          title: "Mom's Pop-up Store",
          text: "Rei Kawakubo"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";
.legal {
  margin-top: -60px;
  margin-bottom: 70px;
}
.container__legal {
  padding: 20px 5% 20px;
  background: $white;
  @include mappy-query(b-medium) {
    padding: 20px 10% 20px;
  }
}
h2 {
  font-size: modular-scale(5);
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}
p {
  margin-bottom: 30px;
}

.recommanded {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid $gray75;
  border-bottom: 1px solid $gray75;
  .l-f-grid {
    .l-f-grid__column {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $brand-primary-dark;
        margin-bottom: rhythm(1);
      }
      &:hover {
        a {
          color: $brand-primary;
        }
      }
      .article__img {
        width: 30%;
        height: 80px;
        display: block;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      p {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: modular-scale(-1);
      }
    }
  }
}

.section__subject {
  z-index: 1;
  margin-bottom: 70px;
}
.articles {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 5% 30px;
  @include mappy-query(b-medium) {
    padding: 60px 10% 30px;
  }
  &__el {
    width: 100%;
    color: $black;
    @include mappy-query(b-medium) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mappy-query(b-big) {
      width: calc(100% / 3);
    }
  }
}
.article__item {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    background: $white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.1);
    img {
      transition: all 5s ease-in-out;
      transform: scale(1.1);
    }
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: all 2s ease-in-out;
  }
  h4 {
    font-size: modular-scale(1);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rhythm(1);
    padding: 0 10px;
  }
  p {
    font-size: modular-scale(-1);
    margin-top: rhythm(1/4);
    padding: 0 10px;
  }
}
</style>