<template>
  <layout>
    <SectionOverlayCenter
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h2>Un enseigne au nom de circonstance : « De Passage »</h2>
          <p>C’est à l’initiative d’un collectif d’artistes, composé de 5 membres, qu’une boutique éphémère vient de voir le jour dans le passage de la Bourse à Charleroi. Mettant en vitrine une quarantaine de créateurs locaux, elle porte un nom de circonstance, celui de « De Passage ».</p>
          <p>C’est une boutique pour les créateurs, géré par les créateurs. Vous allez pouvoir dénicher un bijou, un tableau, du textile et encore tout une série d'objets insolites », nous explique Sophie Dupont, la co-créatrice de la boutique.</p>
          <h2>Le Comptoir des créateurs de Charleroi et le Centre Commercial Rive Gauche derrière le projet</h2>
          <p>Et c’est sous l’impulsion du Comptoir des ressources créatives de Charleroi que le projet est né, sans oublier le centre commercial Rive Gauche, qui a mis à disposition la surface commerciale.</p>
          <cite>Télésambre — 25 novembre 2019</cite>
          <div class="recommanded">
            <h3>À lire aussi</h3>
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <g-link to="/pop-up/chronostock/">
                  <div class="article__img">
                    <img src="@/assets/images/chronostock.jpg" alt="Chronostock" />
                  </div>
                  <p>« Chronostock » Stratégie d’implatation basé sur l’exploitation d’espace éphémère.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/moms-pop-up-store/">
                  <div class="article__img">
                    <img src="@/assets/images/mom-s-pop-up-store.jpg" alt="Mom's Pop-up store" />
                  </div>
                  <p>« MOM’S Pop-up store » Une marque de mode californienne. C’est néanmoins au Japon…</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/petits-independants/">
                  <div class="article__img">
                    <img src="@/assets/images/type-independant.jpg" alt="Local éphémère" />
                  </div>
                  <p>On constate également que la tendance pop-up store séduit de nombreux artistes et artisans.</p>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/lieux-exploitation/">
                  <div class="article__img">
                    <img src="@/assets/images/type-lieux.jpg" alt="image foire" />
                  </div>
                  <p>Le pop-up store investit des locaux très différents selon l’univers de la marque.</p>
                </g-link>
              </div>
            </div>
          </div>
          <h2>Un mini Pop &amp; C s’installe au niveau zéro de la galerie.</h2>
          <p>Après les rues de la ville basse, le modèle des boutiques éphémères s’invite au centre commercial Rive Gauche : trois pop-up stores viennent de s’y installer, ce sont des dédoublements de magasins qui viennent renforcer l’offre de la galerie en occupant des cellules vides.</p>
          <p>Le premier, c’est une enseigne qui a amorcé la revitalisation de la rue de Marcinelle, le Pop & C : boutique de créateurs locaux animée par l’ASBL Charleroi Centre-ville, elle était apparue voici 3 ans, avant l’ouverture de Rive Gauche, pour réanimer ce semi-piétonnier devenu quasi désert. Et la sauce a pris : le concept a donné lieu à une opération de redéploiement commercial, d’autres enseignes ont débarqué. Alors que le bail s’achève le 29 décembre, le Pop & C se délocalise en version XXS au niveau zéro de la galerie, un peu après la brasserie Charleroy.</p>
          <p>Une vitrine de choix pour les créateurs qui se relaient dans la boutique, avec une gamme d’articles 100 % carolos : textiles humoristiques ou tendance de T-shirt Mania (qui a ouvert sa propre boutique à la rue de Dampremy) et de Klinches.be, bijoux artisanaux des délices d’Iris, articles pour enfants signés Nik Nak & Compagnie, modèles originaux de nœuds papillon pour les fêtes par Herrera Valera, écharpes et sacs de Saperlipop’Steph… C’est aussi là que l’on trouvera la bière cuvée Rive Gauche, en bouteilles de 75 cl ou en pack cadeau. Pour les fêtes, le mini Pop & C propose aussi des abonnements de cinéma au Quai 10. Le magasin sera ouvert jusqu’au 31 janvier.</p>
          <cite>D.A. — Le 20 Décembre 2018</cite>
        </div>
        <div class="articles">
          <g-link class="articles__el l-f-grid__column" to="/pop-up/structure-commerciale/">
            <div class="article__item">
              <img src="@/assets/images/type-structure.jpg" alt="structure éphémère" />
              <h4>Type de surfaces commerciales</h4>
              <p>
                Il existe différentes apparences pour accompagner le style du
                produit exposé.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/pop-up/petits-independants">
            <div class="article__item">
              <img src="@/assets/images/type-independant.jpg" alt="Local éphémère" />
              <h4>Petits indépendants artisans, artistes,…</h4>
              <p>
                On constate également que la tendance pop-up store séduit de
                nombreux artistes et artisans.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el l-f-grid__column" to="/pop-up/lieux-exploitation">
            <div class="article__item">
              <img src="@/assets/images/type-lieux.jpg" alt="Image foire" />
              <h4>Type de lieux d’exploitation</h4>
              <p>
                Le pop-up store investit des locaux très différents selon
                l’univers de la marque.
              </p>
            </div>
          </g-link>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionOverlayCenter from "~/components/SectionOverlayCenter.vue";
export default {
  name: "Pop & C",
  components: {
    SectionOverlayCenter
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "../../images/cdg-overlay-testimony.jpg",
          title: "Revitalisation des centres urbains <br>(Pop &amp; C)",
          text: "©Pop&C"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";
.legal {
  margin-top: -60px;
  margin-bottom: 70px;
}
.container__legal {
  padding: 20px 5% 20px;
  background: $white;
  @include mappy-query(b-medium) {
    padding: 20px 10% 20px;
  }
}
h2 {
  font-size: modular-scale(5);
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}
p {
  margin-bottom: 30px;
}

.recommanded {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid $gray75;
  border-bottom: 1px solid $gray75;
  .l-f-grid {
    .l-f-grid__column {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $brand-primary-dark;
        margin-bottom: rhythm(1);
      }
      &:hover {
        a {
          color: $brand-primary;
        }
      }
      .article__img {
        width: 30%;
        height: 80px;
        display: block;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      p {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: modular-scale(-1);
      }
    }
  }
}

.section__subject {
  z-index: 1;
  margin-bottom: 70px;
}
.articles {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 5% 30px;
  @include mappy-query(b-medium) {
    padding: 60px 10% 30px;
  }
  &__el {
    width: 100%;
    color: $black;
    @include mappy-query(b-medium) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mappy-query(b-big) {
      width: calc(100% / 3);
    }
  }
}
.article__item {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    background: $white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.1);
    img {
      transition: all 5s ease-in-out;
      transform: scale(1.1);
    }
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: all 2s ease-in-out;
  }
  h4 {
    font-size: modular-scale(1);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rhythm(1);
    padding: 0 10px;
  }
  p {
    font-size: modular-scale(-1);
    margin-top: rhythm(1/4);
    padding: 0 10px;
  }
}
</style>