<template>
  <Layout>
    <article class="project">
      <header>
        <div class="project__container">
          <div class="project__color"></div>
          <div class="project__title">
            <h1>{{ $page.project.title }}</h1>
            <p class="paragraph__tag">
              Permet d'
              <span v-for="(tag, index) in $page.project.tags" :key="index">{{ tag }}</span>
            </p>
          </div>
        </div>
        <figure>
          <img :src="$page.project.image_background" :alt="$page.project.title" />
        </figure>
      </header>
      <section class="content">
        <div
          class="paragraph"
          v-for="(paragraph, index) in $page.project.paragraph"
          :key="index"
          :class="getParagraphClass(paragraph.class)"
        >
          <div
            v-show="paragraph.class.includes('constrained')"
            class="l-constrain l-constrain__small"
          >
            <img v-show="paragraph.image_url" :src="paragraph.image_url" :alt="$page.project.title" />
            <p v-show="paragraph.text_big" class="text--big" v-html="paragraph.text_big" />
            <div class="information l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <h2 v-show="paragraph.title_left" v-html="paragraph.title_left" />
                <p v-show="paragraph.text_left" v-html="paragraph.text_left" />
                <p v-show="paragraph.type" class="type" v-html="paragraph.type" />
              </div>
              <div class="l-f-grid__column">
                <h2 v-show="paragraph.title_right" v-html="paragraph.title_right" />
                <p v-show="paragraph.text_right" v-html="paragraph.text_right" />
              </div>
            </div>
            <ul class="list__items l-f-grid l-f-grid--cols-3" v-show="paragraph.item[0]">
              <li
                class="l-f-grid__colum"
                v-for="(item, listIndex) in paragraph.item"
                :key="listIndex"
              >
                <div class="content__list">
                  <h3 v-html="item.title">{{ item.title }}</h3>
                  <p>{{ item.value }}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="section__one">
            <div v-show="paragraph.class.includes('cols-2')" class="l-constrain l-constrain__small">
              <div class="l-f-grid l-f-grid--cols-2">
                <div class="possibility l-f-grid__column">
                  <p
                    v-show="paragraph.text_big"
                    class="text--big text--backwhite"
                    v-html="paragraph.text_big"
                  />
                  <p v-show="paragraph.text" class="text--backwhite" v-html="paragraph.text" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <ProjectNext :projectList="$page.allProject.edges" :current="$page.project" />
  </Layout>
</template>

<page-query>
  query project ($path: String!) {
    project: project (path: $path) {
      image_teaser
      image_background
      path
      tags
      title
      summary
      filters
    	paragraph {
        id
        class
        text_big
        title_left
        text_left
        type
        title_right
        text_right
        text
        image_url
        item {
          title
          value
        }
      }
    }
    allProject : allProject {
      edges {
        node {
          path
          title
          image_teaser
          image_background
          tags
          filters
        }
      }
    }
  }
</page-query>

<script>
import Footer from "~/components/Footer.vue";
import ProjectNext from "~/components/ProjectNext.vue";
export default {
  metaInfo() {
    return {
      title: this.$page.project.title,
      meta: [
        {
          name: "description",
          content: this.$page.project.summary
        }
      ]
    };
  },
  components: {
    Footer,
    ProjectNext
  },
  data() {
    return {
      options: {
        byline: false,
        portrait: false,
        title: false
      }
    };
  },
  methods: {
    getParagraphClass: function(classes) {
      let classList = [];
      for (const item of classes) {
        classList.push("paragraph--" + item);
      }
      return classList;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
$min_width: $b-small-val;
$max_width: $b-big-val;
$min_font: 24px;
$max_font: 78px;

header {
  position: relative;
  height: 80vh;
  min-height: 700px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .project__hooper {
    display: grid;
    grid-row: 1 / 7;
    grid-column: 1 / 13;
    z-index: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 50% 0, 50% 80%, 0 80%);
    }
  }
  .project__container {
    position: relative;
    overflow: hidden;

    grid-row: 1 / 5;
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    @include mappy-query(b-big) {
      grid-row: 1 / 5;
      grid-column: 1 / 7;
    }

    .project__color {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(142, 216, 210, 0.7);
      backdrop-filter: blur(1px);
    }

    .project__title {
      z-index: 100;
      grid-column: 2 / 12;
      grid-row: 7 / 8;
      @include mappy-query(b-medium) {
        grid-column: 3 / 12;
        grid-row: 5 / 8;
      }
      h1 {
        color: $black;
        font-weight: 900;
        margin: 0;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        line-height: 1;
        // width: (8/12)*100%;
      }
      p {
        color: $white;
        margin: rhythm(1/3) 0 0;
        font-family: "Anton", sans-serif;
        font-size: modular-scale(-2);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        span {
          color: $brand-secondary;
          &:not(:last-child) {
            &:after {
              content: ",";
              display: inline;
              margin-right: 0.25em;
            }
          }
        }
      }
    }
  }

  figure {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    ::v-deep canvas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.85) 0%,
        hsla(0, 0%, 0%, 0.839) 8.1%,
        hsla(0, 0%, 0%, 0.809) 15.5%,
        hsla(0, 0%, 0%, 0.762) 22.5%,
        hsla(0, 0%, 0%, 0.701) 29%,
        hsla(0, 0%, 0%, 0.63) 35.3%,
        hsla(0, 0%, 0%, 0.551) 41.2%,
        hsla(0, 0%, 0%, 0.467) 47.1%,
        hsla(0, 0%, 0%, 0.383) 52.9%,
        hsla(0, 0%, 0%, 0.299) 58.8%,
        hsla(0, 0%, 0%, 0.22) 64.7%,
        hsla(0, 0%, 0%, 0.149) 71%,
        hsla(0, 0%, 0%, 0.088) 77.5%,
        hsla(0, 0%, 0%, 0.041) 84.5%,
        hsla(0, 0%, 0%, 0.011) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
      );
    }
  }
}
.project__container {
  &:hover .button span {
    transform: translateX(0);
    opacity: 1;
  }
}
.button {
  align-items: center;
  color: $white;
  display: flex;
  font-size: modular-scale(-1);
  margin: rhythm(2) 0 0;
  outline: none;
  text-decoration: none;
  text-transform: none;
  width: 80%;
  @include mappy-query(b-medium) {
    width: 100%;
  }
  &:hover {
    outline: none;
  }
  span {
    flex-basis: auto;
    flex-shrink: 0;
    margin-left: 2em;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transform: translate(10px);
    opacity: 1;
    @include mappy-query(b-medium) {
      opacity: 0;
    }
    &:hover  {
      color: $brand-primary;
    }
  }
  &:before {
    content: "";
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    background: $white;
    flex-basis: 100%;
    width: 100%;
  }
}

.paragraph {
  padding: rhythm(2) 0 rhythm(1);
  font-size: modular-scale(1);
  line-height: 1.5em;
  background: #358780;
  &--constrained {
    padding: rhythm(4) 0;
  }
  @include mappy-query(b-big) {
    padding: rhythm(3) 0;
  }
  &--text {
    padding-top: 100px;
    background: $white;
  }
  h2 {
    color: $black;
    font-size: modular-scale(-3);
    font-weight: 900;
    margin: 0 0 rhythm(1/3);
    text-transform: uppercase;
    span {
      color: $brand-primary;
      content: "";
      margin-right: 2em;
    }
  }
  p {
    color: $white;
    span {
      color: $brand-primary;
    }
    &.text--big {
      font-size: modular-scale(1);
      font-weight: 900;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 30px;
      @include mappy-query(b-medium) {
        font-size: modular-scale(3);
      }
      b {
        color: #303030;
      }
    }
    &.text--backwhite {
      color: $brand-primary-dark;
    }
  }
  img {
    width: 100%;
    display: block;
  }
  ul {
    color: $black;
    list-style: none;
    padding: 0;
    margin: 0;
    h3 {
      font-size: modular-scale(-2);
      margin: 0;
    }
    p {
      font-size: modular-scale(-1);
      margin: rhythm(1/5) 0 rhythm(1);
    }
    &.list__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 120px;
      @include mappy-query(b-medium) {
        flex-flow: row;
      }
      li {
        background: $brand-primary;
        width: 100%;
        position: relative;
        margin-bottom: 60px;
        &:after {
          content: "";
          display: block;
          padding-bottom: 80%;
        }
        &:hover {
          background: $brand-secondary;
        }
        &:nth-child(1) {
          .content__list {
            &:before {
              content: "";
              position: absolute;
              display: block;
              background: url(~@/assets/images/calendar-project.svg) no-repeat;
              width: 50px;
              height: 37px;
              left: -70px;
            }
          }
        }
        &:nth-child(2) {
          .content__list {
            &:before {
              content: "";
              position: absolute;
              display: block;
              background: url(~@/assets/images/rent-project.svg) no-repeat;
              width: 50px;
              height: 37px;
              left: -70px;
            }
          }
        }
        &:nth-child(3) {
          .content__list {
            &:before {
              content: "";
              position: absolute;
              display: block;
              background: url(~@/assets/images/surface-project.svg) no-repeat;
              width: 50px;
              height: 37px;
              left: -70px;
            }
          }
        }
      }
      .content__list {
        position: absolute;
        width: 60%;
        height: 50%;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
        color: $white;
      }
      h3 {
        font-family: "Work Sans", sans-serif;
        font-size: 28px;
        text-transform: inherit;
      }
      p {
        color: $white;
      }
      li:not(:first-child) {
        @include mappy-query(b-medium) {
          margin-left: 2em;
        }
      }
    }
  }
}
.information {
  margin-top: 80px;
  @include mappy-query(b-medium) {
    // flex-direction: column;
  }
  .l-f-grid__column {
    width: 100%;
  }
  .l-f-grid__column:first-child {
    margin-bottom: 60px;
    @include mappy-query(b-medium) {
      max-width: 40%;
    }
    .type {
      font-size: 36px;
      color: $brand-secondary;
      font-weight: 900;
    }
  }
  .l-f-grid__column:last-child {
    margin-left: auto;
    @include mappy-query(b-medium) {
      max-width: 50%;
    }
  }
  h2 {
    font-size: 28px;
    text-transform: inherit;
    color: $white;
    font-weight: 500;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
.paragraph--image {
  &.paragraph--constrained {
    background: $gray90;
    padding: rhythm(1) 0;
    margin: 0;
    @include mappy-query(b-big) {
      padding: rhythm(4) 0;
    }
  }
}

.paragraph--full {
  position: relative;
  margin: 0;
  min-height: 80vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.paragraph--full--with-text {
    padding: rhythm(3) 0;
    .text {
      padding: rhythm(3) 0;
      flex-basis: 100%;
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.paragraph--text-image {
  .l-f-grid {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.paragraph--video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  ::v-deep iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.paragraph--outcomes {
  background: $brand-primary;
  margin: 0 0 rhythm(-5);
  padding: rhythm(3) 0;
  p {
    color: $white;
    margin: 0;
    &.case-stats-value {
      font-size: modular-scale(4);
      margin: 0 0 rhythm(1);
    }
  }
}

.stat {
  .bar {
    background: lighten($black, 80%);
    height: 8px;
    position: relative;
    .progress {
      background: linear-gradient(to right, #3d0082 0%, #07f6e2 100%);
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  p {
    color: $black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: rhythm(1/3) 0 rhythm(1);
    span {
      color: lighten($black, 60%);
      font-weight: 900;
    }
  }
}

.case-quote-content {
  position: relative;
  margin: 0;
  &:before {
    content: '"';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    font-size: modular-scale(4);
    color: $brand-primary;
    padding: 0 0.5em;
  }
  cite {
    color: $brand-primary;
    font-style: normal;
    font-size: modular-scale(-1);
    b {
      color: #303030;
    }
  }
}

.project--next {
  background: lighten($black, 10%);
  padding: rhythm(4) 0;
  margin: rhythm(5) 0 0;
  position: relative;
  figure {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &:before {
      bottom: 0;
      box-shadow: 0px 0px 10vw 10vw lighten($black, 10%) inset;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      @include mappy-query(b-big) {
        box-shadow: 0px 0px 15vw 15vw lighten($black, 10%) inset;
      }
    }
  }
  p {
    color: $brand-primary;
    font-weight: 500;
    margin: 0 0 rhythm(1/3);
    &.subtitle {
      font-size: modular-scale(-2);
      text-transform: uppercase;
      letter-spacing: 0.125em;
    }
    &.links {
      font-size: modular-scale(-2);
    }
  }
  h3 {
    font-size: modular-scale(3);
    margin: 0 0 rhythm(2);
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .button {
    border-bottom: 2px solid $brand-primary;
    display: inline-block;
    font-size: modular-scale(1);
    text-transform: none;
    padding: 0 0 rhythm(1/2);
    svg {
      color: $brand-primary;
      margin-left: 1em;
    }
  }
}
</style>
