<template>
  <layout>
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section class="bloc-text">
      <div class="l-constrain">
        <div class="container__bloc-text">
          <h2>Signification</h2>
          <p>
            « Scheme » : Le schème est une structure ou organisation des actions
            telles qu'elles se transforment ou se généralisent lors de la
            répétition de cette action en des circonstances semblables ou
            analogues.
          </p>
          <p>
            Un Schème est une adaptation. C’est une sorte de noyau ou squelette
            de savoir-faire, adaptable à un grand nombre de situations. Pour se
            situer, on prend un objet qui à son utilité pour en faire autre
            chose en gardant son action principale.
          </p>
          <p>
            (Ex : un râteau racle, le rateau peut également ramener ou prendre
            un objet.) Il est donc possible d’exploiter un même lieu et d'en
            faire différents pop-up store.
          </p>
          <h2>L'environnement Scheme Corner</h2>
          <p>
            Le projet Scheme Corner a été réalisé par moi-même,
            <a href="https://ianvu.com">Ian Vu</a>, étudiant
            <a href="https://dwm.re">DWM</a>, dans le cadre de mon projet final.
            Designer multidisciplinaire en devenir, j’étudie actuellement en
            dernière année de bachelier à la Haute École Albert Jacquard de
            Namur.
          </p>
          <p>
            Nous utilisons des "cookies" pour collecter des informations. Vous
            pouvez demander à votre navigateur de refuser tous les cookies ou
            d'indiquer quand un cookie est envoyé. Cependant, si vous n'acceptez
            pas les cookies, vous ne pourrez peut-être pas utiliser certaines
            parties de notre service.
          </p>
          <h2>Remerciements</h2>
          <p>
            Je tiens à remercier en particulier mon professeur référent M.
            Philipe Thronte pour son investissement lors de nos rendez-vous
            audiovisuels et de m’avoir aidé dans l’avancement de mon projet.
          </p>
          <p>
            Je remercie également tous les enseignants que j’ai croisés pendant
            toutes mes années dans cette école qui m’ont permis d’évoluer et
            d’améliorer mes compétences dans ce que je souhaitais faire par la
            suite. Une dédicace pour M. François Bourgaux qui m’a fait confiance
            en me gardant à deux reprises dans cet incroyable section Web avec
            cette envie de réussite.
          </p>
        </div>
      </div>
    </section>
    <SmallNewsletter />
  </layout>
</template>

<script>
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SmallNewsletter from "~/components/SmallNewsletter.vue";
export default {
  name: "About",
  metaInfo: {
    title: "À propos",
    meta: [
      { name: "description", content: "À propos de nous de Scheme Corner" }
    ]
  },
  components: {
    SectionOverlayBanner,
    SmallNewsletter
  },
  data() {
    return {
      title: "",
      content: "",
      onSubmit: "",
      email: "",
      checked: "",
      overlayHeader: [
        {
          backgroundImage: "./../images/image-overlay-contact.jpg",
          title: "À propos de nous",
          text: "de Scheme Corner"
        }
      ],
      subjectContact: [
        {
          title: "Suivez-nous",
          titleRight: "Entrons en contact",
          text: "Pour quoi que ce soit, connectez-vous  avec notre équipe."
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

::v-deep .bloc-text__b {
  h1 {
    margin-bottom: 0;
  }
}
.bloc-text {
  margin-top: -60px;
}
.container__bloc-text {
  padding: 20px 20px;
  background: $white;
  margin-bottom: 70px;
  @include mappy-query(b-small) {
    padding: 80px 15% 20px;
  }
}
h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
.bloc__form {
  display: flex;
  align-items: center;
  color: $white;
  .bloc-text__b {
    max-width: 60.6557377049%;
    padding-right: 120px;
    h1 {
      font-family: $base-font-family;
      font-size: 52px;
      font-weight: 700;
    }
    p {
      font-family: $base-font-family;
      font-size: 18px;
      font-weight: 500;
      padding: 30px 120px 30px 0;
      line-height: 1.5;
    }
  }
}

.input {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  width: 400px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 6px;
  padding: 12px 80px 12px 40px;
  font-size: 18px;
  color: $gray25;
  line-height: 1.5;
  &::placeholder {
    color: $gray50;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0;
  }
}
.bloc__input {
  position: relative;
}
.button__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 30px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: $white;
}
.font-solid {
  color: $brand-primary;
  font-size: 25px;
}
</style>
