<template>
  <layout>
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <div class="section__subject l-constrain">
      <div class="bloc">
        <div class="bloc-white">
          <div class="bloc-text">
            <h2>Suivez-nous</h2>
            <ul class="social__list">
              <li class="social__item">
                <a href="#" target="_blank">
                  <font-awesome-icon class="font-solid" :icon="['fab', 'facebook-f']" />
                  <p>Page Facebook Scheme Corner</p>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank">
                  <font-awesome-icon class="font-solid" :icon="['fab', 'twitter']" />
                  <p>@SchemeCorner</p>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank">
                  <font-awesome-icon class="font-solid" :icon="['fas', 'paper-plane']" />
                  <p>info@schemecorner.be</p>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank">
                  <font-awesome-icon class="font-solid" :icon="['fas', 'phone-alt']" />
                  <p>+32 (0) 4 71 00 20 **</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="bloc-color">
          <div class="bloc-title">
            <h3>Entrons en contact</h3>
            <p>Pour toute question, adressez-vous à notre équipe.</p>
          </div>
        </div>
      </div>
    </div>
    <SmallNewsletter />
  </layout>
</template>

<script>
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SmallNewsletter from "~/components/SmallNewsletter.vue";
export default {
  name: "Contact",
  metaInfo: {
    title: "contactez-nous",
    meta: [{ name: "description", content: "Contactez-nous" }]
  },
  components: {
    SectionOverlayBanner,
    SmallNewsletter
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "../../images/image-overlay-contact.jpg",
          title: "Contactez-nous",
          text:
            "Faites-nous part de vos idées que l’on puisse en discuter et au besoin vous conseiller sur vos projets."
        }
      ]
    };
  }
};
</script>

<style lang="scss">
@import "../assets/scss/_abstract.scss";
.section__subject {
  z-index: 1;
}
.bloc {
  background: $brand-secondary;
  display: flex;
  margin-top: -60px;
  flex-direction: column;
  @include mappy-query(b-medium) {
    flex-direction: row;
  }
}
.bloc-white {
  position: relative;
  background: $white;
  color: $black;
  padding: 60px 60px 70px;
  width: 100%;
  @include mappy-query(b-medium) {
    width: 60.6557377049%;
  }
}
.bloc-title {
  padding: 0 40px;
}
h2 {
  font-size: modular-scale(3);
  font-family: $subtitle-font-family;
  margin-top: rhythm(1);
  margin-bottom: rhythm(2);
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 1em;
  margin-bottom: 30px;
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}
.social__list {
  list-style: none;
  .social__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    a {
      text-decoration: none;
      color: $black;
      display: flex;
      align-items: center;
      &:hover {
        color: #3b88fd;
        .font-solid {
          color: #3b88fd;
        }
      }
    }
    .font-solid {
      font-size: modular-scale(4);
      width: 50px;
      margin-right: rhythm(1);
    }
  }
}
.bloc-color {
  position: relative;
  display: flex;
  align-items: center;
  background: #3b88fd;
  color: $white;
  text-align: center;
  padding: 30px 20px;
  @include mappy-query(b-medium) {
    flex: 1;
  }
  .bloc-title {
    h3 {
      font-family: $subtitle-font-family;
      font-size: modular-scale(4);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
</style>
