<template>
  <layout>
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h1>Crédits</h1>
          <p>
            Scheme Corner a été produit lors de la période du confinement. Le
            site internet Scheme Corner a été créé dans un but non-lucratif.
          </p>
          <p>
            Merci à Flore Frédéric, Project Manager au sein de l’Agence
            bruxelloise du Commerce pour le guide dédiée aux informations
            relatives aux boutiques éphémères qui ont été référencés sur le site
            Scheme Corner.
          </p>
          <p></p>
          <h2>Collecte des images</h2>
          <p>
            Les images se trouvant sur le site ne proviennent ni de Scheme
            Corner, ni de Ian Vu, ni de la Haute École Albert Jacquard. Toutes
            images se trouvant sur le site sont référencés soit sur l'image
            elle-même, soit en bas ou côté de l'image.
          </p>
          <h2>Inspirations</h2>
          <p>
            Inspirations et idées pratiques pour ce projet à partir de
            <a
              href="https://www.pinterest.fr/ianvutuananh/tfe-scheme-corner/"
            >Pinterest</a>,
            <a href="https://dribbble.com/tags/dribbbe">Dribbble</a>,
            <a href="https://vuejsexamples.com/">Vuejs Examples</a>.
          </p>
          <h2>Outils utilisés</h2>
          <p>
            La production de Scheme Corner a été réalisé sur base du framework
            <a
              href="https://gridsome.org/"
            >Gridsome</a>. Les différentes pages
            de Scheme Corner ont été produite en HTML5,
            <a
              href="https://fr.vuejs.org/"
            >Vue</a>, et SASS. Plate-forme pour
            la planification du projet et la gestion du code source au CI / CD
            et à la surveillance,
            <a
              href="https://gitlab.com/"
            >GitLab</a>. Il
            est possible de retrouver dans son intégralité, le site Scheme
            Corner téléchargeable et réutilisable, À condition de créditer la
            source et de faire part des changements apporter au projet en
            lui-même.
          </p>
          <h2>Projet</h2>
          <p>
            Le projet Scheme Corner a été réalisé pour l'occasion de mon travail
            de fin d'étude en DWM à l'heaj Haute école Albert Jacquard de Namur.
          </p>
          <div class="option l-f-grid l-f-grid--col-2">
            <div class="l-f-grid__column">
              <img src="../assets/images/heaj.png" alt="Logo HEAJ" />
            </div>
            <div class="l-f-grid__column">
              <img src="../assets/images/dwm.png" alt="Logo DWM" />
            </div>
          </div>
          <h2>Nous contacter</h2>
          <p>
            Si vous avez des questions sur les différents crédits, veuillez nous
            contacter.
          </p>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
export default {
  name: "Credits",
  metaInfo: {
    title: "Services",
    meta: [{ name: "description", content: "Crédits" }]
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.legal {
  padding-top: 80px;
}
.container__legal {
  padding: 20px 5% 20px;
  margin-bottom: 70px;
  background: $white;
  @include mappy-query(b-medium) {
    padding: 80px 15% 20px;
  }
}
h1 {
  font-size: 52px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  .l-f-grid__column {
    width: 50%;
  }
}
img {
  width: 100%;
}
</style>
