<template>
  <layout>
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index"
      :overlay="overlay"
    />
    <section class="section__step">
      <div class="step__nav">
        <h2>Le guide</h2>
        <scrollactive
          class="sidebar"
          v-on:itemchanged="onItemChanged"
          :offset="100"
          :duration="500"
        >
          <ul class="nav__items">
            <li class="nav__item nav__item--title">
              <a href="#1-questionnez-vos-intentions" class="scrollactive-item">
                <span>1.</span>Questionnez vos intentions
              </a>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#2-definissez-votre-profil" class="scrollactive-item">
                <span>2.</span>Définissez votre profil
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a href="#objectifs" class="scrollactive-item">Les objectifs</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#duree" class="scrollactive-item">La durée</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#localisation" class="scrollactive-item">La localisation</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#implantation" class="scrollactive-item">L’implantation</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#amenagement" class="scrollactive-item">L'aménagement</a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#3-trouvez-le-bon-endroit" class="scrollactive-item">
                <span>3.</span>Trouvez le bon endroit
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a href="#espace" class="scrollactive-item">Est-ce le bon espace ?</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#contrat" class="scrollactive-item">Spécifiez votre type de contrat</a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#4-installation-et-reglementation" class="scrollactive-item">
                <span>4.</span>Installation et règlementation
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a href="#statut" class="scrollactive-item">Déterminez votre statut</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#demarche" class="scrollactive-item">Les démarches à entreprendre</a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#5-creez-votre-cadre-commercial" class="scrollactive-item">
                <span>5.</span>Créez votre cadre commercial
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a href="#custom" class="scrollactive-item">Personnalisez le lieu</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#experience" class="scrollactive-item">Faites vivre une expérience</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#partage" class="scrollactive-item">Partagez votre espace</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#fixe" class="scrollactive-item">Fixez vos prix</a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#6-communiquez-votre-marque" class="scrollactive-item">
                <span>6.</span>Communiquez votre marque
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a
                    href="#determine"
                    class="scrollactive-item"
                  >Déterminez vos objectifs et vos messages</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#canal" class="scrollactive-item">Décidez des canaux à exploiter</a>
                </li>
                <li class="nav__item--sub">
                  <a href="#evolue" class="scrollactive-item">Evaluez et adaptez</a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--title">
              <a href="#7-evitez-les-pieges" class="scrollactive-item">
                <span>7.</span>Évitez les pièges
              </a>
              <ul class="nav__items--sub">
                <li class="nav__item--sub">
                  <a
                    href="#conseil"
                    class="scrollactive-item"
                  >Dernier petit conseil à prendre en compte.</a>
                </li>
              </ul>
            </li>
          </ul>
        </scrollactive>
      </div>

      <ClientOnly>
        <transition name="fade" appear>
          <div class="modal-overlay" v-if="showModal" @click="showModal = false" />
        </transition>
      </ClientOnly>
      <div class="step__content l-constrain">
        <div class="step__item" id="1-questionnez-vos-intentions">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>1.</span>Questionnez vos intentions
              </h3>
            </div>
            <div class="step__text">
              <p>
                La formule pop-up est-elle la bonne stratégie pour votre marque
                ou votre concept ? En lisant nos recherches concernant les
                avantages sur ce
                <g-link to="/avantages">lien</g-link>. Si la réponse est
                positive, nous vous proposons de vous penchez sur l’objectif à
                atteindre avec l’ouverture d’un pop-up.
              </p>

              <button
                class="button__link"
                id="show-modal"
                @click="showModal = '1-modal'"
              >Se poser les bonnes questions</button>
              <div v-if="showModal === '1-modal'" @close="showModal = false">
                <HtmlModal
                  v-for="(htmlmodal, index) in htmlmodalInfo1"
                  :key="index"
                  :htmlmodal="htmlmodal"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="step__item" id="2-definissez-votre-profil">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>2.</span>Définissez votre profil
              </h3>
            </div>
            <div class="step__text">
              <p>
                Votre statut, vos produits mais aussi vos objectifs sont des
                éléments à prendre en compte pour déterminer le type de pop-up à
                mettre en place, sa durée et son lieu d’implantation.
              </p>
              <p class="paragraph__orange">
                Ce qui va suivre vous permettra de déterminer le profil qui vous
                conviendra le plus à l’ouverture d’un pop-up.
              </p>
            </div>
            <div class="step__text">
              <h4 id="objectifs">Les objectifs</h4>
              <p>
                Ces objectifs sont à mettre par ordre croissant, dont le 1er
                correspondant à un non-objectif ou à un objectif dérisoire pour
                le projet, le 4ème étant un objectif capital.
              </p>
              <ul class="list">
                <li class="list__top list__content">Occupation d’un espace</li>
                <li class="list__top list__content">Liquidation de stock</li>
                <li class="list__top list__content">Opération marketing</li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="duree">La durée</h4>
              <p>
                Selon la graduation que vous attribuerez à chacun des objectifs,
                cela vous permettra de déterminer la durée en adéquation avec
                votre projet.
              </p>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">1 jour à 3 semaines</p>
                  <p class="list__text">
                    événementiel, marketing, effet de surprise, sentiment
                    d’urgence
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">1 à 3 mois</p>
                  <p class="list__text">marketing, test, occupation d’un espace</p>
                </li>
                <li class="list__content">
                  <p class="list__top">3 à 6 mois</p>
                  <p class="list__text">
                    marketing, test, occupation d’un espace (la phase test est
                    différentes et peut occasionner une pérennisation du
                    concept)
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">6 mois – 1 an</p>
                  <p class="list__text">test, fidélisation, occupation d’un espace, pérennisation</p>
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="localisation">La localisation</h4>
              <p>
                <b>Le flux et fréquentation :</b>On estime généralement qu’une
                enseigne touche 1 passant sur 40. Si vous voulez en toucher 100
                sur une journée, il faut viser un quartier qui attire 4000
                piétons par jour.
              </p>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">8/10</p>
                  <p class="list__text">coïncide avec le flux de piéton de l’artère sélectionnée</p>
                </li>
                <li class="list__content">
                  <p class="list__top">1/10 à 7/10</p>
                  <p class="list__text">s’il y a moins de passage que le flux de piéton</p>
                </li>
                <li class="list__content">
                  <p class="list__top">9/10 à 10/10</p>
                  <p class="list__text">si vos attentes dépassent la moyenne du flux de piéton</p>
                </li>
              </ul>
              <p>
                <b>Le loyer moyen du quartier :</b>Pour ce critère, il faut
                calculer la différence entre le loyer prévu pour votre projet et
                le loyer moyen en vigueur dans le quartier sélectionné.
              </p>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">8/10</p>
                  <p class="list__text">
                    le budget prévu pour votre loyer correspond au prix en
                    vigueur dans le quartier
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">9-10/10</p>
                  <p class="list__text">si le loyer du quartier est en deçà de vos prévisions</p>
                </li>
                <li class="list__content">
                  <p class="list__top">1/10 à 7/10</p>
                  <p class="list__text">
                    vous avez été trop optimiste dans votre estimation
                    budgétaire.
                  </p>
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="implantation">L’implantation</h4>
              <p>
                Une fois que vous avez défini le quartier, le pop-up peut
                s’implanter dans différents types d’espaces.
              </p>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">La cellule vide dans une rue commerçante</p>
                  <p class="list__text">
                    test, marketing, événementiel, occupation cellule vide,
                    dynamisation
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Le magasin dans le magasin</p>
                  <p class="list__text">test, mutualisation, marketing, événementiel</p>
                </li>
                <li class="list__content">
                  <p class="list__top">Le kiosque ou le stand</p>
                  <p class="list__text">test, vente, marketing</p>
                </li>
                <li class="list__content">
                  <p class="list__top">L’espace commercial dans un shopping center</p>
                  <p class="list__text">marketing, test, occupation cellule vide, événementiel</p>
                </li>
                <li class="list__content">
                  <p class="list__top">L’espace événementiel</p>
                  <p class="list__text">marketing, événementiel, test</p>
                </li>
                <li class="list__content">
                  <p class="list__top">Les lieux de transit : gares, métros, …</p>
                  <p class="list__text">vente, marketing, test, dynamisation</p>
                </li>
                <li class="list__content">
                  <p class="list__top">
                    Les grands événements : capitaliser sur de grands
                    rassemblements
                  </p>
                  <p class="list__text">marketing, événementiel, test</p>
                </li>
                <li class="list__content">
                  <p class="list__top">Les lieux insolites</p>
                  <p class="list__text">marketing, événementiel, revitalisation, surprise</p>
                </li>
                <li class="list__content">
                  <p class="list__top">L’espace public</p>
                  <p class="list__text">marketing, test</p>
                </li>
              </ul>
              <p class="paragraph__orange">
                Retrouvez les différents types de formes avec toutes leurs
                caractéristiques necéssaire pour vous donner une idée à quoi
                pourrait ressembler votre futur pop-up.
              </p>

              <button
                class="button__link"
                id="show-modal"
                @click="showModal = '2-modal'"
              >Les différents types de volumes</button>
              <div v-if="showModal === '2-modal'" @close="showModal = false">
                <HtmlModal
                  v-for="(htmlmodal, index) in htmlmodalInfo2"
                  :key="index + 1"
                  :htmlmodal="htmlmodal"
                />
              </div>
            </div>
            <div class="step__text">
              <h4 id="amenagement">L’aménagement</h4>
              <p>
                Tout dépendra de votre objectif lié plus haut, du type de
                produit que vous voudriez mettre en avant. le pop-upper qui fait
                de la liquidation optera pour un aménagement sommaire, puisque
                son seul objectif est de vendre. Le cadre de vision de la marque
                n’a dès lors que peu d’importance. Ce point est directement
                dépendant du budget disponible à cet effet.
              </p>
              <ul class="list">
                <li class="list__top list__content">Sommaire</li>
                <li class="list__top list__content">Economique</li>
                <li class="list__top list__content">Coûteux</li>
                <li class="list__top list__content">Expérience client/retail design</li>
                <li class="list__top list__content">Durable/écoconstruction</li>
                <li class="list__top list__content">Rénovation lourde</li>
                <li class="list__top list__content">Rénovation légère</li>
                <li class="list__top list__content">Clé en main</li>
                <li class="list__top list__content">PM</li>
                <li class="list__top list__content">Upcycling</li>
                <li class="list__top list__content">Recyclage</li>
                <li class="list__top list__content">Personnalisé</li>
                <li class="list__top list__content">Impersonnel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="step__item" id="3-trouvez-le-bon-endroit">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>3.</span>Trouvez le bon endroit
              </h3>
            </div>
            <div class="step__text">
              <p class="paragraph__orange">
                Choisissez votre lieu d’implantation, il y a 2 dimensions à
                prendre en compte lors de la recherche d’un lieu d’implantation
                pour que l’espace met en valeur votre projet :
              </p>
              <ul>
                <li class="list__top list__content">
                  Celle de la localisation dans une ville, au sein d’un
                  quartier, d’une rue.
                </li>
                <li
                  class="list__top list__content"
                >Celle de l’implantation dans un certain type d’espace de vente</li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="espace">Comment être sûr que c’est le bon espace ?</h4>
              <p>
                Lors de la réalisation de votre profil, vous avez pu déterminer
                certains critères qui vous permettra de choisir le local qui
                correspond le mieux.
              </p>
              <ul class="list">
                <li class="list__top list__content">Le budget</li>
                <li
                  class="list__top list__content"
                >L’aménagement (état du bien, travaux, stockage, toilettes, …)</li>
                <li class="list__top list__content">
                  L’accessibilité du quartier et de la cellule pour toute
                  personne, y compris les personnes à mobilité réduite et les
                  livreurs
                </li>
                <li class="list__top list__content">
                  L’environnement (clientèle du quartier, mix commercial,
                  concurrence,…)
                </li>
                <li class="list__top list__content">
                  Les aspects légaux (permis d’urbanisme existant en matière
                  d’affectation, sécurité, …).
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="contrat">Spécifiez votre type de contrat</h4>
              <p>
                Dans la plupart des cas, le pop-upper conclut avec le
                propriétaire une convention d’occupation précaire. Celle-ci ne
                trouve son fondement dans aucune loi spécifique ; elle repose
                sur le droit commun des contrats. Il est donc primordial de
                privilégier une relation de confiance entre les deux parties et
                de bien rédiger la convention. Si pas il sera convenu d’opter
                pour un bail commercial.
              </p>
            </div>
          </div>
        </div>
        <div class="step__item" id="4-installation-et-reglementation">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>4.</span>Installation et règlementation
              </h3>
            </div>
            <div class="step__text">
              <h4 id="statut">Déterminez votre statut</h4>
              <p>
                Une personne désirant démarrer un nouveau commerce, qu’il soit
                éphémère ou non, doit mettre sur pied une activité. Elle doit
                pour ce faire choisir un statut juridique.
              </p>
              <ul class="list">
                <li class="list__top list__content">
                  devenir indépendant (personne physique – à titre principal ou
                  complémentaire) ;
                </li>
                <li class="list__top list__content">
                  constituer une société (personne morale) : société anonyme
                  (SA), société privée à responsabilité limitée (SPRL), société
                  coopérative à responsabilité limitée (SCRL) ou société
                  coopérative à responsabilité illimitée et solidaire (SCRIS) ;
                </li>
                <li class="list__top list__content">
                  constituer une association sans but lucratif (asbl) si l’objet
                  de l’activité n’est pas commercial.
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="demarche">Renseignez-vous sur les démarches à entreprendre</h4>
              <p>
                Tout ce qu’il faut penser pour l’ouverture officiel de votre
                pop-up. En temps qu’indépendant il y a plusieurs critères à
                tenir en compte et à ne surtout pas oublier de faire ou de
                s’inscrire pour une activité optimal et sans accoup.
              </p>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">Inscription à la Banque Carrefour des entreprises</p>
                  <p class="list__text">
                    Si vous souhaitez créer votre propre entreprise sous la
                    forme d’une entreprise individuelle, la première démarche
                    est de s’adresser à un guichet d’entreprises agréé.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Ouverture d’un compte bancaire professionnel</p>
                  <p class="list__text">
                    Ce compte doit être différent de votre compte privé et sera
                    utilisé exclusivement pour toutes les transactions relatives
                    à votre activité professionnelle.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">
                    Respect des réglementations urbanistiques et
                    environnementales
                  </p>
                  <p class="list__text">
                    Veillez à vous assurer, auprès de la commune dans laquelle
                    se situe le local, que celui-ci dispose bien d’un permis
                    d’urbanisme et d’environnement à jour.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Demande d’ouverture auprès de la commune et de la police</p>
                  <p class="list__text">
                    Puisque les règles d’ouverture sont les même pour un
                    commerce éphémère que pour un commerce pérenne, il est
                    nécessaire de demander l’avis de l’administration communale
                    et de la police.
                  </p>
                </li>
              </ul>
              <button
                class="button__link"
                id="show-modal"
                @click="showModal = '4-modal'"
              >Liste des documents</button>
              <div v-if="showModal === '4-modal'" @close="showModal = false">
                <HtmlModal
                  v-for="(htmlmodal, index) in htmlmodalInfo4"
                  :key="index + 4"
                  :htmlmodal="htmlmodal"
                />
              </div>
              <!-- <button class="button__link" id="show-modal" @click="showModal = '40-modal'" >Concerant l'horeca</button>
                              <div v-if="showModal === '40-modal'" @close="showModal = false">
                                  <HtmlModal 
                                      v-for="(htmlmodal, index) in htmlmodalInfo40"
                                      :key="index+40"    
                                      :htmlmodal="htmlmodal"
                                  />
              </div>-->
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">Service incendie</p>
                  <p class="list__text">
                    Pour avoir l’autorisation d’ouvrir un pop-up store, vous
                    devez bénéficier d’un avis favorable du service incendie.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Assurances et alarme</p>
                  <p class="list__text">
                    La question des assurances est en principe réglée dans la
                    convention d’occupation précaire.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Evacuation des déchets</p>
                  <p class="list__text">
                    En fonction du type de déchets et de la quantité que vous
                    avez à évacuer, il sera nécessaire de souscrire un contrat
                    d’enlèvement et de traitement des déchets.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">SABAM &amp; Rémunération Equitable</p>
                  <p class="list__text">
                    Pour tout événement induisant la diffusion de musique – sauf
                    si elle est libre de droit - dans son établissement, vous
                    êtes dans l’obligation de contracter une licence
                    d’utilisation auprès de la SABAM, la Société Belge des
                    Auteurs, Compositeurs et Editeurs. Le montant facturé
                    dépendra du type et de la taille de l’établissement
                    concerné.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Téléphonie et internet</p>
                  <p class="list__text">
                    Aujourd’hui, le GSM est en général préféré à un téléphone
                    fixe. Cependant, certains systèmes d’alarme peuvent
                    nécessiter l’usage d’une ligne fixe. Internet est plus
                    qu’utile pour des logiciels de caisse, les outils de
                    paiement, le travail sur place, la promotion et/ou la vente
                    en ligne de vos produits.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Choissisez vos solutions de paiement</p>
                  <p class="list__text">
                    La majorité des clients paient à l’heure actuelle par carte
                    bancaire, il est donc important de munir votre pop-up d’un
                    système le permettant. Le paiement en ligne, en plein
                    développement, peut également être envisagé. Si vous vendez
                    des denrées alimentaires, pensez à activer votre terminal de
                    paiement afin d’accepter les chèques repas électroniques
                    (Edenred, Sodexo et Monizze). Dans certains cas, cette
                    activation peut être faite gratuitement et à distance.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="step__item" id="5-creez-votre-cadre-commercial">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>5.</span>Créez votre cadre commercial
              </h3>
            </div>
            <div class="step__text">
              <p class="paragraph__orange">
                Une fois le lieu trouvé, le bail ou la convention d’occupation
                précaire signé(e) et les démarches administratives réglées, le
                moment est venu de vous focaliser sur vos objectifs pour ouvrir
                à temps.
              </p>
              <ul class="list">
                <li class="list__top list__content">
                  devenir indépendant (personne physique – à titre principal ou
                  complémentaire) ;
                </li>
                <li class="list__top list__content">
                  constituer une société (personne morale) : société anonyme
                  (SA), société privée à responsabilité limitée (SPRL), société
                  coopérative à responsabilité limitée (SCRL) ou société
                  coopérative à responsabilité illimitée et solidaire (SCRIS) ;
                </li>
                <li class="list__top list__content">
                  constituer une association sans but lucratif (asbl) si l’objet
                  de l’activité n’est pas commercial.
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="custom">Personnalisez le lieu</h4>
              <p>
                Généralement, plus l’espace est réfléchi et design, plus il
                attirera les gens. Cela paraitra aussi plus professionnel.
              </p>
            </div>
            <div class="step__text">
              <h4 id="experience">Faites vivre une expérience</h4>
              <p>
                Que veut-on créer ? Quels sentiments veut-on procurer au
                visiteur ? Qu’attend-on du visiteur une fois qu’il est dans le
                commerce ? De quoi veut-on qu’il se souvienne ? Quel message
                souhaite-ton qu’il diffuse après sa visite ?
              </p>
            </div>
            <div class="step__text">
              <h4 id="partage">Partagez votre espace</h4>
              <p>
                Mettez en place des collaborations avec des jeunes
                entrepreneurs. Un designer pourra vous aider pour le mobilier et
                l’éclairage, quelqu’un qui débute dans l’Horeca pour le
                catering,… Vous offrez de cette manière une extra expérience au
                client.
              </p>
              <p>
                Cependant, il faut veiller à ce que vos partenaires soient en
                parfaite adéquation avec l’image de votre marque et qu’ils aient
                les mêmes objectifs que vous.
              </p>
            </div>
            <div class="step__text">
              <h4 id="fixe">Fixez vos prix</h4>
              <p>
                La boutique éphémère est un bon prétexte pour penser ou repenser
                votre politique de prix. Certains pop-up existent pour vendre
                des stocks en surplus ; réfléchissez tout de même à ce que des
                démarques trop importantes ne viennent pas ternir l’image de
                votre marque. Veillez également à ce que vos prix soient en
                adéquation avec les moyens de la clientèle visée et qu’ils
                soient justes (une production locale ou écologique peut
                justifier un prix plus élevé).
              </p>
              <button
                class="button__link"
                id="show-modal"
                @click="showModal = '5-modal'"
              >Conseils pour un aménagement optimal</button>
              <div v-if="showModal === '5-modal'" @close="showModal = false">
                <HtmlModal
                  v-for="(htmlmodal, index) in htmlmodalInfo5"
                  :key="index + 5"
                  :htmlmodal="htmlmodal"
                />
              </div>
              <p>
                Il y a toute sorte de façon d’attirer une clientèle afin
                d’augmenter sa visibilité. Privilégiez un discours original,
                clair et cohérent, fidèle à votre univers de marque, vos valeurs
                et votre public. Tenez votre public en alerte constante pendant
                toute la durée d’ouverture du commerce. Il est impératif que le
                consommateur soit aux alertes pour qu’il ne passe pas à côté de
                votre pop-up. N’oubliez pas que vous ne restez pas éternellement
                sur place.
              </p>
            </div>
          </div>
        </div>
        <div class="step__item" id="6-communiquez-votre-marque">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>6.</span>Communiquez votre marque
              </h3>
            </div>
            <div class="step__text">
              <h4 id="determine">Déterminez vos objectifs et vos messages</h4>
              <ul class="list">
                <li class="list__top list__content">
                  <b>Sensibiliser :</b> aux valeurs de votre marque, à la
                  qualité de vos produits,…
                </li>
                <li class="list__top list__content">
                  <b>Informer :</b> sur l’ouverture de votre boutique, sur les
                  produits qu’on y trouve, sur les événements qui y prennent
                  place,…
                </li>
                <li class="list__top list__content">
                  <b>Générer :</b> du trafic sur vos réseaux, du flux dans votre
                  commerce, de la participation à vos événements,…
                </li>
                <li class="list__top list__content">
                  <b>Fidéliser :</b> votre clientèle via votre newsletter, vos
                  réseaux sociaux,…
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="canal">Décidez des canaux à exploiter</h4>
              <ul class="list">
                <li class="list__content">
                  <p class="list__top">Site web et blog</p>
                  <p class="list__text">
                    Vous avez un site internet ou un blog ? Il est avant tout
                    capital de s’assurer que celui-ci bénéficie du meilleur
                    référencement possible et que toutes les informations qui
                    s’y trouvent sont correctes, uniformisées et à jour.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Réseaux sociaux et emailing</p>
                  <p class="list__text">
                    Sur les réseaux sociaux, communiquez régulièrement, engagez
                    vos followers pour qu’ils partagent l’information, qu’ils
                    participent à vos événements et vous recommandent. Pour
                    créer de l’interaction, publiez des photos de vos
                    événements, mentionnez vos partenaires,…
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Presse et influenceurs</p>
                  <p class="list__text">
                    La presse et les blogs sont également un bon moyen de faire
                    parler de soi sans frais. Evitez les envois massifs de
                    communiqués ou dossiers de presse. Privilégiez le contact
                    direct avec les journalistes, par téléphone si possible, par
                    mail personnalisé, le cas échéant.
                  </p>
                </li>
                <li class="list__content">
                  <p class="list__top">Événementiel</p>
                  <p class="list__text">
                    Enfin, n’attendez pas que les clients entrent spontanément
                    dans votre boutique, faites-les venir en organisant
                    régulièrement des événements ou en les impliquant dans des
                    workshops, des panels,…
                  </p>
                </li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="evolue">Evaluez et adaptez</h4>
              <p>
                Une fois ces outils mis en place, mesurez leur efficacité,
                analysez les données qu’ils génèrent, tirez-en des conclusions,
                abandonnez ce qui n’a pas marché, améliorez ce qui peut l’être
                et recommencez.
              </p>
            </div>
          </div>
        </div>
        <div class="step__item" id="7-evitez-les-pieges">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="step__title">
              <h3>
                <span>7.</span>Évitez les pièges
              </h3>
            </div>
            <div class="step__text">
              <p class="paragraph__orange">
                Attention aux erreurs, elles peuvent-être très vite être
                commises sans necessairement s’en rendre compte. Voici quelques
                erreurs à faire particulièrement attention :
              </p>
              <ul class="list">
                <li
                  class="list__top list__content"
                >Pas assez planifié, préparé et trop peu de promotion ;</li>
                <li
                  class="list__top list__content"
                >Mauvaise définition des prix par rapport à la localisation ;</li>
                <li class="list__top list__content">
                  Trop peu de dépenses (de temps et d’argent) dans les
                  technologies ;
                </li>
                <li class="list__top list__content">Pas de plan B pour un extra stock ;</li>
                <li class="list__top list__content">
                  Pas assez de préparation pour l’engagement du personnel, ainsi
                  que par rapport au temps et à l’effort que demande un pop-up ;
                </li>
                <li class="list__top list__content">Trop d’attentes du pop-up store.</li>
              </ul>
            </div>
            <div class="step__text">
              <h4 id="conseil">Dernier petit conseil à prendre en compte.</h4>
              <p>
                Il est conseillé d’éviter le mot « pop-up » sur son enseigne.
                Même si le concept n’a rien perdu de ses forces aux files des
                années, en Flandre et aux Pays-Bas par exemple, le mot aurait
                pris une connotation négatives et associé dans l’imaginaire des
                consommateurs à quelque chose de moindre qualité.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <SectionOverlay
      id="experience"
      v-for="(overlay, index) in overlayExperience"
      :key="index + 2"
      :overlay="overlay"
    />
  </layout>
</template>

<script>
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SectionOverlay from "~/components/SectionOverlay.vue";
import HtmlModal from "~/components/HtmlModal.vue";
export default {
  name: "etapes",
  metaInfo: {
    title: "Guide pour se préparer en 7 étapes",
    meta: [
      { name: "description", content: "Guide pour se préparer en 7 étapes" }
    ]
  },
  components: {
    SectionOverlayBanner,
    SectionOverlay,
    HtmlModal
  },
  methods: {
    onItemChanged(event, currentItem, lastActiveItem) {
      // your logic
    }
  },
  data() {
    return {
      showModal: false,
      overlayHeader: [
        {
          backgroundImage: "./../images/image-overlay-guide.jpg",
          title: "Se préparer<br>en 7 étapes",
          text:
            "Il est nécessaire de penser à offrir une réelle expérience d’immersion dans l’imaginaire de la marque et/ou du concept. Le pop-up, c’est une improvisation… bien organisée."
        }
      ],
      htmlmodalInfo1: [
        {
          title: "Questionnez vos intensions",
          text:
            "Voici une liste de questions à se poser avant de commencer à définir ce à quoi pourrait devenir votre commerce.",
          link: "./../images/guide/modal-guide-1.pdf",
          image: "./../images/guide/modal-guide-1.jpg",
          alt: "Liste de questions à se poser"
        }
      ],
      htmlmodalInfo2: [
        {
          title: "Définissez votre profil",
          text:
            "Retrouvez ici les différentes caractéristiques liées aux différents types existants de pop-up stores.",
          link: "./../images/guide/modal-guide-2.pdf",
          image: "./../images/guide/modal-guide-2.jpg",
          alt: "Liste des caractéristiques des différents profils"
        }
      ],
      htmlmodalInfo4: [
        {
          title: "Installation et règlementation",
          text:
            "Voici le tableau nécessaire à la demande de l'administration communale et de la police.",
          link: "./../images/guide/modal-guide-4.pdf",
          image: "./../images/guide/modal-guide-4.jpg",
          alt: "Liste des documents de base"
        }
      ],
      htmlmodalInfo5: [
        {
          title: "Créez votre cadre commercial",
          text:
            "Retrouvez une petite liste qui vous permettra d'optimiser un maximum l'espace de vente de votre boutique pour qu'elle soit le plus rentable possible.",
          link: "./../images/guide/modal-guide-5.pdf",
          image: "./../images/guide/modal-guide-5.jpg",
          alt:
            "Check-list de quelques points d’attention/suggestions pour votre aménagement"
        }
      ],
      overlayExperience: [
        {
          backgroundImage: "/images/image-overlay-experience.jpg",
          title: "En vue d’ouvrir une boutique éphémère ? Tentez l’expérience",
          text:
            "Nous vous guidons vers les différents critères qui pourraient être le plus compatible avec ce que vous aimeriez entreprendre. Découvrez quel type de structure vous conviendrait le mieux.",
          buttonLink: "/pop-up/experience/",
          button: "Se rendre éphémère"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

ul {
  padding-left: 0;
}
.section__step {
  background-color: $white;
  position: relative;
  display: flex;
}
.sidebar {
  z-index: 100;
}
.step__nav {
  position: sticky;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 380px;
  overflow-y: scroll;
  h2 {
    margin: 20px 40px 0;
    font-weight: 400;
    color: $brand-primary;
  }
  display: none;
  @include mappy-query(b-medium) {
    display: block;
  }
}
.nav__items {
  line-height: 1;
  width: 100%;
  &--sub {
    padding-left: 25px;
    list-style: none;
  }
}
.nav__item {
  background: transparent;
  a {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    font-size: modular-scale(0);
    font-weight: 400;
    color: $brand-primary-dark;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    span {
      margin-right: 10px;
    }
  }
  &--sub {
    a {
      font-weight: 300;
      font-size: modular-scale(-1);
    }
  }
}
.step__item {
  margin: 100px 20px 100px 20px;
  max-width: 650px;
  padding-bottom: 50px;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: $brand-primary-dark;
  }
  @include mappy-query(b-medium) {
    margin: 100px 60px 100px 80px;
    &:before {
      display: none;
    }
  }
  @include mappy-query(b-big) {
    margin: 100px auto;
  }
}
.step__content {
  margin: 0 0 40px;
}
.step__title {
  h3 {
    font-size: modular-scale(3);
    color: $brand-primary-dark;
    @include mappy-query(b-medium) {
      font-size: modular-scale(5);
    }
  }
  span {
    display: block;
    position: absolute;
    margin-left: -30px;
    @include mappy-query(b-medium) {
      margin-left: -60px;
    }
  }
}
.step__text {
  color: #5d5d5d;

  h4 {
    padding-bottom: 30px;
    font-size: modular-scale(2);
    color: $brand-primary;
  }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list__top {
    color: $black;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .list__text {
    font-size: modular-scale(-1);
    color: #5d5d5d;
  }
  .list__content {
    color: $black;
    margin-bottom: 20px;
  }
}
h4 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.paragraph__black {
  color: $black;
}
.paragraph__orange {
  color: $brand-secondary;
}
.l-f-grid--cols-2 {
  @include mappy-query(b-medium) {
    .l-f-grid__column:first-child {
      max-width: 40%;
    }
    .l-f-grid__column:last-child {
      max-width: 60%;
    }
  }
}

.button__link {
  border: none;
  background-color: $brand-primary;
  color: $white;
  font-size: modular-scale(-1);
  text-transform: uppercase;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 30px 0;
  margin-right: 40px;
  &:hover {
    background-color: $brand-primary-dark;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 80%;
  max-width: auto;
  background-color: #fff;
  border-radius: 6px;
  overflow-x: scroll;
  padding: 25px;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.3);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%) translateX(100vw);
}
</style>
