<template>
  <Layout>
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />

    <SectionSubject v-for="(subject, index) in subjectConcept" :key="index + 2" :subject="subject" />

    <SectionOverlay
      v-for="(overlay, index) in overlayExperience"
      :key="index + 10"
      :overlay="overlay"
    />

    <SectionSubject v-for="(subject, index) in subjectNotice" :key="index + 20" :subject="subject" />

    <Quote />

    <SectionSubject v-for="(subject, index) in subjectLayout" :key="index + 21" :subject="subject" />
    <SubjectPost class="subject-post" />

    <article class="image-overlay-contact">
      <div class="l-constrain bloc__form">
        <div class="bloc-text__b">
          <h2>
            Restez au courant
            <br />des nouveautés législatives.
          </h2>
          <p>
            Les boutiques éphémères sont en pleine expansion ces derniers temps.
            Scheme Corner continue à vous informer sur les modalités à connaître
            pour porter au mieux votre exploitation.
          </p>
          <div class="container__form">
            <form class="form">
              <div class="bloc__input">
                <div class="field">
                  <div class="control">
                    <input
                      v-model="email"
                      class="input"
                      type="email"
                      placeholder="Entrez votre adresse email"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button v-on:click="onSubmit" class="button__submit">
                      <font-awesome-icon class="font-solid" :icon="['fas', 'arrow-circle-right']" />
                    </button>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" v-model="checked" required />
                    <span>
                      J'accepte la
                      <a href="#">Politique de confidentialité de Sheme Corner</a>
                    </span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="bloc-green bloc-green__contact">
          <div class="bloc-title">
            <h3>Dites-nous tout, faites-nous part de vos envies</h3>
            <g-link class="button__link" to="/contact">Contactez-nous</g-link>
          </div>
        </div>
      </div>
    </article>
  </Layout>
</template>
<script>
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SectionOverlay from "~/components/SectionOverlay.vue";
import SectionSubject from "~/components/SectionSubject.vue";
import SubjectPost from "~/components/SubjectPost.vue";
import Quote from "~/components/Quote.vue";
export default {
  name: "Home",
  metaInfo: {
    title: "Homepage",
    meta: [
      {
        name: "description",
        content:
          "Avez-vous déjà pensé ou êtes-vous sur le point d'ouvrir un  pop-up store ? Scheme Corner vous permet de vous projeter et de vous donner des conseils et des astuces pour lancer votre marque sous forme de pop-up store."
      },
      // OpenGraph
      {
        property: "og:title",
        content: "Scheme Corner - Projet TFE 2020 DWM"
      },
      {
        property: "og:site_name",
        content: "Scheme Corner TFE"
      },
      {
        property: "og:type",
        content: "Website"
      },
      {
        property: "og:url",
        content: "https://ianvu.com/projets/tfe/"
      },
      {
        property: "og:description",
        content:
          "Avez-vous déjà pensé ou êtes-vous sur le point d'ouvrir un  pop-up store ? Scheme Corner vous permet de vous projeter et de vous donner des conseils et des astuces pour lancer votre marque sous forme de pop-up store."
      },
      {
        property: "og:image",
        content: process.env.URL + require("@/assets/images/share-facebook.jpg")
      },
      // Twitter Card
      {
        name: "twitter:card",
        content: "summary"
      },
      {
        name: "twitter:site",
        content: "https://www.ianvu.com/projets/tfe/"
      },
      {
        name: "twitter:title",
        content: "Scheme Corner - Projet TFE 2020 DWM"
      },
      {
        name: "twitter:description",
        content:
          "Avez-vous déjà pensé ou êtes-vous sur le point d'ouvrir un  pop-up store ? Scheme Corner vous permet de vous projeter et de vous donner des conseils et des astuces pour lancer votre marque sous forme de pop-up store."
      },
      {
        name: "twitter:creator",
        content: "@SchemeCorner"
      },
      {
        name: "twitter:image",
        content: process.env.URL + require("@/assets/images/share-twitter.jpg")
      }
    ]
  },
  components: {
    SectionOverlayBanner,
    SectionOverlay,
    SectionSubject,
    Quote,
    SubjectPost
  },
  data() {
    return {
      title: "",
      content: "",
      onSubmit: "",
      email: "",
      checked: "",
      overlayHeader: [
        {
          backgroundImage: "./images/image-overlay-homepage.jpg",
          title: "Lancez-vous dans le monde du<br>pop-up store",
          text:
            // "Nous partageons nos conseils pour vous permettre de prendre connaissance de tout ce qu’il y a à savoir avant l’ouverture d’une future boutique éphémère.",
            "Avez-vous déjà pensé ou êtes-vous sur le point d'ouvrir un&nbsp; pop-up store&nbsp;? Scheme Corner vous permet de vous projeter et de vous donner des conseils et des astuces pour lancer votre marque sous forme de pop-up store."
        }
      ],
      subjectConcept: [
        {
          image: "./images/image-overlay-concept.jpg",
          rst: "Le concept",
          title: "Le concept pop-up store",
          text:
            "Un pop-up store (« boutique éphémère » en français) n’est plus une simple tendance du commerce de détail : c’est devenu un élément incontournable dans les stratégies de marketing et toutes les marques sont concernées : qu'elles cherchent à se faire un nom, qu'elles soient déjà bien établies et même les marques de luxe s'implantent sur le marché par ce biais.",
          titleRight: "Le pop-up store : un élément incontournable",
          button: "Qu’est-ce qu'un pop-up store ?",
          buttonLink: "/concept"
        }
      ],
      overlayExperience: [
        {
          backgroundImage: "./images/image-overlay-experience.jpg",
          title: "Découvrez à quoi pourrait ressembler votre pop-up store.",
          text:
            "Nous vous guidons vers les différents critères qui pourraient être les plus compatibles avec ce que vous aimeriez entreprendre. Découvrez quel type de structure vous conviendrait le mieux.",
          button: "Faire l'expérience",
          buttonLink: "/pop-up/experience"
        }
      ],
      subjectNotice: [
        {
          image: "./images/image-overlay-guide.jpg",
          rst: "Le guide",
          title: "Se préparer en 7 étapes",
          text:
            "Vous souhaitez ouvrir un pop-up store mais vous avez beaucoup de questions et ne savez pas par où commencer. Voici 7 étapes non-négligeables issues du terrain afin de vous aider à démarrer votre propre pop-up store en toute sécurité.",
          titleRight: "Démarrer un pop-up store",
          button: "Vos réponses en toute sécurité",
          buttonLink: "/guide"
        }
      ],
      subjectLayout: [
        {
          image: "./images/image-overlay-popup.jpg",
          rst: "Les espaces",
          title: "Formes diverses, lieux divers",
          text:
            "Selon les observations du livre blanc Klépierre Qualiquanti, les pop-up stores sont protéiformes : trucks, bus, trams, containers, stands, espaces modulables, bars, boutiques, pavillons, folies ou encore installations spectaculaires... les marques ont le choix des armes !",
          titleRight: "Des lieux protéiformes",
          button: "Petit aperçu",
          buttonLink: "/pop-up"
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

$min_width: $b-small-val;
$max_width: $b-big-val;
$min_font: 38px;
$max_font: 52px;
.subject-post {
  margin-top: 70px;
  display: none;
  @include mappy-query(b-medium) {
    display: block;
  }
}
.image-overlay-contact {
  z-index: -1;
  display: flex;
  position: relative;
  width: 100%;
  background-image: url(~@/assets/images/image-overlay-contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bloc__form {
  display: flex;
  align-items: center;
  color: $white;
  flex-direction: column;
  overflow: hidden;
  padding-top: 200px;
  @include mappy-query(b-medium) {
    flex-direction: row;
    padding-top: inherit;
  }
  .bloc-text__b {
    width: 100%;
    br {
      display: none;
    }
    @include mappy-query(b-medium) {
      width: 60.6557377049%;
      padding-right: 60px;
      padding-top: 140px;
      padding-bottom: 100px;
      br {
        display: block;
      }
    }
    @include mappy-query(b-big) {
      max-width: 750px;
    }
    h2 {
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      font-family: $base-font-family;
      font-size: 52px;
      line-height: 1;
      font-weight: 900;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: -2px;
      &:after {
        content: "";
        display: block;
        width: 20%;
        height: 1px;
        background: $white;
        margin-top: 40px;
      }
    }
    p {
      font-family: $base-font-family;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 30px;
      padding: 30px 0px 30px 0;
    }
    .container__form {
      @include mappy-query(b-medium) {
        padding-right: 60px;
      }
    }
  }
}

.input {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 6px;
  padding: 12px 80px 12px 40px;
  font-size: modular-scale(0);
  color: $gray25;
  line-height: 1;
  &::placeholder {
    color: $gray50;
    font-size: modular-scale(0);
    font-weight: 300;
    padding: 8px 0 12px 0;
    line-height: 0;
  }
  @include mappy-query(b-medium) {
    font-size: modular-scale(1);
    &::placeholder {
      font-size: modular-scale(1);
      padding: 15px 0 15px 0;
    }
  }
}
.bloc__input {
  position: relative;
  margin-top: 20px;
}
.button__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 30px;
  height: 100%;
  border: 1px solid transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: $white;
  .font-solid {
    color: $brand-primary;
    font-size: modular-scale(3);
  }
  &:hover {
    .font-solid {
      color: $brand-secondary;
    }
  }
}
.checkbox {
  font-size: modular-scale(-1);
  display: flex;
  align-items: center;
  margin-top: 10px;
  input {
    margin-right: 10px;
    border: 1px solid transparent;
    display: inline;
  }
  a {
    color: $white;
    display: inline;
    text-decoration: underline;
  }
}

.bloc-green {
  position: relative;
  display: flex;
  align-items: center;
  background: #1eb2a6;
  color: #fff;
  text-align: center;
  @include mappy-query(b-medium) {
    flex: 1;
  }
}
.bloc-green__contact {
  margin-top: 40px;
  padding: 30px 60px;
  height: 100%;
  @include mappy-query(b-medium) {
    margin-top: auto;
    padding: 120px 40px 30px 40px;
  }
}
.bloc-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  h3 {
    font-family: $subtitle-font-family;
    font-size: modular-scale(3);
    text-transform: uppercase;
    font-weight: 500;
    @include mappy-query(b-medium) {
      font-size: modular-scale(4);
    }
  }
}
</style>
