<template>
  <layout>
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h1>Licences</h1>
          <p>
            Ce site internet est destiné aux personnes intéressées par le
            concept de pop-up store. Par conséquent, tout le contenu se trouvant
            sur ce site vous aidera à en connaître davantage sur ce concept et
            vous aidera peut-être à franchir le pas afin d’ouvrir, à votre tour,
            votre propre boutique.
          </p>
          <p>
            De plus, pour vous donner un maximum de conseils à partir de ce
            projet, ce site Internet n'aurait pu être réalisé sans l'aide de ces
            logiciels suivants. Par la présente, je tiens à remercier tous les
            auteurs et contributeurs qui ont participé à ces projets.
          </p>
          <SectionLicence
            v-for="(licence, index) in licenceAutoprefixer"
            :key="index"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceBabel"
            :key="index + 1"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceBourbon"
            :key="index + 2"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceES6Promise"
            :key="index + 21"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceES6Promise"
            :key="index + 22"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceFetch"
            :key="index + 23"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceGridsome"
            :key="index + 3"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceGridsomePluginModal"
            :key="index + 4"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceHooper"
            :key="index + 5"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceMappy"
            :key="index + 6"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceSass"
            :key="index + 7"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceSassLoader"
            :key="index + 8"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVue"
            :key="index + 9"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueAnalytics"
            :key="index + 9"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueCLI"
            :key="index + 10"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueFuse"
            :key="index + 11"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueLoader"
            :key="index + 12"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVuejsModal"
            :key="index + 41"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueRouter"
            :key="index + 13"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceVueTemplateCompiler"
            :key="index + 14"
            :licence="licence"
          />
          <SectionLicence
            v-for="(licence, index) in licenceWebpack"
            :key="index + 25"
            :licence="licence"
          />
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionLicence from "~/components/SectionLicence.vue";
export default {
  name: "Licences",
  metaInfo: {
    title: "Licences",
    meta: [{ name: "description", content: "Licences" }],
  },
  components: {
    SectionLicence,
  },
  data() {
    return {
      licenceAutoprefixer: [
        {
          title: "Autoprefixer",
          copyright: "Copyright 2013 Andrey Sitnik <andrey@sitnik.ru>",
        },
      ],
      licenceBabel: [
        {
          title: "Babel",
          copyright:
            "Copyright (c) 2014-present Sebastian McKenzie and other contributors",
        },
      ],
      licenceBourbon: [
        {
          title: "Bourbon",
          copyright: "Copyright © 2011-2020 thoughtbot, inc.",
        },
      ],
      licenceES6Promise: [
        {
          title: "ES6 Promise",
          copyright:
            "Copyright (c) 2014 Yehuda Katz, Tom Dale, Stefan Penner and contributors",
        },
      ],
      licenceEventSource: [
        {
          title: "EventSource",
          copyright: "Copyright (c) 2018 Viktor",
        },
      ],
      licenceFetch: [
        {
          title: "Fetch",
          copyright: "Copyright (c) 2014-2016 GitHub, Inc.",
        },
      ],
      licenceGridsome: [
        {
          title: "Gridsome",
          copyright: "Copyright (c) 2018-present, Gridsome",
        },
      ],
      licenceGridsomePluginModal: [
        {
          title: "Gridsome-plugin-modal Vue.js modal",
          copyright: "Sergey Filimonov <email@sergeyfilimonov.com>",
        },
      ],
      licenceHooper: [
        {
          title: "Hooper",
          copyright: "Copyright (c) Baianat <code@baianat.com>",
        },
      ],
      licenceMappy: [
        {
          title: "Mappy-Breakpoints",
          copyright: "Copyright (c) 2016 Zell Liew",
        },
      ],
      licenceSass: [
        {
          title: "Sass",
          copyright: "Copyright (c) 2016, Google Inc.",
        },
      ],
      licenceSassLoader: [
        {
          title: "Sass Loader",
          copyright: "Copyright JS Foundation and other contributors",
        },
      ],
      licenceVueAnalytics: [
        {
          title: "Vue Analytics",
          copyright: "Copyright (c) 2016-2017 Matteo Gabriele",
        },
      ],
      licenceVue: [
        {
          title: "Vue.js",
          copyright: "Copyright (c) 2013-present, Yuxi (Evan) You",
        },
      ],
      licenceVueCLI: [
        {
          title: "Vue Template Compiler",
          copyright: "Copyright (c) 2013-present, Yuxi (Evan) You",
        },
      ],
      licenceVueFuse: [
        {
          title: "Vue Fuse",
          copyright: "Copyright (c) 2018 Shayne O'Sullivan",
        },
      ],
      licenceVueLoader: [
        {
          title: "Vue Loader",
          copyright: "Copyright (c) 2013-present, Yuxi (Evan) You",
        },
      ],
      licenceVuejsModal: [
        {
          title: "Vue.js modal",
          copyright: "Copyright (c) 2017 Yev Vlasenko",
        },
      ],
      licenceVueRouter: [
        {
          title: "Vue Router",
          copyright: "Copyright (c) 2013-present Evan You",
        },
      ],
      licenceVueTemplateCompiler: [
        {
          title: "Vue Template Compiler",
          copyright: "Copyright (c) 2013-present, Yuxi (Evan) You",
        },
      ],
      licenceWebpack: [
        {
          title: "Webpack",
          copyright: "Copyright JS Foundation and other contributors",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.legal {
  padding-top: 80px;
}
.container__legal {
  padding: 20px 5% 20px;
  background: $white;
  margin-bottom: 70px;
  @include mappy-query(b-small) {
    padding: 80px 15% 20px;
  }
}
h1 {
  font-size: 52px;
}
p {
  margin-bottom: 30px;
}
</style>
