<template>
  <layout>
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h1>Politique de confidentialité</h1>
          <p>
            Scheme Corner exploite le site web ianvu.com/projets/tfe (le
            "Service").
          </p>
          <p>
            Cette page vous informe de nos politiques concernant la collecte,
            l'utilisation et la divulgation des informations personnelles
            lorsque vous utilisez notre service.
          </p>
          <p>
            Nous n'utiliserons ni ne partagerons vos informations avec personne,
            sauf comme décrit dans la présente politique de confidentialité.
          </p>
          <p>
            Nous utilisons vos informations personnelles pour fournir et
            améliorer le service. En utilisant le Service, vous acceptez la
            collecte et l'utilisation d'informations conformément à cette
            politique. Sauf indication contraire dans la présente politique de
            confidentialité, les termes utilisés dans cette politique de
            confidentialité ont la même signification que dans nos conditions
            générales, accessibles sur ianvu.com/projets/tfe
          </p>
          <h2>Collecte et utilisation des informations</h2>
          <p>
            Lors de l'utilisation de notre service, nous pouvons vous demander
            de nous fournir certaines informations personnellement identifiables
            qui peuvent être utilisées pour vous contacter ou vous identifier.
          </p>
          <p>
            Nous collectons les informations que votre navigateur envoie chaque
            fois que vous visitez notre service ("Données de journal"). Ces
            données de journal peuvent inclure des informations telles que
            l'adresse IP (Internet Protocol) de votre ordinateur, le type de
            navigateur, la version du navigateur, les pages de notre service que
            vous visitez, l'heure et la date de votre visite, le temps passé sur
            ces pages et autres statistiques.
          </p>
          <h2>Cookies</h2>
          <p>
            Les cookies sont des fichiers contenant une petite quantité de
            données, qui peuvent inclure un identifiant unique anonyme. Les
            cookies sont envoyés à votre navigateur à partir d'un site Web et
            stockés sur le disque dur de votre ordinateur.
          </p>
          <p>
            Nous utilisons des "cookies" pour collecter des informations. Vous
            pouvez demander à votre navigateur de refuser tous les cookies ou
            d'indiquer quand un cookie est envoyé. Cependant, si vous n'acceptez
            pas les cookies, vous ne pourrez peut-être pas utiliser certaines
            parties de notre service.
          </p>
          <h2>Les fournisseurs de services</h2>
          <p>
            Nous pouvons employer des sociétés et des individus tiers pour
            faciliter notre service, pour fournir le service en notre nom, pour
            exécuter des services liés au service ou pour nous aider à analyser
            la façon dont notre service est utilisé.
          </p>
          <p>
            Ces tiers ont accès à vos informations personnelles uniquement pour
            effectuer ces tâches en notre nom et sont tenus de ne pas les
            divulguer ou de les utiliser à d'autres fins.
          </p>
          <h3>Google Analytics</h3>
          <p>
            Google Analytics est un service d'analyse Web fourni par Google Inc.
            ("Google"). Google utilise les données collectées pour suivre et
            examiner l'utilisation de cette application, préparer des rapports
            sur ses activités et les partager avec d'autres services Google.
          </p>
          <p>
            Google peut utiliser les cookies et les données d'utilisation
            collectés pour contextualiser et personnaliser les annonces de son
            propre réseau publicitaire.
          </p>
          <p>
            Lieu de traitement des données: États-Unis -
            <a href="https://www.google.com/intl/en/policies/privacy/"
              >Politique de confidentialité</a
            >
            -
            <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Opt Out</a>
          </p>
          <h2>Sécurité</h2>
          <p>
            La sécurité de vos informations personnelles est importante pour
            nous, mais n'oubliez pas qu'aucune méthode de transmission sur
            Internet ou méthode de stockage électronique n'est sûre à 100%. Bien
            que nous nous efforcions d'utiliser des moyens commercialement
            acceptables pour protéger vos informations personnelles, nous ne
            pouvons pas garantir leur sécurité absolue.
          </p>
          <h2>Liens vers d'autres sites Web</h2>
          <p>
            Notre service peut contenir des liens vers des sites Web ou des
            services tiers qui ne sont pas détenus ou contrôlés par Scheme
            Corner.
          </p>
          <p>
            Scheme Corner n'a aucun contrôle sur, et n'assume aucune
            responsabilité pour, le contenu, les politiques de confidentialité
            ou les pratiques de tout site Web ou service tiers. Vous
            reconnaissez et acceptez également que Scheme Corner appartenant à
            l'école Albert Jacquard ne sera pas tenu responsable, directement ou
            indirectement, de tout dommage ou perte causé ou présumé être causé
            par ou en relation avec l'utilisation ou la dépendance à l'égard de
            tels contenus, biens ou services disponibles sur ou via ces sites
            Web ou services.
          </p>
          <p>
            Nous vous conseillons fortement de lire les termes et conditions et
            les politiques de confidentialité de tout site Web ou service tiers
            que vous visitez.
          </p>
          <h2>Modifications de cette politique de confidentialité</h2>
          <p>
            Nous pouvons mettre à jour notre politique de confidentialité de
            temps en temps. Nous vous informerons de tout changement en publiant
            la nouvelle politique de confidentialité sur cette page.
          </p>
          <p>
            Nous vous conseillons de consulter régulièrement cette politique de
            confidentialité pour tout changement. Les modifications apportées à
            cette politique de confidentialité sont effectives lorsqu'elles sont
            publiées sur cette page.
          </p>
          <h2>Nous contacter</h2>
          <p>
            Si vous avez des questions sur cette politique de confidentialité,
            veuillez nous contacter.
          </p>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
export default {
  name: "Policy",
  metaInfo: {
    title: "Poilitique de confidentialité",
    meta: [{ name: "description", content: "Poilitique de confidentialité" }],
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.legal {
  padding-top: 80px;
}
.container__legal {
  padding: 20px 5% 20px;
  margin-bottom: 70px;
  background: $white;
  @include mappy-query(b-small) {
    padding: 80px 15% 20px;
  }
}
h1 {
  font-size: 52px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
</style>
