<template>
  <layout>
    <section class="legal">
      <div class="l-constrain">
        <div class="container__legal">
          <h1>Termes et conditions</h1>
          <p>
            Scheme Corner exploite le site web ianvu.com/projets/tfe (le
            "Service").
          </p>
          <p>
            Votre accès et votre utilisation du Service sont conditionnés par
            votre acceptation et votre respect des présentes Conditions. Ces
            Conditions s'appliquent à tous les visiteurs, utilisateurs et autres
            personnes qui accèdent ou utilisent le Service.
          </p>
          <p>
            En accédant ou en utilisant le Service, vous acceptez d'être lié par
            ces Conditions. Si vous n'êtes pas d'accord avec une partie des
            conditions, vous ne pouvez pas accéder au service.
          </p>
          <h2>Liens vers d'autres sites Web</h2>
          <p>
            Notre service peut contenir des liens vers des sites Web ou des
            services tiers qui ne sont pas détenus ou contrôlés par Scheme
            Corner.
          </p>
          <p>
            Scheme Corner n'a aucun contrôle sur, et n'assume aucune
            responsabilité pour, le contenu, les politiques de confidentialité
            ou les pratiques de tout site Web ou service tiers. Vous
            reconnaissez et acceptez également que Scheme Corner appartenant à
            l'école Albert Jacquard ne sera pas tenu responsable, directement ou
            indirectement, de tout dommage ou perte causé ou présumé être causé
            par ou en relation avec l'utilisation ou la dépendance à l'égard de
            tels contenus, biens ou services disponibles sur ou via ces sites
            Web ou services.
          </p>
          <p>
            Nous vous conseillons fortement de lire les termes et conditions et
            les politiques de confidentialité de tout site Web ou service tiers
            que vous visitez.
          </p>
          <h2>Résiliation</h2>
          <p>
            Nous pouvons résilier ou suspendre l'accès à notre Service
            immédiatement, sans préavis ni responsabilité, pour quelque raison
            que ce soit, y compris sans limitation si vous enfreignez les
            Conditions.
          </p>
          <p>
            Toutes les dispositions des Conditions qui, de par leur nature,
            devraient survivre à la résiliation survivront à la résiliation, y
            compris, sans s'y limiter, les dispositions relatives à la
            propriété, les exclusions de garantie, l'indemnité et les
            limitations de responsabilité.
          </p>
          <h2>Loi applicable</h2>
          <p>
            Ces Conditions seront régies et interprétées conformément aux lois
            de la Belgique, sans égard à ses dispositions en matière de conflit
            de lois.
          </p>
          <p>
            Notre incapacité à appliquer tout droit ou disposition des présentes
            Conditions ne sera pas considéré comme une renonciation à ces
            droits. Si une disposition des présentes Conditions est jugée
            invalide ou inapplicable par un tribunal, les autres dispositions
            des présentes Conditions resteront en vigueur. Ces Conditions
            constituent l'intégralité de l'accord entre nous concernant notre
            Service, et remplacent et remplacent tout accord antérieur que nous
            pourrions avoir entre nous concernant le Service.
          </p>
          <h2>Changements</h2>
          <p>
            Nous nous réservons le droit, à notre seule discrétion, de modifier
            ou de remplacer ces conditions à tout moment. Si une révision est
            importante, nous essaierons de fournir un préavis d'au moins 30
            jours avant l'entrée en vigueur de toute nouvelle condition. Ce qui
            constitue un changement important sera déterminé à notre seule
            discrétion.
          </p>
          <p>
            En continuant à accéder ou à utiliser notre Service après que ces
            révisions soient entrées en vigueur, vous acceptez d'être lié par
            les conditions révisées. Si vous n'acceptez pas les nouvelles
            conditions, veuillez cesser d'utiliser le Service.
          </p>
          <h2>Nous contacter</h2>
          <p>
            Si vous avez des questions sur ces conditions, veuillez nous
            contacter.
          </p>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionLicence from "~/components/SectionLicence.vue";
export default {
  name: "Termes",
  metaInfo: {
    title: "Conditions d'utilisation",
    meta: [{ name: "description", content: "Conditions d'utilisation" }],
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.legal {
  padding-top: 80px;
}
.container__legal {
  padding: 20px 5% 20px;
  margin-bottom: 70px;
  background: $white;
  @include mappy-query(b-small) {
    padding: 80px 15% 20px;
  }
}
h1 {
  font-size: 52px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
</style>
