<template>
  <layout>
    <div
      class="l-f-grid__column"
      v-for="(project, index) in filteredProject"
      :key="index"
    >
      <g-link
        :to="project.node.path"
        id="show-modal"
        @click="showModal = 'html-modal'"
      >
        <article class="project">
          <figure>
            <img :src="project.node.image_teaser" :alt="project.node.title" />
          </figure>
          <div class="content">
            <h2>
              <g-link :to="project.node.path">{{ project.node.title }}</g-link>
            </h2>
            <p class="span">
              <span v-for="(tag, index) in project.node.tags" :key="index">{{
                tag
              }}</span>
            </p>
            <p class="description">{{ project.node.summary }}</p>
          </div>
        </article>
      </g-link>
    </div>
  </layout>
</template>

<page-query>
  query Projects {
    allProject {
      edges {
        node {
          path
          title
          image_teaser
          featured
          summary
          tags
          filters
        }
      }
    }
  }
</page-query>

<script>
export default {
  name: "ArticleProject",
};
</script>

<style scoped lang="scss">
@import "../assets/scss/_abstract.scss";
.project {
  position: relative;
  background: $white;
  overflow: hidden;
  margin-bottom: 80px;
  padding: 40px 40px;
  &:after {
    font-size: 0px;
    content: ".";
    position: absolute;
    border-bottom: 20px solid $gray-bg;
    border-left: 20px solid transparent;
    right: 0;
    bottom: 0;
  }
  .content {
    display: flex;
    flex-flow: column;
    height: 300px;
    text-decoration: none;
    margin-top: 40px;
    h2 {
      margin-bottom: 30px;
      font-family: "Anton", sans-serif;
      text-transform: uppercase;
      font-size: modular-scale(4);
      text-decoration: none;
      a {
        color: $black;
        text-decoration: none;
      }
    }
    p {
      color: $black;
      margin: rhythm(1/3) 0 0;
      span {
        &:not(:last-child) {
          &:after {
            content: ",";
            display: inline;
            margin-right: 0.125em;
          }
        }
      }
    }
  }
  figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 400px;
    img {
      transform: scale(1.3);
      transition: 0.5s transform ease-in-out;
    }
  }
  &:hover {
    img {
      transform: scale(1);
      transition: 0.5s transform ease-in-out;
    }
  }
}
</style>
