<template>
  <div class="cook">
    <div class="l-constrain">
      <div class="cookie" :class="containerPosition" v-if="isOpen">
        <div class="cookie__content">
          <slot name="message">
            {{ message }}
          </slot>
        </div>
        <div class="cookie__buttons">
          <div class="cookie__button accept" @click="accept">
            <p>{{ buttonTextAccept }}</p>
          </div>
          <div class="cookie__button deny" @click="deny">
            <p>{{ buttonTextDeny }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CookieMessage",
  props: {
    buttonTextAccept: {
      type: String,
      default: "J'accepte",
    },
    buttonTextDeny: {
      type: String,
      default: "Je refuse",
    },
    message: {
      type: String,
      default:
        "Nous utilisons des cookies pour nous permettre de mieux comprendre comment le site est utilisé. En continuant à utiliser ce site, vous acceptez cette politique.",
    },
    position: {
      type: String,
      default: "bottom",
    },
  },
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    containerPosition() {
      return `cookie--${this.position}`;
    },
  },
  mounted() {
    if (!this.getGDPR() === true) {
      this.isOpen = true;
    }
  },
  methods: {
    getGDPR() {
      return localStorage.getItem("GDPR:accepted", true);
    },
    accept() {
      this.isOpen = false;
      localStorage.setItem("GDPR:accepted", true);
    },
    deny() {
      this.isOpen = false;
      localStorage.setItem("GDPR:accepted", false);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.l-constrain {
  position: relative;
}
.cook {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f1fffe;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.cookie {
  display: flex;
  width: 100%;
  margin-left: auto;
  align-items: center;
}
.cookie__content {
  text-align: left;
}
.cookie__buttons {
  display: flex;
  flex-direction: column;
  @include mappy-query(b-medium) {
    flex-direction: row;
  }
}
.cookie__button {
  margin: 15px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100px;
  position: relative;
}
.cookie__button.accept {
  padding: 5px;
  background: $brand-primary;
  color: $white;
  cursor: pointer;
  margin-right: 20px;
}
.cookie__button.accept:hover {
  background: $brand-primary-dark;
}
.cookie__button.deny {
  padding: 5px;
  background: $brand-primary;
  color: $white;
  cursor: pointer;
}
.cookie__button.deny:hover {
  background: $brand-primary-dark;
}
</style>
