<template>
  <footer class="site-footer">
    <div class="l-constrain">
      <g-link to="/" class="logo">
        <g-image
          alt="Logo Scheme Corner"
          immediate="true"
          src="../assets/images/logo-scheme-corner.svg"
        />
      </g-link>
      <div class="footer__directory l-f-grid l-f-grid--col-4">
        <div class="l-f-grid__column">
          <ul>
            <h5>Concept</h5>
            <li>
              <g-link to="/concept/">Concept d'un pop-up store</g-link>
            </li>
            <li>
              <g-link to="/concept/avantages/">Avantages</g-link>
            </li>
          </ul>
        </div>
        <div class="l-f-grid__column">
          <ul>
            <h5>Pop-up store</h5>
            <li>
              <g-link to="/pop-up/">Liste des espaces</g-link>
            </li>
          </ul>
        </div>
        <div class="l-f-grid__column">
          <ul>
            <h5>Outils</h5>
            <li>
              <g-link to="/guide/">Guide</g-link>
            </li>
            <li>
              <g-link to="/pop-up/experience/">Se rendre éphémère</g-link>
            </li>
            <!-- <li><g-link to="/">Devenir partenaire</g-link></li> -->
          </ul>
        </div>
        <div class="l-f-grid__column">
          <ul>
            <h5>Support</h5>
            <li>
              <g-link to="/about/">À propos</g-link>
            </li>
            <li>
              <g-link to="/contact/">Contact</g-link>
            </li>
            <li>
              <a href="https://gitlab.com/ianvu/projet-tfe" target="_blank">
                GitHub
                <font-awesome-icon class="font-solid" :icon="['fas', 'external-link-alt']" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__bottom l-f-grid l-f-grid--col-2">
        <div class="footer__legal l-f-grid__column">
          <g-link to="/credits/" class="footer__link">Crédits</g-link>
          <g-link to="/politique/" class="footer__link">Politique de confidentialité</g-link>
          <g-link to="/termes/" class="footer__link">Conditions d'utilisation</g-link>
          <g-link to="/licences/" class="footer__link">Licences</g-link>
        </div>
        <div class="footer__legal l-f-grid__column">
          <small>Scheme Corner HEAJ © 2020</small>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from "~/components/Logo.vue";
export default {
  name: "Footer",
  components: {
    Logo
  },
  props: {
    isBlack: {
      type: Boolean
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.site-footer {
  padding: 60px 0 20px;
  background-color: #f1fffe;
}
.logo {
  display: inline-block;
  margin: 0 0 50px;
  pointer-events: auto;
  z-index: 100;
  img {
    max-width: 100px;
  }
}
ul {
  list-style: none;
  color: $black;
  padding: 0;
  h5 {
    font-size: modular-scale(0);
    margin-bottom: 10px;
    color: $brand-primary-dark;
    font-weight: 900;
    margin-top: 20px;
    @include mappy-query(b-medium) {
      margin-top: inherit;
    }
  }
  li {
    margin-bottom: 5px;
    line-height: 1.4;
    a {
      color: $black;
      text-decoration: none;
      position: relative;
      font-size: modular-scale(-1);
      &:hover {
        color: $gray50;
      }
    }
  }
}
.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px 0 20px;
  flex-direction: column;
  @include mappy-query(b-medium) {
    justify-content: space-between;
    flex-direction: inherit;
  }
}
.footer__legal {
  margin-bottom: 20px;
  .footer__link {
    margin-right: 40px;
    text-decoration: none;
    color: $black;
    font-size: modular-scale(-1);
    &:hover {
      color: $gray50;
    }
  }
  small {
    display: block;
    font-size: modular-scale(-1);
    color: $brand-primary-dark;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: right;
  }
}
.font-solid {
  position: absolute;
  width: 8px;
  top: -3px;
  right: -10px;
  color: $black;
}
</style>
