<template>
  <ClientOnly>
    <transition name="slide" appear>
      <div class="modal">
        <div class="l-f-grid l-f-grid--cols-2">
          <div class="bloc__text l-f-grid__column">
            <h1>{{ htmlmodal.title }}</h1>
            <p>{{ htmlmodal.text }}</p>
            <a class="button__link" :href="htmlmodal.link" target="_blank">
              Télécharger
              <font-awesome-icon
                class="font-solid"
                :icon="['fas', 'file-download']"
              />
            </a>
          </div>
          <div class="bloc__img l-f-grid__column">
            <g-image :src="htmlmodal.image" :alt="htmlmodal.alt" />
          </div>
        </div>
      </div>
    </transition>
  </ClientOnly>
</template>

<script>
export default {
  name: "HtmlModal",
  props: ["htmlmodal"],
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.modal {
  position: relative;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  .l-f-grid {
    padding: 50px 25px;
  }
  .bloc__text {
    align-self: center;
    h1 {
      font-size: modular-scale(3);
      line-height: 1.2;
      font-family: $subtitle-font-family;
      margin-bottom: 30px;
    }
    p {
      font-size: modular-scale(0);
    }
    .button__link {
      margin-top: 40px;
      background: $brand-primary;
      color: $white;
      .font-solid {
        color: $white;
        font-size: modular-scale(0);
      }
      &:hover {
        background: $brand-primary-dark;
      }
    }
  }
  .bloc__img {
    margin-top: 40px;
    @include mappy-query(b-medium) {
      margin-top: 0;
    }
    img {
      width: 100%;
    }
  }
}
</style>
