<template>
  <h1 class="logo">
    <g-link to="/">
      <g-image
        alt="Logo Scheme Corner"
        immediate="true"
        src="../assets/images/logo-scheme-corner.svg"
        fit="contain"
      />
    </g-link>
  </h1>
</template>
<script>
export default {
  name: "logo"
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.logo {
  pointer-events: auto;
  z-index: 100;
  a {
    height: 80px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    width: max-content;
    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease-in-out;
    }
  }
}
</style>
