<template>
  <layout>
    <ClientOnly>
      <Modal v-if="showModal">
        <slot>I am a modal</slot>
      </Modal>
    </ClientOnly>
    <ModalBtn @trigger="showModal = true">Show Modal</ModalBtn>
  </layout>
</template>

<script>
import ModalBtn from "~/components/ModalBtn.vue";
export default {
  name: "ModalBtnGuide",
  components: {
    ModalBtn,
  },
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style></style>
