<template>
  <header class="site-header">
    <button
      class="toogle-link"
      type="button"
      name="button"
      @click="openNav"
      :class="{ 'is-active': isVisible }"
    >
      <span>Menu</span>
      <div class="burger">
        <span class="button-bar button-bar--1"></span>
        <span class="button-bar button-bar--2"></span>
        <span class="button-bar button-bar--3"></span>
      </div>
    </button>
    <nav class="navmobile" :class="{ 'is-visible': isVisible }">
      <div class="l-constrain">
        <div class="l-f-grid l-f-grid--cols-2">
          <div class="l-f-grid__column">
            <div class="nav__links">
              <ul class="nav__links__list">
                <li>
                  <g-link class="nav__link" to="/">Accueil</g-link>
                </li>
                <li>
                  <g-link class="nav__link" to="/concept/">Concept</g-link>
                </li>
                <li>
                  <g-link class="nav__link" to="/pop-up">Pop-up</g-link>
                </li>
                <li>
                  <g-link class="nav__link" to="/guide">Guide</g-link>
                </li>
                <li>
                  <g-link class="nav__link" to="/contact">Contact</g-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "NavMobile",
  props: ["NavMobile"],
  data() {
    return {
      isVisible: false
    };
  },
  mounted() {
    document.body.classList.remove("js-menu-open");
  },
  methods: {
    openNav: function() {
      this.isVisible = !this.isVisible;
      if (this.isVisible) {
        document.body.classList.add("js-menu-open");
      } else {
        document.body.classList.remove("js-menu-open");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.site-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  z-index: 200;
  height: 80px;

  nav {
    align-items: center;
    background: $brand-secondary;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
    transform: translateX(100%);
    transition: 0.3s all ease-in;
    &:after {
      content: "";
      background: $white;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(0);
      transition: 0.3s all ease-in 0.5s;
    }
    .l-f-grid {
      width: 100%;
      align-items: center;
      .l-f-grid__column:nth-child(2) {
        text-align: right;
      }
      @include mappy-query(b-medium) {
        text-align: left;
        flex-direction: row-reverse;
        .l-f-grid__column:nth-child(2) {
          text-align: left;
        }
      }
    }
    .nav__links__list {
      list-style: none;
      margin: 0 0;
      padding: 0 3em;
      li {
        opacity: 0;
        font-size: modular-scale(3);
        transform: translateX(100%);
        transition: 0.3s all ease-in 0.5s;
        position: relative;
        a {
          text-decoration: none;
          color: $white;
        }
      }
      @include mappy-query(b-big) {
        margin: 0 60px 0;
        li {
          font-size: modular-scale(4);
        }
      }
    }
    &.is-visible {
      transform: translateX(0);
      transition: 0.3s all ease-in 0.5s;
      &:after {
        transform: translateX(-100%);
        transition: 0.3s all ease-in-out;
      }
      li {
        opacity: 1;
        transform: translateX(0);
        transition: 0.3s all ease-in-out;
        &:nth-child(1) {
          transition-delay: 0.6s;
        }
        &:nth-child(2) {
          transition-delay: 0.75s;
        }
        &:nth-child(3) {
          transition-delay: 0.9s;
        }
        &:nth-child(4) {
          transition-delay: 1.05s;
        }
        &:nth-child(5) {
          transition-delay: 1.2s;
        }
        &:nth-child(6) {
          transition-delay: 1.35s;
        }
        &:nth-child(7) {
          transition-delay: 1.5s;
        }
      }
    }
    .l-constrain {
      width: 100%;
    }
  }
  .toogle-link {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    color: $black;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    font-weight: 900;
    outline: none;
    pointer-events: all;
    z-index: 10;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    height: 80px;
    width: 80px;
    span {
      text-indent: -99999em;
      display: block;
    }
    @include mappy-query(b-medium) {
      display: none;
    }
    .burger {
      position: relative;
      height: 30px;
      width: 32px;
      margin-top: -1px;
      margin-right: -6px;
      padding: 8px 6px;
      .button-bar {
        background: $black;
        display: block;
        height: 2px;
        left: 6px;
        margin-top: -1px;
        position: absolute;
        right: 6px;
        top: 50%;
        width: auto;
        transition: 0.3s all ease-in;
        &.button-bar--1 {
          transform: translateY(-6px);
        }
        &.button-bar--2 {
          transform: scaleX(0.8);
          transform-origin: 100% 50%;
        }
        &.button-bar--3 {
          transform: translateY(6px);
        }
      }
    }
    &.is-black {
      color: $white;
      .burger {
        .button-bar {
          background: $black;
        }
      }
    }
    &.is-active {
      color: $white;
      .burger {
        transform: rotate(-180deg);
        .button-bar {
          background: $white;
          &.button-bar--1 {
            transform: rotate(45deg);
          }
          &.button-bar--2 {
            opacity: 0;
          }
          &.button-bar--3 {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &:hover {
      .burger {
        .button-bar {
          &.button-bar--2 {
            transform: scale(1);
          }
        }
      }
    }
  }
}
.navmobile {
  height: 100vh;
}
</style>
