<template>
  <section class="projects__list">
    <div class="l-f-grid l-f-grid--cols-2">
      <div class="l-f-grid__column" v-show="prevProject">
        <g-link :to="prevProject.path">
          <article class="project">
            <div
              class="img-bg"
              v-bind:style="{
                'background-image': 'url(' + prevProject.image_teaser + ')',
              }"
            />
            <div class="content content__left">
              <span>Pop-Up précédent</span>
              <h2>
                <g-link :to="prevProject.path">{{ prevProject.title }}</g-link>
              </h2>
              <!-- <p><span v-for="(tag, index) in prevProject.tags" :key="index">{{ tag }}</span></p> -->
              <!-- <p class="links"><g-link :to="prevProject.path" class="button"><font-awesome-icon class="icon icon-previous" :icon="['fas', 'chevron-circle-left']" />Previous case study</g-link></p> -->
            </div>
          </article>
        </g-link>
      </div>

      <div class="l-f-grid__column" v-show="NextProject">
        <g-link :to="NextProject.path">
          <article class="project">
            <div
              class="img-bg"
              v-bind:style="{
                'background-image': 'url(' + NextProject.image_teaser + ')',
              }"
            />
            <div class="content content__right">
              <span>Pop-Up suivant</span>
              <h2>
                <g-link :to="NextProject.path">{{ NextProject.title }}</g-link>
              </h2>
              <!-- <p><span v-for="(tag, index) in NextProject.tags" :key="index">{{ tag }}</span></p> -->
              <!-- <p class="links"><g-link :to="NextProject.path" class="button">Next case study<font-awesome-icon class="icon icon-next" :icon="['fas', 'chevron-circle-right']" /></g-link></p> -->
            </div>
          </article>
        </g-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "ProjectNext",
  props: ["current", "projectList"],
  computed: {
    prevProject() {
      let i = 0;
      for (const project of this.projectList) {
        if (project.node.path === this.current.path) {
          if (this.projectList[i - 1]) {
            return this.projectList[i - 1].node;
          } else {
            return this.projectList[this.projectList.length - 1].node;
          }
        }
        i++;
      }
    },
    NextProject() {
      let i = 0;
      for (const project of this.projectList) {
        if (project.node.path === this.current.path) {
          if (this.projectList[i + 1]) {
            return this.projectList[i + 1].node;
          } else {
            return this.projectList[0].node;
          }
        }
        i++;
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../assets/scss/_abstract.scss";

.projects {
  position: relative;
}

.projects__list {
  .l-f-grid__column {
    padding: 0;
    display: none;
    @include mappy-query(b-medium) {
      display: block;
    }
    &:nth-child(2n + 1) {
      background: $brand-primary;
    }
    &:last-child {
      background: $brand-primary;
      display: block;
    }
  }
}
.project {
  position: relative;
  overflow: hidden;
  height: 250px;
  &:hover .img-bg {
    transform: scale(1.1);
  }
  .img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all 3s ease;
  }
  h2 {
    margin: rhythm(1) 0 rhythm(1/3);
    font-family: "anton", sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: normal;
  }
  span {
    font-weight: 500;
    font-size: 16px;
    color: $white;
    letter-spacing: 0.6px;
  }
  p {
    color: $brand-primary;
    margin: rhythm(1/3) 0 0;
    span {
      &:not(:last-child) {
        &:after {
          content: ",";
          display: inline;
          margin-right: 0.125em;
        }
      }
    }
  }
  .content {
    opacity: 1;
    background: rgba($black, 0.5);

    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: default;
    min-width: 100%;
    &__left {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      text-align: right;
      padding-right: 60px;
    }
    &__right {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: left;
      padding-left: 60px;
    }
    h2 {
      margin: 0;
      display: block;
      a {
        color: $white;
        text-decoration: none;
        cursor: default;
      }
    }
    // @include mappy-query(b-medium) {
    // 	opacity: 0;
    // 	visibility: hidden;
    // }
  }
}

.links {
  font-size: modular-scale(-2);
  position: absolute;
  bottom: 10%;
  left: 50%;
  right: 50%;
  width: 100%;
  transform: translateX(-50%);
  a {
    border-bottom: 2px solid #f6a500;
    display: inline-block;
    font-size: 1.25em;
    text-transform: none;
    padding: 0 0 0.75rem;
    text-decoration: none;
    color: $white;

    .icon {
      color: $brand-primary;
      margin: 0 1em;
    }
    .icon-previous {
      margin-left: 0;
    }
    .icon-next {
      margin-right: 0;
    }
  }
}
</style>
