<template>
  <section class="section__blockquote">
    <div class="l-constrain">
      <div class="l-f-grid">
        <div class="l-f-grid__column">
          <blockquote v-for="(quote, index) in data" :key="index">
            <p>{{ quote.text }}</p>
            <footer>– Mahomet</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Quote",
  data() {
    return {
      data: [
        {
          text:
            "« Puisque la montagne ne vient pas à nous, allons à la montagne. »"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.section__blockquote {
  z-index: -1;
  position: relative;
  background: $gray-bg;
  color: $white;
  height: 80vh;
  background: url(~@/assets/images/image-overlay-quote.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: rhythm(6) 0;
  p {
    font-size: modular-scale(3);
    font-weight: 700;

    line-height: 1.2;
    position: relative;
    @include mappy-query(b-medium) {
      font-size: modular-scale(4);
      line-height: 1.2;
    }
  }
  footer {
    position: absolute;
    display: inline-block;
    right: 40px;
    background: $white;
    color: $black;
    margin-top: 30px;
    padding: 0 20px;
  }
}
</style>
