<template>
  <div class="relative">
    <ClientOnly>
      <SearchFocus @keyup="focusSearch" />
    </ClientOnly>
    <div class="relative">
      <form class="nav__form js-container" role="search">
        <font-awesome-icon class="font-solid" :icon="['fas', 'search']" />
        <input
          class="nav__input js-input"
          type="search"
          aria-label="Rechercher sur le site de Scheme Corner"
          placeholder="Que recherchez-vous ?"
          name="search"
          autocomplete="off"
          v-model="query"
          @blur="searchResultsVisible = false"
          @focus="searchResultsVisible = true"
          @keydown.esc="searchResultsVisible = false"
          @input="softReset"
          ref="search"
          @keyup="performSearch"
          @keydown.up.prevent="highlightPrevious"
          @keydown.down.prevent="highlightNext"
        />
        <!-- <button class="search__cancelButton js-searchCancel" type="button" aria-label="Clear Search"></button> -->
        <div class="btn-close" v-if="query.length > 0" @click="reset">&times;</div>
      </form>
    </div>
    <transition name="fade">
      <div class="absolute" v-if="query.length > 0 && searchResultsVisible">
        <div class="flex" ref="results">
          <div class="search-input">
            <a
              v-for="(post, index) in searchResults"
              :key="index"
              :href="post.item.path"
              @mousedown.prevent="searchResultsVisible = true"
              :class="{ 'bg-blue-100': index === highlightedIndex }"
            >
              <p>{{ post.item.title }}</p>
              <span
                class="tag__color tag__color--store"
                v-if="post.item.tagStore"
              >{{ post.item.tagStore }}</span>
              <span
                class="tag__color tag__color--concept"
                v-if="post.item.tagConcept"
              >{{ post.item.tagConcept }}</span>
              <span
                class="tag__color tag__color--guide"
                v-if="post.item.tagGuide"
              >{{ post.item.tagGuide }}</span>
            </a>
          </div>
          <div v-if="searchResults.length === 0">
            <p>
              no results for '
              <strong>{{ query }}</strong>'
            </p>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import SearchFocus from "~/components/SearchFocus.vue";
import axios from "axios";
export default {
  components: {
    SearchFocus
  },
  data() {
    return {
      query: "",
      searchResultsVisible: false,
      posts: [],
      searchResults: [],
      highlightedIndex: 0,
      options: {
        shouldSort: true,
        includeMatches: true,
        threshold: 0.5,
        location: 0,
        distance: 500,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["title"]
      }
    };
  },
  mounted() {
    axios.get("./../index.json").then(response => {
      this.posts = response.data;
    });
  },
  methods: {
    reset() {
      this.query = "";
      this.highlightedIndex = 0;
    },
    softReset() {
      this.searchResultsVisible = true;
      this.highlightedIndex = 0;
    },
    focusSearch(e) {
      if (e.key === "/") {
        this.$refs.search.focus();
      }
    },
    performSearch() {
      this.$search(this.query, this.posts, this.options).then(results => {
        this.searchResults = results;
      });
    },
    highlightPrevious() {
      if (this.highlightedIndex > 0) {
        this.highlightedIndex = this.highlightedIndex - 1;
        this.scrollIntoView();
      }
    },
    highlightNext() {
      if (this.highlightedIndex < this.searchResults.length - 1) {
        this.highlightedIndex = this.highlightedIndex + 1;
        this.scrollIntoView();
      }
    },
    scrollIntoView() {
      this.$refs.results.children[this.highlightedIndex].scrollIntoView({
        block: "nearest"
      });
    },
    gotoLink() {
      if (this.searchResults[this.highlightedIndex]) {
        window.location = this.searchResults[this.highlightedIndex].item.path;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.relative {
  position: relative;
  width: 100%;
}
.absolute {
  position: absolute;
  background: $gray75;
  width: 100%;
  border-top: 1px solid $gray85;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 340px;
}
.search-input {
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid $gray75;
    color: $black;
    text-decoration: none;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: #e2e8f0;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 0;
    }
    .tag__color {
      margin-left: 20px;
      padding: 3px 8px;
      font-size: modular-scale(-1);
      font-weight: 500;
      color: $white;
    }
    .tag__color--store {
      background: $brand-primary;
    }
    .tag__color--guide {
      background: #a9a5e9;
    }
    .tag__color--concept {
      background: #e4b4c5;
    }
  }
}
.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: default;
  display: flex;
  bottom: 0;
  align-items: center;
  padding: 30px;
  font-size: modular-scale(2);
  &:hover {
    color: $brand-secondary;
  }
}
.nav__search {
  position: relative;
  cursor: text;
}
.nav__form {
  position: relative;
  .nav__input {
    padding: 0;
    padding-left: 40px;
    position: relative;
    border: 1px solid $white;
    border-radius: 6px;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    outline: 0;
    font-family: $base-font-family;
    font-size: $px-base-font-size-mobile;
    line-height: 1;
    color: $brand-primary-dark;
    width: calc(100% - 40px);
    height: 80px;
    @include mappy-query(b-medium) {
      font-size: 1em;
    }
  }
  .font-solid {
    position: absolute;
    color: $brand-primary-dark;
    font-size: modular-scale(0);
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}
.flex {
  display: flex;
  flex-direction: column;
}
.search-input {
  background: $white;
}
.bg-blue-100 {
  color: $black;
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s, transform 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}
</style>
