<template>
  <div class="l-constrain">
    <div class="big-title l-f-grid l-f-grid--cols-2">
      <div class="l-f-grid__column">
        <h2 v-html="BigTitle">{{ BigTitle }}</h2>
      </div>
      <div class="l-f-grid__column">
        <p>{{ BigTitleText }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionBigTitle",
  props: {
    BigTitle: {
      type: String,
      required: true,
    },
    BigTitleText: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/_abstract.scss";

.big-title {
  h2 {
    font-size: modular-scale(4);
    font-family: $subtitle-font-family;
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 60px;
    margin-bottom: 40px;
  }
  p {
    @include mappy-query(b-medium) {
      padding-left: 40px;
    }
  }
  @include mappy-query(b-medium) {
    h2 {
      font-size: modular-scale(5);
    }
  }
}
</style>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.l-constrain {
  padding-top: 200px;
  padding-bottom: 140px;
}
</style>
