<template>
  <div class="section__intro">
    <div class="l-f-grid l-f-grid--cols-2">
      <div class="l-f-grid__column">
        <div class="bloc-text--left">
          <h3>{{ TitleLeft }}</h3>
          <p>{{ TextLeft }}</p>
        </div>
      </div>
      <div
        class="l-f-grid__column"
        v-bind:style="{
          'background-image': 'url(' + backgroundImage + ')',
        }"
      >
        <div class="bloc-text--right">
          <span>{{ SpanRight }}</span>
          <p>{{ TextRight }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionIntro",
  props: {
    TitleLeft: {
      type: String,
      required: true,
    },
    TextLeft: {
      type: String,
      required: true,
    },
    SpanRight: {
      type: String,
      required: true,
    },
    TextRight: {
      type: String,
      required: true,
    },
    backgroundImage: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/_abstract.scss";

.section__intro {
  color: $white;
  .l-f-grid__column:first-child {
    background: $brand-primary;
  }
  .l-f-grid__column:last-child {
    background: $gray50;
    height: 400px;
    @include mappy-query(b-medium) {
      height: inherit;
    }
  }
}
.bloc-text--left {
  padding: 100px 20px 100px 20px;
  @include mappy-query(b-medium) {
    padding: 100px 40px 100px 70px;
  }
}
.bloc-text--right {
  padding: 100px 20px 100px 20px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  @include mappy-query(b-medium) {
    padding: 100px 70px 100px 40px;
  }
}
</style>
