<template>
  <div class="section__intro">
    <div class="l-f-grid l-f-grid--cols-2">
      <div class="l-f-grid__column">
        <div class="bloc-text--left">
          <h3>Un emplacement adéquat</h3>
          <p>
            Les pop-up stores permettent de renouveler et de redynamiser un
            endroit, en offrant aux consommateurs des nouveautés à explorer. De
            leurs côtés, les marques s’en servent pour faire du marketing
            expérientiel, ainsi que pour tester de nouvelles idées et de
            nouveaux emplacements pour la visibilité de la marque.
          </p>
          <g-link to="/pop-up/" class="button__link">
            Distinguez les structures commerciales
            <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
          </g-link>
        </div>
      </div>
      <div class="l-f-grid__column">
        <ClientOnly>
          <hooper ref="carousel-slide" :settings="carouselSettings">
            <slide v-for="(partner, index) in $page.allProject.edges" :key="index">
              <div
                class="slide__el"
                v-bind:style="{
                  'background-image': 'url(' + partner.node.image_teaser + ')',
                }"
              ></div>
            </slide>
            <hooper-pagination slot="hooper-addons"></hooper-pagination>
          </hooper>
        </ClientOnly>
      </div>
    </div>
  </div>
</template>

<page-query>
  query Project {
    allProject(limit: 4) {
      edges {
        node {
          image_teaser
          title
        }
      }
    }
  }
</page-query>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";
import "hooper/dist/hooper.css";
import { log } from "util";
export default {
  name: "SectionIntro",

  components: {
    Hooper,
    Slide,
    HooperPagination
  },
  data() {
    return {
      carouselSettings: {
        itemsToShow: 1,
        itemsToSlide: 1,
        infiniteScroll: true,
        autoPlay: true,
        playSpeed: 2500,
        transition: 700,
        rtl: false
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.section__intro {
  color: $white;
  .l-f-grid__column:first-child {
    background: $brand-primary;
  }
  .l-f-grid__column:last-child {
    background: $gray50;
    padding: 0;
    height: 400px;
    @include mappy-query(b-medium) {
      height: inherit;
    }
  }
}
.bloc-text--left {
  padding: 100px 20px 100px 20px;
  @include mappy-query(b-medium) {
    padding: 100px 40px 100px 70px;
  }
}
.bloc-text--right {
  padding: 100px 20px 100px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include mappy-query(b-medium) {
    padding: 100px 70px 100px 40px;
  }
}

::v-deep .hooper {
  outline: none;
  height: 100%;
  width: 100%;
  position: relative;

  .hooper-track {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .hooper-slide {
    align-self: center;
    list-style: none;
    padding: 0;
  }
  .hooper-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .hooper {
    width: 100%;
    height: 100%;
    line-height: 0;
  }
  .hooper-pagination {
    left: 0;
    transform: translateX(0);
    right: inherit;
    padding: 20px;
  }
  .hooper-indicators {
    li {
      .hooper-indicator {
        width: 8px;
        height: 8px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: $gray75;
      }
      .hooper-indicator:hover,
      .hooper-indicator.is-active {
        background: $brand-secondary;
      }
    }
  }
}

.slide__el {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
</style>
