<template>
  <div class="l-constrain">
    <div class="section__subject ">
      <div class="bloc">
        <div class="bloc-white">
          <div
            class="bloc-img"
            v-if="subject.image"
            v-bind:style="{
              backgroundImage: 'url(' + subject.image + ')',
            }"
          />
          <div class="bloc-text">
            <span v-if="subject.rst">{{ subject.rst }}</span>
            <h2>{{ subject.title }}</h2>
            <p v-if="subject.text" v-html="subject.text">
              {{ subject.text }}
            </p>
            <p v-if="subject.text2" v-html="subject.text2">
              {{ subject.text2 }}
            </p>
          </div>
        </div>
        <div class="bloc-color">
          <div class="bloc-title">
            <h3 v-if="subject.titleRight" v-html="subject.titleRight">
              {{ subject.titleRight }}
            </h3>
            <g-link
              :to="subject.buttonLink"
              class="button__link"
              v-if="subject.button"
              >{{ subject.button }}</g-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "SectionSubject",
  props: ["subject"],
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.l-constrain {
  padding: 0;
  @include mappy-query(b-medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.section__subject {
  z-index: 10;
}
.bloc {
  background: $white;
  display: flex;
  margin-top: -60px;
  margin-bottom: -70px;
  flex-direction: column;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.4);
  // padding: 10px;
  @include mappy-query(b-medium) {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    padding: inherit;
  }
}
.bloc-white {
  position: relative;
  background: $white;
  color: $black;
  padding: 60px 20px 70px;
  width: 100%;
  @include mappy-query(b-medium) {
    width: 60.6557377049%;
    padding: 60px 40px 70px;
  }
  @include mappy-query(b-big) {
    width: 60.6557377049%;
    padding: 60px 40px 70px;
  }
}
.bloc-title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
}
span {
  font-family: $subtitle-font-family;
  text-transform: uppercase;
  font-weight: 500;
  background: #f67575;
  color: $white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px 12px;
  display: inline-block;
}
h2 {
  font-size: modular-scale(3);
  font-family: $subtitle-font-family;
  margin-bottom: rhythm(1);
  text-transform: uppercase;
  font-weight: 500;
  @include mappy-query(b-medium) {
    font-size: modular-scale(4);
  }
}
p {
  font-size: 1em;
  margin-bottom: rhythm(1);
  &:last-child {
    margin-bottom: 0;
  }
}

.bloc-img {
  background: $brand-primary-dark;
  width: 100%;
  height: 300px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
}
.bloc-color {
  position: relative;
  display: flex;
  align-items: center;
  background: $brand-primary;
  color: $white;
  text-align: center;
  padding: 30px 60px;
  @include mappy-query(b-medium) {
    flex: 1;
    padding: 30px 40px;
  }
  .bloc-title {
    h3 {
      font-family: $subtitle-font-family;
      font-size: modular-scale(4);
      text-transform: uppercase;
      font-weight: 500;
    }
    a {
      margin-top: rhythm(1);
    }
  }
}
</style>
