<template>
  <section
    class="image-overlay"
    v-bind:style="{
      'background-image': 'url(' + overlay.backgroundImage + ')',
    }"
  >
    <div class="l-constrain">
      <div class="l-f-grid">
        <div class="l-f-grid__column">
          <div class="bloc-text__b">
            <h1 v-if="overlay.title" v-html="overlay.title">
              {{ overlay.title }}
            </h1>
            <p>{{ overlay.text }}</p>
            <p>{{ overlay.text2 }}</p>
            <g-link
              :to="overlay.buttonLink"
              class="button__link"
              v-if="overlay.button"
            >
              {{ overlay.button }}
              <font-awesome-icon
                class="font-solid"
                :icon="['fas', 'angle-right']"
              />
            </g-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "SectionOverlay",
  props: ["overlay"],
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
$min_width: $b-small-val;
$max_width: $b-big-val;
$min_font: 38px;
$max_font: 52px;

.image-overlay {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  align-items: center;
  z-index: -1;
  height: 100vh;
  max-height: 750vh;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      rgba($brand-primary, 0.4),
      rgba(255, 255, 255, 0.1)
    );
  }
}
@media only screen and (max-height: 700px) {
  .image-overlay {
    height: inherit;
    padding-top: 200px;
    padding-bottom: 250px;
  }
}
.bloc-text__b {
  width: 100%;
  color: $white;
  @include mappy-query(b-small) {
    max-width: 612px;
  }
}
h1 {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: $base-font-family;
  font-size: 52px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;

  &:after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background: $white;
    margin-top: 40px;
  }
}
p {
  font-family: $base-font-family;
  font-size: modular-scale(0);
  margin-bottom: 20px;
}
</style>
