<template>
  <div class="l-f-grid">
    <div class="l-f-grid__column">
      <div class="drop" @click="toggleShow()">
        <h2>{{ licence.title }}</h2>
        <p>MIT Licence</p>
        <p v-if="licence.copyright">{{ licence.copyright }}</p>
      </div>
      <ClientOnly>
        <transition name="list">
          <div class="red" v-show="show">
            <p v-if="licence.paragraph">{{ licence.paragraph }}</p>
            <p>
              Permission is hereby granted, free of charge, to any person
              obtaining a copy of this software and associated documentation
              files (the "Software"), to deal in the Software without
              restriction, including without limitation the rights to use, copy,
              modify, merge, publish, distribute, sublicense, and/or sell copies
              of the Software, and to permit persons to whom the Software is
              furnished to do so, subject to the following conditions:
            </p>
            <p>
              The above copyright notice and this permission notice shall be
              included in all copies or substantial portions of the Software.
            </p>
            <p>
              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
              EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
              MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
              NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
              HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
              WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
              DEALINGS IN THE SOFTWARE.
            </p>
          </div>
        </transition>
      </ClientOnly>
      <hr />
    </div>
  </div>
</template>
<script>
export default {
  name: "SectionLicence",
  props: ["licence"],
  data() {
    return {
      show: false,
    };
  },
  methods: {
    toggleShow() {
      this.show = !this.show;
    },
  },
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.drop {
  cursor: pointer;
}
p {
  margin-bottom: 30px;
}
.l-f-grid__column {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.l-f-grid__column:hover {
  background: rgba($color: $brand-primary, $alpha: 0.2);
  border-radius: 6px;
}
.list-enter,
.list-leave-to {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}
</style>
