<template>
  <div class="small__newsletter">
    <div class="newsletter__item l-constrain">
      <div class="newsletter__text">
        <h3>Newsletter</h3>
        <p>Nous vous tenons informés</p>
      </div>
      <form class="form newsletter__form">
        <div class="bloc__input">
          <div class="field">
            <div class="control">
              <input
                v-model="email"
                class="input"
                type="email"
                placeholder="Entrez votre adresse email"
                required
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button v-on:click="onSubmit" class="button__submit">
                <font-awesome-icon
                  class="font-solid"
                  :icon="['fas', 'arrow-circle-right']"
                />
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "SmallNewsletter",
  data() {
    return {
      title: "",
      content: "",
      onSubmit: "",
      email: "",
      checked: "",
    };
  },
};
</script>

<style lang="scss">
@import "../assets/scss/_abstract.scss";
.small__newsletter {
  padding: 20px 0;
  background: $brand-primary;
  margin-top: 100px;
}
.newsletter__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  @include mappy-query(b-medium) {
    flex-direction: row;
    text-align: left;
  }
}
.newsletter__text {
  margin-right: 50px;
  color: $white;
  margin-bottom: 20px;
  @include mappy-query(b-medium) {
    margin-bottom: 0;
  }
  h3 {
    margin: 0;
    line-height: 1;
  }
}

.input {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  width: 400px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 6px;
  padding: 12px 80px 12px 40px;
  font-size: 1em;
  color: $gray25;
  line-height: 2;
  &::placeholder {
    color: $gray50;
    font-size: 1em;
    font-weight: 300;
    padding: 20px 0;
    line-height: 0;
  }
}
.bloc__input {
  position: relative;
}
.button__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 30px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: $white;
  &:hover {
    .font-solid {
      color: $brand-secondary;
    }
  }
}
.font-solid {
  color: $brand-primary;
  font-size: 25px;
}
</style>
