<template>
  <div class="l-constrain">
    <div class="section__subject">
      <div class="bloc">
        <div class="articles">
          <g-link class="articles__el" to="/concept/structure-commerciale/">
            <div class="article__item">
              <img src="/images/type-structure.jpg" alt />
              <h4>Type de surfaces commerciales</h4>
              <p>
                Il existe différentes apparences pour accompagner le style du
                produit exposé.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el" to="/concept/petits-independants/">
            <div class="article__item">
              <img src="/images/type-independant.jpg" alt />
              <h4>Petits indépendants artisans, artistes,…</h4>
              <p>
                On constate également que la tendance pop-up store séduit de
                nombreux artistes et artisans.
              </p>
            </div>
          </g-link>
          <g-link class="articles__el" to="/concept/lieux-exploitation/">
            <div class="article__item">
              <img src="/images/type-lieux.jpg" alt />
              <h4>Type de lieux d’exploitation</h4>
              <p>
                Le pop-up store investit des locaux très différents selon
                l’univers de la marque.
              </p>
            </div>
          </g-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionSubject",
  props: ["subjectPost"]
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.l-constrain {
  padding: 0;
  @include mappy-query(b-medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.section__subject {
  z-index: 1;
  padding: -20px;
}
.articles {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 20px 20px 20px;
  margin-bottom: -70px;
  @include mappy-query(b-medium) {
    padding: 60px 20px 20px 20px;
  }
  &__el {
    width: 100%;
    color: $black;
    @include mappy-query(b-medium) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mappy-query(b-big) {
      width: calc(100% / 3);
    }
  }
}
.article__item {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 0 20px 0;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    background: $white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.1);
    img {
      transition: all 5s ease-in-out;
      transform: scale(1.1);
    }
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: all 2s ease-in-out;
  }
  h4 {
    font-size: modular-scale(1);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rhythm(1);
    padding: 0 10px;
  }
  p {
    font-size: modular-scale(-1);
    margin-top: rhythm(1/4);
    padding: 0 10px;
  }
}
</style>
