<template>
  <header>
    <nav class="nav navbar" :class="{ 'navbar--hidden': !showNavbar }">
      <div class="subnav__container l-constrain" id="style-1">
        <div class="nav__item nav__title">
          <p>{{ subnav.title }}</p>
          <span>{{ subnav.titleSpan }}</span>
        </div>
        <div class="nav__item nav__links">
          <scrollactive
            class="sidebar"
            v-on:itemchanged="onItemChanged"
            :offset="0"
            :duration="500"
          >
            <div class="nav__item nav__links">
              <div class="nav__link" v-for="(item, index) in subnav.list" :key="index">
                <g-link :to="item.linkNav" v-if="item.link">
                  {{
                  item.link
                  }}
                </g-link>
                <a
                  :href="item.linkAnchor"
                  v-if="item.linkAnchorText"
                  class="scrollactive-item"
                >{{ item.linkAnchorText }}</a>
              </div>
              <div class="nav__link nav__link--experience" v-if="subnav.listExperience">
                <g-link :to="subnav.listExperienceLink">{{ subnav.listExperience }}</g-link>
              </div>
            </div>
          </scrollactive>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
const OFFSET = 20;
export default {
  name: "SubNavigation",
  props: ["subnav"],
  data() {
    return {
      isVisible: false,
      showNavbar: true,
      lastScrollPosition: 0,
      scrollValue: 0
    };
  },
  mounted() {
    this.lastScrollPosition = window.pageYOffset;
    window.addEventListener("scroll", this.onScroll);
    const viewportMeta = document.createElement("meta");
    viewportMeta.name = "viewport";
    viewportMeta.content = "width=device-width, initial-scale=1";
    document.head.appendChild(viewportMeta);
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  methods: {
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (Math.abs(window.pageYOffset - this.lastScrollPosition) < OFFSET) {
        return;
      }
      this.showNavbar = window.pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = window.pageYOffset;
    },
    onItemChanged(event, currentItem, lastActiveItem) {
      // your logic
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.navbar {
  z-index: 100;
  height: 60px;
  width: 100%;
  background: $brand-primary;
  position: fixed;
  top: 80px;
  box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
  transform: translate3d(0, 0, 0);
  transition: 0.1s all ease-out;
  display: none;
  @include mappy-query(b-medium) {
    display: block;
  }
}
.navbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -140%, 0);
}
.subnav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav__item {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.nav__title {
  font-size: 28px;
  color: $white;
  display: none;
  height: 60px;
  margin-bottom: 0;
  span {
    font-size: 14px;
    margin-left: 5px;
  }
  @include mappy-query(b-big) {
    display: flex;
    align-items: bottom;
    line-height: 2;
  }
}
.nav__links {
  display: flex;
  align-items: center;
  margin-right: auto;
  @include mappy-query(b-small) {
    margin-right: 0;
    margin-left: auto;
  }
}
.nav__link {
  a {
    display: inline-block;
    padding: 18px 20px;
    height: 100%;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    width: max-content;
    height: 60px;
    position: relative;
  }
  & a::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
  }
  &:last-child a::after {
    display: none;
  }
  &:hover a {
    color: $brand-primary-dark;
  }
  .active--exact {
    color: red;
  }
  &--experience {
    a {
      position: relative;
      padding: 10px 20px;
      align-items: center;
      height: 40px;
      color: $black !important;
      background-color: #ffea00;
      border-radius: 6px;
    }
    &:hover a {
      background-color: #fff;
    }
  }
}

// .scrollGradient {
//   background-image: linear-gradient(to right, $brand-primary, $brand-primary),
//     linear-gradient(to right, $brand-primary, $brand-primary),
//     linear-gradient(to right, rgba(0, 0, 20, 0.4), rgba(255, 255, 255, 0)),
//     linear-gradient(to left, rgba(0, 0, 20, 0.4), rgba(255, 255, 255, 0));
//   /* Shadows */
//   /* Shadow covers */
//   background-position: left center, right center, left center, right center;
//   background-repeat: no-repeat;
//   background-color: $brand-primary;
//   background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
//   background-attachment: local, local, scroll, scroll;
// }
</style>
