<template>
  <div class="section__testimony">
    <div class="l-constrain">
      <div class="testimony">
        <h2>D'autres marques ont adoptés cette tendance</h2>
        <p>
          Découvrez comment d’autres entreprises ont fait pour se lancer au
          sommet de l’art du pop-up store.
        </p>
      </div>
      <ul>
        <li>
          <g-link to="/pop-up/comme-des-garcons/">
            COMME-DES-GARÇONS
            <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
          </g-link>
        </li>
        <li>
          <g-link to="/pop-up/pop-and-c/">
            POP &amp; C
            <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
          </g-link>
        </li>
        <li>
          <g-link to="/pop-up/chronostock/">
            CHRONOSTOCK
            <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
          </g-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Témoignages"
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";
.section__testimony {
  padding: 100px 0;
  text-align: center;
  background-color: #d4f8e8;
}
.testimony {
  max-width: 750px;
  margin: 0 auto;
}
h2 {
  text-transform: uppercase;
  font-size: modular-scale(4);
  letter-spacing: -2px;
  line-height: 1em;
  &:after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background: $black;
    margin: 40px auto;
  }
  @include mappy-query(b-medium) {
    font-size: modular-scale(5);
  }
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  padding-left: 0;
  margin: 40px auto 0;
  li {
    list-style-type: none;
    a {
      display: flex;
      flex-direction: row;
      padding: rhythm(1/2) 0;
      justify-content: center;
      .font-solid {
        margin-left: 20px;
        font-size: modular-scale(1);
      }
    }
  }
  @include mappy-query(b-medium) {
    flex-direction: row;
    li {
      width: calc(100% / 3);
    }
  }
}
</style>
