<template>
  <layout>
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index"
      :overlay="overlay"
    />
    <SectionBigTitle
      BigTitle="L’évaluation du succès du magasin éphémère"
      BigTitleText="Augmenter rapidement les ventes, une boutique éphémère génère un fort intérêt médiatique pouvant favoriser le développement de la marque et le renforcement de son image. Un pop-up est très bien adapté pour attirer de nouveau clients. Ils sont également utiliser pour tester de nouveaux produits sur le terrain. En cas de succès, le concept peut être poursuivi et transformé en un projet permanent."
    />
    <section class="section__step">
      <div class="l-constrain">
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>Réduire les coûts</h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  L’un des bénéfices occassionés par l’élaboration d’un pop-up
                  est la réduction des coûts autant pour (le loyer, l’engagement
                  auprès du propriétaire de la cellule, du matériel à
                  adapter,…).
                </p>
                <h4>Indemnité d’occupation</h4>
                <p>
                  Le loyer peut être diminuer jusqu’à 80% moins cher que la
                  location et le maintien d’un local traditionnel. Comme il
                  s’agit d’une occupation temporaire, l’indemnité liée à
                  celle-ci est générallement moindre que le loyer demandé pour
                  une location traditionnelle.
                </p>
              </div>
              <div class="step__text">
                <h4>L'aménagement</h4>
                <p>
                  Beaucoup de pop-up stores sont dès lors décorés avec des
                  matériaux et meubles de récupération ou réutilisables. La
                  créativité y est souvent de mise.
                </p>
              </div>
              <div class="step__text">
                <h4>L'engagement</h4>
                <p>
                  Le pop-up étant un engagement à court terme permet d’éviter de
                  faire face à des frais de rupture de bail en cas d’échec. De
                  plus, ceux qui travaillent uniquement avec des produits
                  saisonniers, il n’est pas viable de disposer d’un commerce à
                  l’année et donc les négociants trouvent leur compte via ce
                  système.
                </p>
              </div>
              <div class="step__text">
                <h4>Mutualiser ses moyens</h4>
                <p>
                  Des pop-uppers tels que le artisans, les artistes et bien
                  d’autre corps de métier peuvent s’unir pour partager l’espace,
                  le loyer, les charges et tous les frais inhérents au commerce.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>Expérimenter à moindre risque</h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  Le pop-up permet de tester (un nouveau produit, un nouveau
                  marché,…) mais également de se tester (au métier de
                  commerçant) en minimisant les coûts et les impacts d’un
                  éventuel échec.
                </p>
                <h4>Un nouveau métier</h4>
                <p>
                  Le bail classique n’est pas le contrat idéal pour qui n’est
                  pas sûr de valider son concept. C’est pour cela qu’il est
                  possible d’opter pour un bail précaire. Cela évite un gros
                  décaissement pour des petites ou nouvelles entreprises.
                </p>
                <p>
                  Pour exemple, le fait de vouloir tester son produit sur le
                  marché de la vente physique, il est préférable d’occuper un
                  espace éphémère qui pourrait donner pour résultats : des
                  bonnes ventes, une clientèle qui adhère au moyen de vente et
                  donner un test concluant afin de pouvoir ouvrir par la suite
                  un boutique au sens propre.
                </p>
              </div>
              <div class="step__text">
                <h4>Une nouvelle localisation</h4>
                <p>
                  Le test du marché et plus principalement de la localisation
                  est souvent souligné comme un des enjeux prioritaires de
                  l’ouverture d’une boutique éphémère. Essayer une localisation
                  grâce à un pop-up store, c’est un moyen d’éviter l’écueil
                  d’une ouverture au mauvais endroit.
                </p>
                <p>
                  Certains commerçant, non sensibilisés à cette question aillant
                  une implatation mal réfléchie finissent parfois par perdre
                  beaucoup d’énergie et d’argent. Le pop-up store est dès lors
                  une des solutions pour affiner sa stratégie de localisation de
                  manière empirique.
                </p>
              </div>
              <div class="step__text">
                <h4>Un nouveau produit</h4>
                <p>
                  En tant que lieu d’expérience en plaçant le client au centre,
                  le commerce éphémère permet une rencontre marque-client
                  privilégiée qui permet d’analyser les réactions tactiles ou
                  émotionnelles à une nouvelle offre.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>
                  Rencontrer
                  <br />son public
                </h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  Pour une marque déjà institutionnalisée, le caractère
                  événementiel peut lui permettre de surprendre, séduire et
                  fidéliser sa clientèle en se montrant sous un jour nouveau.
                </p>
                <h4>Les clients</h4>
                <p>
                  La plupart des instigateurs de pop-up stores favorisent ainsi
                  l’expérience et l’échange au sein d’une approche dite
                  customer-centric. Un pop-up procure un sentiment de privilège.
                  Un lieu de choix permet à la marque ou au créateur de
                  rencontrer son client.
                </p>
              </div>
              <div class="step__text">
                <h4>Les prospects</h4>
                <p>
                  Les pop-up stores permettent également de toucher des clients
                  dans des territoires plus méconnus. Sortir de sa zone de
                  confort aide à la visibilité de la marque. Les risques sont
                  moins limités par rapport à une ouverture pérenne d’une
                  boutique.
                </p>
              </div>
              <div class="step__text">
                <h4>Un nouveau produit</h4>
                <p>
                  En tant que lieu d’expérience en plaçant le client au centre,
                  le commerce éphémère permet une rencontre marque-client
                  privilégiée qui permet d’analyser les réactions tactiles ou
                  émotionnelles à une nouvelle offre.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>Amplifier sa communication</h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  Tant pour un indépendant qu’un retailer, une programmation
                  événementielle originale et une communication lissée sur toute
                  la durée de la présence du pop-up sont des conditions
                  essentielles à son succès.
                </p>
                <h4>La communication</h4>
                <p>
                  Il est impératif de pouvoir lisser sa communication et son
                  agenda d’événements sur l’ensemble de la durée d’occupation
                  afin d’éviter un essoufflement.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>
                  Multiplier
                  <br />les efforts
                </h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  Des créateurs, artisans, artistes, en phase de lancement ou
                  déjà établis, joignent leurs forces pour ouvrir ensemble un
                  pop-up store.
                </p>
                <h4>Les moyens financiers</h4>
                <p>
                  Généralement en ce lançant avec peu de moyens (humains,
                  financiers, logistiques, stock…) ou l’envie d’ouvrir sa propre
                  boutique, ces derniers s’unissent pour bénéficier d’un espace
                  de vente temporaire.
                </p>
              </div>
              <div class="step__text">
                <h4>Minimiser les coûts</h4>
                <p>
                  Ce type de collaboration permet également de démultiplier la
                  clientèle et, éventuellement, de bénéficier d’un point de
                  vente plus imposant ou mieux situé. L’autre avantage très
                  intéressant pour ce genre de commerçant à en devenir, ce
                  système donne naissance à la constitution de réseaux de
                  créateurs et à des synergies innovantes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step">
          <div class="l-f-grid l-f-grid--cols-2">
            <div class="l-f-grid__column" id="sticky">
              <div class="step__title">
                <h3>Recommercialiser une cellule</h3>
              </div>
            </div>
            <div class="l-f-grid__column">
              <div class="step__text">
                <p class="paragraph__intro">
                  Les propriétaires de cellules commerciales peuvent également
                  tirer parti de la formule pop-up store. Mais encore très peu
                  d’entre eux sont sensibilisés à cette éventualité.
                </p>
                <h4>L’intérêt financier</h4>
                <p>
                  En ce qui concerne le propiétaire de la cellule, même si
                  celle-ci n’est pas comparable au montant d’une location longue
                  durée, louer temporairement rapporte au propriétaire une
                  indemnité d’occupation. En termes de politique de prix, il
                  semble qu’il y ait deux écoles :
                </p>
                <p>
                  les propriétaires augmentant le prix pour une location plus
                  courte et ceux proposant un loyer moins élevé dans l’espoir
                  que l’occupant temporaire prolonge son séjour. Dans certaines
                  communes, cela peut également permettre d’éviter d’éventuelles
                  taxes sur les cellules commerciales vides.
                </p>
              </div>
              <div class="step__text">
                <h4>La revalorisation d’une cellule</h4>
                <p>
                  Les petits travaux éventuels réalisés par l’occupant
                  temporaire bénéficient au propriétaire. Inutile de préciser
                  qu’à l’instar d’une maison, une cellule commerciale occupée
                  permet de garantir l’entretien de celle-ci.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SectionBigTitle from "~/components/SectionBigTitle.vue";
import SubNavigation from "~/components/SubNavigation.vue";
export default {
  name: "avantages",
  metaInfo: {
    title: "Les avantages à l'ouverture d'un pop-up store",
    meta: [
      {
        name: "description",
        content: "Les avantages à l'ouverture d'un pop-up store"
      }
    ]
  },
  components: {
    SectionOverlayBanner,
    SectionBigTitle,
    SubNavigation
  },
  data() {
    return {
      title: "",
      content: "",
      onSubmit: "",
      email: "",
      checked: "",
      overlayHeader: [
        {
          backgroundImage: "../../images/image-overlay-avantages.jpg",
          title: "Les avantages à l’ouverture d’un <br>pop-up store",
          text:
            "Les magasins éphémères peuvent stimuler les ventes à court terme et servir des objectifs à long terme en matière de marketing ou de stratégie de marque."
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";

#sticky {
  position: relative;
  @include mappy-query(b-medium) {
    position: sticky;
    position: -webkit-sticky;
    width: 100px;
    height: 240px;
    top: 200px;
  }
}
.section__step {
  padding: 100px 0;
  background-color: $white;
}
.step {
  margin: 100px 0;
}
.step__title {
  width: 400px;
  h3 {
    font-size: modular-scale(3);
    color: $brand-primary-dark;
    @include mappy-query(b-medium) {
      font-size: modular-scale(5);
    }
  }
  span {
    display: block;
    position: absolute;
    margin-left: -60px;
  }
}
.step__text {
  color: #5d5d5d;
  h4 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: modular-scale(2);
    color: $brand-primary;
  }
  p {
    margin-bottom: rhythm(1);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list__top {
    color: $black;
    font-weight: 700;
    margin-bottom: 0;
  }
  .list__text {
    font-size: modular-scale(-1);
    color: #5d5d5d;
  }
  .list__content {
    color: $black;
    margin-bottom: 10px;
  }
}
.paragraph__black {
  color: $black;
}
.paragraph__intro {
  font-size: modular-scale(1);
  color: $black;
  @include mappy-query(b-medium) {
    font-size: modular-scale(2);
  }
}
.l-f-grid--cols-2 {
  .l-f-grid__column:first-child {
    max-width: 100%;
    @include mappy-query(b-medium) {
      max-width: 40%;
    }
  }
  .l-f-grid__column:last-child {
    max-width: 100%;
    @include mappy-query(b-medium) {
      max-width: 60%;
    }
  }
}
</style>
