<template>
  <Layout>
    <SubNavigation v-for="(subnav, index) in subnavConcept" :key="index" :subnav="subnav" />
    <SectionOverlayBanner
      v-for="(overlay, index) in overlayHeader"
      :key="index + 1"
      :overlay="overlay"
    />
    <section id="about">
      <SectionBigTitle
        BigTitle="Qu’est ce qu’un <br>pop-up store ?"
        BigTitleText="Le commerce éphémère sert à de multiples objectifs : présenter un nouveau produit, attirer l’attention sur la marque et son univers, vendre un surstock, augmenter son chiffre d’affaires, conscientiser,… C'est aussi une opportunité pour des plus petits entrepreneurs de se tester à une activité commerciale et de s’y lancer à moindres frais sans devoir prendre de risques plus conséquents."
      />
      <SectionIntro
        TitleLeft="Un sentiment d’urgence"
        TextLeft="Le principe d’une boutique éphémère est qu’elle ne reste pas ouvertes très longtemps – un jour à plusieurs mois. Ceci déclenche aux yeux des consommateurs un sentiment d’urgence du type « j’en ai besoin avant que ça ne disparaisse ». C’est donc grâce à l’effet de surprise, de nouveauté et d’exclusivité que leur inspire le format."
        backgroundImage="./../images/temps-limit.jpg"
        SpanRight="#VisibilitéDeLaMarque"
        TextRight="À l’heure où les expériences sont reines, ce sont aussi des sujets de conversations, des événements à partager avec les autres. Ce qui donne un effet de bouches à oreilles pour faire parler de la marque."
      />
    </section>
    <section class="studio__partners">
      <ClientOnly>
        <hooper ref="carousel" :settings="hooperSettings">
          <slide>
            <div class="slide__el">
              <p>
                Ils attribuent cela à une réaction face à l’uniformisation et au
                manque de dynamisme et de réactivité des commerces. Le pop-up
                incarne la promesse de l’inattendu, de la nouveauté, de la
                diversité…
              </p>
            </div>
          </slide>
          <slide>
            <div class="slide__el">
              <p>
                La boutique éphémère est pour 91% des consommateurs sondés le
                pendant idéal à l’e-commerce dont le principal inconvénient est
                que l’on ne peut pas toucher ou essayer les articles avant de
                les commander.
              </p>
            </div>
          </slide>
          <slide>
            <div class="slide__el">
              <p>
                En moyenne, 71% souhaitent être tenus informés de l’actualité
                des boutiques éphémères dans leur ville, quartier ou centre
                commercial préféré.
              </p>
            </div>
          </slide>
          <slide>
            <div class="slide__el">
              <p>
                La majorité des consommateurs se disent intrigués, surpris,
                impatients d’en découvrir d’autres, amusés et déçus qu’ils ne
                restent pas plus longtemps.
              </p>
            </div>
          </slide>
        </hooper>
        <div class="carousel__navigation">
          <div class="button__space" @click="$refs.carousel.slidePrev()">
            <button type="button" name="button">
              <font-awesome-icon :icon="['fas', 'arrow-left']" />
            </button>
          </div>
          <div class="button__space" @click="$refs.carousel.slideNext()">
            <button type="button" name="button">
              <font-awesome-icon :icon="['fas', 'arrow-right']" />
            </button>
          </div>
        </div>
      </ClientOnly>
    </section>
    <section id="experimenter">
      <SectionBigTitle
        BigTitle="Une enseigne expérimentale"
        BigTitleText="Un pop-up store demande beaucoup moins d’investissements qu’un magasin permanent, ce qui signifie qu’un détaillant peut l’utiliser pour faire des expérimentations sans trop s’engager. Cela lui permet donc d’innover : il peut voir quelles initiatives sont bien reçues — ou, au contraire, rejetées."
      />
      <SectionIntroSlide />
    </section>
    <section class="section__advantage" id="avantages">
      <div class="l-constrain">
        <div class="big-title">
          <h2>Les avantages à l'ouverture d'un pop-up store</h2>
        </div>
        <div class="l-f-grid l-f-grid--cols-2">
          <div class="l-f-grid__column l-f-grid__column--small">
            <div class="img-test"></div>
          </div>
          <div class="l-f-grid__column l-f-grid__column--big">
            <p>Caractéristiques d’un pop-up</p>
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column advantage">
                <div class="advantage__el">
                  <p>
                    <b>La durée :</b>
                    Contrairement à une boutique fixe, une boutique éphémère
                    reste 1 jour, 1 mois, 1 an avant de rendre les clés au
                    propriétaire de l’emplacement.
                  </p>
                </div>
              </div>
              <div class="l-f-grid__column advantage">
                <div class="advantage__el">
                  <p>
                    <b>Le prix du bail :</b>
                    Bien moins élevé qu’un bail traditionnel, payé en
                    intégralité avant d’entrée dans les lieux.
                  </p>
                </div>
              </div>
              <div class="l-f-grid__column advantage">
                <div class="advantage__el">
                  <p>
                    <b>L’utilité :</b>
                    Vendre des produits, renforcer une présence pendant les
                    temps forts de l’année, lancement de nouvelles lignes, brand
                    awareness, tester une idée ou un marché, surfer sur la
                    tendance.
                  </p>
                </div>
              </div>
              <div class="l-f-grid__column advantage">
                <div class="advantage__el">
                  <p>
                    <b>La localisation :</b>
                    Zones à fort trafic ou à fort potentiel comme les
                    Centres-Villes, les Centres Commerciaux, les rues
                    commerçantes.
                  </p>
                </div>
              </div>
            </div>
            <g-link to="/concept/avantages/" class="button__link button__link--color">
              Découvrir d’autres atouts
              <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
            </g-link>
          </div>
        </div>
      </div>
    </section>
    <SectionOverlay
      v-for="(overlay, index) in overlayExperience"
      :key="index + 2"
      :overlay="overlay"
    />
    <section id="strategie-marketing">
      <SectionBigTitle
        BigTitle="Les pop-up stores et la stratégie marketing"
        BigTitleText="On constate que dans nos pays voisins et internationaux, le secteur de la mode est généralement le plus représenté dans les commerces éphémères. Suivi par l’alimentation et le multimédia. Dans notre pays, plus particulièrement en région bruxelloise, la mode et le design font partie des achats les plus fréquents dans leur pop-up stores."
      />
      <SectionIntro
        TitleLeft="Nouveaux investisseurs"
        TextLeft="Il existe une multitude de cellules vides disponibles temporaires pour se faire connaître, tester ce qui a de la valeur : l’emplacement mais également le vendeur et son produit. Aucune offre commerciale spécifique ne caractérise singulièrement les pop-up stores. On trouve ainsi, dans les commerces éphémères, tant des articles de mode, tant des accessoires, de l’art, de l’alimentation ou de l’Horeca…"
        backgroundImage="./../images/bruxelles.jpg"
        SpanRight="#Bruxelles"
        TextRight="Le pop-up store prend différentes formes, en fonction des objectifs de son investisseur. C’est la conquête d’un territoire d’expression pour les marques."
      />
    </section>
    <section class="section__article" id="exemple-de-structure">
      <div class="l-constrain">
        <div class="big-title">
          <h2>
            Structure adaptée
            <br />selon les besoins de chacun
          </h2>
        </div>
        <div class="l-f-grid l-f-grid--cols-2">
          <div class="l-f-grid__column l-f-grid__column--big">
            <div class="l-f-grid l-f-grid--cols-2">
              <div class="l-f-grid__column">
                <g-link to="/pop-up/structure-commerciale/">
                  <div class="fiche-space">
                    <div class="fiche-image">
                      <img src="~@/assets/images/type-structure.jpg" alt="Structure éphémère" />
                    </div>
                    <h4>Type de structre commerciale</h4>
                    <p>
                      Il est possible de présenter sa marque de toute manière
                      différente et inimaginable. De la forme la plus
                      extravagante et celle qu’on peut voir tous les jours. La
                      surface qu’utilise la marque est propre à elle-même.
                    </p>
                    <p>
                      Pour mieux cibler la recherche, il est préférable de
                      veiller à poser des filtres au moyen de différents
                      critères, comme la surface nécessaire, les éventuels
                      besoins, l’accessibilité de la cellule ou du local, …
                    </p>
                  </div>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/petits-independants">
                  <div class="fiche-space">
                    <div class="fiche-image">
                      <img src="~@/assets/images/type-independant.jpg" alt="Local éphémère" />
                    </div>
                    <div class="fiche-content">
                      <h4>Petits Indépendants, artisans, artistes, …</h4>
                      <p>
                        Les raisons qui poussent les créateurs émergents à
                        participer à cette initiative sont généralement plus
                        liées au besoin de se faire connaitre et de communiquer
                        qu’à celui d’ouvrir une boutique sur le long terme.
                      </p>
                      <p>
                        Pour ce genre d’instigateurs, les modalités
                        d’installation choisies diffèrent des autres secteurs.
                        Souvent le rassemblement de plusieurs créateurs au sein
                        d’une enseigne unique est privilégié afin de mutualiser
                        les efforts, minimiser les coûts et amplifier l’impact.
                      </p>
                    </div>
                  </div>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/lieux-exploitation">
                  <div class="fiche-space">
                    <div class="fiche-image">
                      <img src="~@/assets/images/type-lieux.jpg" alt="Image foire" />
                    </div>
                    <h4>Type de lieux d’exploitation</h4>
                    <p>
                      Le pop-up store profite principalement d’espaces inoccupés
                      dans des lieux attendus ou inattendus.
                    </p>
                    <p>
                      Les boutiques éphémères peuvent se déplacer au gré des
                      opportunités, à la rencontre de nouveaux marchés et de
                      nouveaux publics. Le quartier qui accueille un commerce
                      éphémère peut en outre bénéficier de son installation pour
                      dynamiser l’offre commerciale en place.
                    </p>
                  </div>
                </g-link>
              </div>
              <div class="l-f-grid__column">
                <g-link to="/pop-up/grandes-marques">
                  <div class="fiche-space">
                    <div class="fiche-image">
                      <img src="~@/assets/images/type-grande-marque.jpg" alt="Image grande marque" />
                    </div>
                    <h4>Les grandes marques</h4>
                    <p>
                      Du créateur qui démarre aux grandes chaînes retail, en
                      passant par le monde du luxe ou celui du low cost, le
                      commerce physique ou le commerce en ligne.
                    </p>
                    <p>
                      Le pop-up store donne également la possibilité au client
                      d’expérimenter le produit, ce qui offre un avantage de
                      différenciation non négligeable par rapport à la
                      concurrence online.
                    </p>
                  </div>
                </g-link>
              </div>
            </div>
          </div>
          <div class="article-side l-f-grid__column l-f-grid__column--small">
            <p class="article-title">Articles</p>
            <div class="bloc__article">
              <g-link to="/pop-up/pop-and-c">
                <div class="article-feature">
                  <h4>Revitalisation des centres urbains (Pop &amp; C)</h4>
                  <p>
                    les pop-up stores peuvent contribuer à réduire la
                    désertification mais sans être un remède miracle.
                  </p>
                </div>
              </g-link>
              <g-link to="/pop-up/chronostock">
                <div class="article-feature">
                  <h4>
                    Chronostock, Précurseurs de la tendance pop-up store en
                    Belgique
                  </h4>
                  <p>
                    Stratégie d’implatation basé sur l’exploitation d’espaces
                    éphémères. L’enseigne lyonnaise lancée en 2008 a …
                  </p>
                </div>
              </g-link>
              <g-link to="/pop-up/comme-des-garcons">
                <div class="article-feature">
                  <h4>
                    Paternité du pop-up store à la marque japonaise
                    comme-des-garçons
                  </h4>
                  <p>
                    Par cette initiative, COMME DES GARÇONS entendait augmenter
                    sa notoriété en déclinant son imaginaire et sa culture de
                    marque.
                  </p>
                </div>
              </g-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="l-constrain">
      <g-link to="/pop-up" class="section__popup">
        <div class="popup">
          <div class="bloc__text">
            <h2>Pop-up store : formes diveres, lieux divers</h2>
            <p>
              Il existe tout type de formes et lieux où il est possible
              d’aménager une boutique éphémère. Chaque marque fait ressortir son
              propre stype pour aller à la rencontre de sa clientèle.
            </p>
            <g-link to="/pop-up" class="button__link">
              Les pop-up store
              <font-awesome-icon class="font-solid" :icon="['fas', 'angle-right']" />
            </g-link>
          </div>
        </div>
      </g-link>
    </section>
  </Layout>
</template>

<page-query>
  query Project {
    allProject(limit: 4) {
      edges {
        node {
          image_teaser
          title
        }
      }
    }
  }
</page-query>

<script>
import SubNavigation from "~/components/SubNavigation.vue";
import SectionOverlayBanner from "~/components/SectionOverlayBanner.vue";
import SectionOverlay from "~/components/SectionOverlay.vue";
import SectionIntro from "~/components/SectionIntro.vue";
import SectionIntroSlide from "~/components/SectionIntroSlide.vue";
import SectionBigTitle from "~/components/SectionBigTitle.vue";
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "Concept",
  metaInfo: {
    title: "Le concept pop-up store",
    meta: [{ name: "description", content: "Le concept pop-up store" }]
  },
  components: {
    SubNavigation,
    SectionOverlayBanner,
    SectionOverlay,
    SectionBigTitle,
    SectionIntro,
    SectionIntroSlide,
    Hooper,
    Slide,
    HooperPagination
  },
  data() {
    return {
      overlayHeader: [
        {
          backgroundImage: "./../images/image-overlay-concept.jpg",
          title: "Le concept<br>pop-up store",
          text:
            "De nombreux pop-up stores naissent dans le but de promouvoir le lancement d’un produit ou service de façon originale."
        }
      ],
      subnavConcept: [
        {
          title: "L'univers",
          titleSpan: "des pop-up stores",
          list: [
            {
              linkAnchor: "#about",
              linkAnchorText: "Qu'est ce que c'est ?"
            },
            {
              linkAnchor: "#experimenter",
              linkAnchorText: "Expérimentale"
            },
            {
              linkAnchor: "#avantages",
              linkAnchorText: "Avantages"
            },
            {
              linkAnchor: "#strategie-marketing",
              linkAnchorText: "Stratégie marketing"
            },
            {
              linkAnchor: "#exemple-de-structure",
              linkAnchorText: "Exemple de structure"
            }
          ]
        }
      ],
      overlayExperience: [
        {
          backgroundImage: "./../images/image-overlay-experience.jpg",
          title: "En vue d’ouvrir une boutique éphémère ? Tentez l’expérience",
          text:
            "Nous vous guidons vers les différents critères qui pourraient être le plus compatible avec ce que vous aimeriez entreprendre. Découvrez quel type de structure vous conviendrait le mieux.",
          buttonLink: "/pop-up/experience",
          button: "Se rendre éphémère"
        }
      ],
      carouselData: 1,
      hooperSettings: {
        itemsToShow: 1,
        itemsToSlide: 1,
        wheelControl: false,
        autoPlay: true,
        playSpeed: 7000,
        transition: 500
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_abstract.scss";

.section__advantage {
  margin-bottom: 80px;
}

.img-test {
  width: 100%;
  height: 100%;
  background: url(~@/assets/images/img-advantage.jpg) no-repeat;
  background-position: top center;
}
.advantage {
  position: relative;
  padding: 40px 0;
  img {
    margin: 30px 0 40px;
  }
  p {
    font-weight: 500;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    .advantage__el {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        top: -40px;
      }
    }
  }
  @include mappy-query(b-big) {
    padding: 40px 20px;
    &:nth-child(1),
    &:nth-child(2) {
      .advantage__el {
        position: relative;
        &:before {
          content: "";
          display: none;
        }
      }
    }
  }
}
.advantage__el {
  position: relative;
  p {
    b {
      font-size: modular-scale(1);
      color: $brand-primary-dark;
      display: block;
      margin-bottom: rhythm(1);
    }
  }
  @include mappy-query(b-medium) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.big-title {
  padding-top: 200px;
  padding-bottom: 40px;
  @include mappy-query(b-medium) {
    padding-top: 200px;
    padding-bottom: 100px;
    max-width: 700px;
  }
}

.studio__partners {
  position: relative;
  text-align: center;
  background: url(~@/assets/images/hooper-slide-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  h2 {
    margin: 0 auto;
    position: relative;
    color: $white;
    margin-bottom: rhythm(1);
  }
  ::v-deep .hooper {
    outline: none;
    height: auto;
    width: 100%;
    height: 100%;
    position: relative;

    .hooper-track {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    .hooper-slide {
      align-self: center;
      list-style: none;
      padding: 0;
    }
    .hooper-list {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
.slide__el {
  position: relative;
  width: 100vw;
  height: 90vh;
  p {
    text-align: left;
    position: absolute;
    max-width: 550px;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
  }
}
.carousel__navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.button__space {
  position: absolute;
  width: 80px;
  height: 50px;
  background: rgba(30, 178, 196, 0.5);
  &:hover {
    background: rgba($brand-secondary, 0.5);
  }

  &:first-child {
    position: absolute;
    right: 80px;
  }
  &:last-child {
    position: absolute;
    right: 0;
  }
  button {
    color: $white;
    appearance: none;
    border: 0;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.1s ease-in-out;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 35%;
    }
  }
}

.bloc-text--left {
  padding: 100px 40px 100px 70px;
}
.bloc-text--right {
  padding: 100px 70px 100px 40px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.l-f-grid__column--small {
  max-width: 40%;
  @include mappy-query(b-big) {
    max-width: 33.3333%;
  }
}
.l-f-grid__column--big {
  max-width: 100%;
  .l-f-grid {
    .l-f-grid__column {
      max-width: 100%;
      flex-basis: 100%;
      @include mappy-query(b-big) {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 50%;
        flex-basis: 50%;
      }
    }
  }
  @include mappy-query(b-big) {
    max-width: 66.6666%;
    flex-basis: 66.6666%;
  }
}

.section__article {
  padding-bottom: 100px;
  h4 {
    font-family: $subtitle-font-family;
    font-size: modular-scale(1);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p {
    font-size: modular-scale(-1);
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .article-title {
    font-size: 1em;
    margin-bottom: 40px;
  }
}
.article-side {
  display: none;
  top: 100px;
  @include mappy-query(b-medium) {
    display: initial;
  }
}
.fiche-space {
  height: auto;
  padding: 20px;
  margin-bottom: 45px;
  box-shadow: -5px -4px 10px rgba(202, 202, 202, 0.3);
  overflow: hidden;
  position: relative;
  background-color: $white;
  color: $black;
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.9);
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
    &:after {
      font-size: 0px;
      content: ".";
      position: absolute;
      border-bottom: 20px solid $gray-bg;
      border-left: 20px solid transparent;
      right: 0;
      bottom: 0;
    }
    .fiche-image {
      img {
        transform: scale(1.1);
      }
    }
  }
  .fiche-image {
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all 1s ease;
    }
  }
}
.article-feature {
  margin-bottom: 40px;
  color: $black;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    color: $brand-primary-dark;
  }
  &:hover {
    h4 {
      color: $brand-secondary;
    }
    p {
      color: $brand-primary-dark;
    }
  }
}
.section__popup {
  position: relative;
  background-image: url(~@/assets/images/image-overlay-popup.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 70px;
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  cursor: default;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    opacity: 0.9;
    &:after {
      font-size: 0px;
      content: ".";
      position: absolute;
      border-bottom: 20px solid $gray-bg;
      border-left: 20px solid transparent;
      right: 0;
      bottom: 0;
    }
  }
}
.popup {
  position: relative;
  padding: 100px 20px 80px 20px;
  color: $white;
  .bloc__text {
    z-index: 100;
  }
  h2 {
    font-size: modular-scale(3);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: rhythm(3);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 20%;
      height: 1px;
      background: $white;
      left: 0;
      bottom: -30px;
    }
  }
  .button__link {
    margin-top: 40px;
    .font-solid {
      margin-left: 20px;
    }
  }
  @include mappy-query(b-big) {
    padding: 100px 200px 80px 60px;
    h2 {
      font-size: modular-scale(5);
    }
  }
}
</style>
