<template>
  <div class="site-container">
    <header>
      <nav class="nav navbar">
        <ul class="nav__container l-constrain">
          <li class="nav__item nav__logo">
            <Logo />
          </li>
          <li class="nav__item nav__search">
            <SearchBar />
          </li>
          <li class="nav__item nav__links">
            <nav class="nav__item nav__links">
              <div class="nav__link">
                <g-link to="/">Accueil</g-link>
              </div>
              <div class="nav__link">
                <g-link to="/concept/">Concept</g-link>
              </div>
              <div class="nav__link">
                <g-link to="/pop-up/">Pop-up</g-link>
              </div>
              <div class="nav__link">
                <g-link to="/guide/">Guide</g-link>
              </div>
              <div class="nav__link">
                <g-link to="/contact/">Contact</g-link>
              </div>
            </nav>
          </li>
          <li class="nav__item nav__mobile">
            <NavMobile />
          </li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <slot />
      <CookieMessage />
    </main>
    <Footer />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Logo from "~/components/Logo.vue";
import Footer from "~/components/Footer.vue";
import SearchBar from "~/components/SearchBar.vue";
import NavMobile from "~/components/NavMobile.vue";
import CookieMessage from "~/components/CookieMessage.vue";
const OFFSET = 80;
export default {
  name: "Default",
  components: {
    Logo,
    Footer,
    SearchBar,
    NavMobile,
    CookieMessage
  }
};
</script>
<style lang="scss">
@import "../assets/scss/_abstract.scss";

html {
  box-sizing: border-box;
  // Affect global rem unit calculation
  font-size: $px-base-font-size-mobile;
  line-height: $base-line-height;
  ::selection {
    background-color: $brand-primary;
    color: $white;
  }

  @include mappy-query(b-small) {
    font-size: $px-base-font-size;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  // @include font-feature-settings("kern", "liga", "pnum");
  @include prefixer(font-smoothing, antialiased, webkit);
  background-color: $gray-bg;
  color: $primary-text-color;
  font-family: $base-font-family;
  -webkit-tap-highlight-color: transparent;
  &.js-menu-open {
    overflow: hidden;
  }
}

main {
  background: $gray-bg;
  position: relative;
  z-index: 1;
}

b {
  color: $black;
}

a {
  color: $brand-primary;
  text-decoration: none;
  &:hover {
    color: $brand-primary-dark;
  }
}

// Reusable flex grid
// Used for views grid display
//

.l-f-grid {
  @include overflow-wrap;
  @include mappy-query(b-medium) {
    display: flex;
    flex-wrap: wrap;
  }

  .l-constrain & {
    // Avoid gutters when grid is constrained
    @include mappy-query(b-medium) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
}

.l-f-grid__column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 100%;

  @include mappy-query(b-medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @for $i from 2 to 10 {
    .l-f-grid--cols-#{$i} & {
      @include mappy-query(b-medium) {
        flex-basis: (1 / $i) * 100%;
        max-width: (1 / $i) * 100%;
      }
    }
  }
}
.l-constrain {
  position: relative;
  margin: 0 auto;
  // @supports (display: grid) {
  //   display: grid;
  // }
  padding-left: 20px;
  padding-right: 20px;
  @include mappy-query(b-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: $l-big;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
h3 {
  font-size: 30px;
  font-weight: 500;
  font-family: $subtitle-font-family;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button__link {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  background-color: $white;
  padding: 12px 20px;
  color: $brand-primary;
  text-decoration: none;
  margin-top: 40px;
  transition: all 0.2s ease;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  &:hover {
    background: $brand-primary-dark;
    color: $white;
  }
  .font-solid {
    margin-left: 20px;
  }
}
.button__link--color {
  background: $brand-primary;
  color: $white;
  .font-solid {
    color: $white;
  }
}
</style>

<style lang="scss" scoped>
@import "../assets/scss/_abstract.scss";

.l-constrain {
  position: relative;
  margin: 0 auto;
  @include mappy-query(b-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: $l-big;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.navbar {
  z-index: 100;
  height: 80px;
  width: 100vw;
  background: $white;
  position: fixed;
  box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
  transform: translate3d(0, 0, 0);
  transition: 0.1s all ease-out;
}

.navbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  list-style: none;
  // padding: 60px 20px 25px 20px;
  // @include mappy-query(b-medium) {
  //   padding: 160px 60px 25px 60px;
  // }
}
.nav__logo {
  flex-grow: 1;
  display: block;
}
.nav__search {
  flex-grow: 6;
  display: none;
  @include mappy-query(b-small) {
    display: inherit;
  }
  @include mappy-query(b-medium) {
    display: none;
  }
  @include mappy-query(b-big) {
    display: inherit;
  }
}
.nav__items {
  list-style: none;
  padding: 0;
  .nav__item {
    text-transform: uppercase;
    font-size: $px-base-font-size-mobile;
    font-family: $subtitle-font-family;
    line-height: 1.5;
    position: relative;
    @include mappy-query(b-medium) {
      font-size: 25px;
    }
  }
}
.nav__links {
  width: 600px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  display: none;
  @include mappy-query(b-medium) {
    display: inherit;
  }
}
.nav__link {
  // position: relative;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  font-weight: 500;
  width: 100%;
  a {
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: $brand-primary-dark;
  }
  &:hover a {
    color: $white;
    background: $brand-primary;
  }
  .active--exact {
    color: $black;
    background: rgba($brand-primary, 0.5);
  }
}
</style>
